/* Co-branded */
[class*='column-'] {
/*    width: 100%;*/
    float: left;
    min-height: 1px;
}
.newboxinput{
    padding-bottom: 20px !important;
}
.mobcontinue{
    display: block !important;
}
/***********************GOBAL**************/

@media only screen and (min-device-width: 375px) and (max-device-height: 667px){
input[type="text"]{
    cursor: pointer;
}
input[type="text"]:focus{
    text-shadow: 0px 0px 0px #666;
    color: transparent;
}

}
body.modal-open{
    padding-right: 0px !important;
}

.modal{
    height:100%;
    right: -1px !important;
}
@media only screen and (min-device-width: 320px) and (max-device-height: 767px){
.modal.in .modal-dialog{
    /*position: absolute;*/
}
.expand{
    position: absolute !important;
    height: 1050px;
}
.mobmodaldiv{
    position: absolute !important;
}
.recaptchaarea>div div {
    width: 80%;
}
}



@media only screen and (min-device-width: 414px) and (max-device-height: 736px){
input[type="text"]{
    cursor: pointer;
    /*margin-left: 35px;*/ 
}
input[type="text"]:focus{
    text-shadow: 0px 0px 0px #666;
    color: transparent;
}
.rightdata {
	    margin-top: 10px;
	}	

}

body{
	font-family: 'Ubuntu', 'sans-serif' !important;
	font-size:13px;
        padding: 0px ! important;  /*bug*/
        
}
.noBorder{
	border: none !important;
	/* height: auto !important; */
}
input::-webkit-input-placeholder{ /* Chrome/Opera/Safari */
  color: #666 !important;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: #666 !important;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: #666!important;
}
input{
	color:#666;
}
select{
	position: relative;
	overflow: hidden;
	color: #666; 
	background: url('../images/co-brand/sort_dropdownarrow.png') right center no-repeat;
	background-position:97% 60%;
		
}
/* Remove dotted outline  for links [added for tooltips in Compare cards]*/
a {
   outline: 0;
}
.margT1{
	margin-top: 1%;
}
.pad2{
	padding: 2%;
}
.pad5{
	padding: 5%;
}
.pad10{
	padding: 10%;
}
.margT2{
	margin-top:2% !important;
}
.margT5{
	margin-top:5%;
}
.margT7{
	margin-top:7%;
}
.margT10{
	margin-top:10%;
}
.margT15{
	margin-top:15%;
}
.margT50{
	margin-top:50%;
}
.margL2{
	margin-left:2%;
}
.margL15{
	margin-left:15%;
}
.margL5{
	margin-left:5%;
}
.margR5{
	margin-right:5%;
}
.margR2{
	margin-right: 2%;
}
.margL10{
	margin-left:10%;
}
.margT20{
	margin-top:20%;
}
.margTB{
	margin:35% 0 !important;
}
.margB2{
	margin-bottom: 2%;
}
.margB5{
	margin-bottom: 5%;
}
.pad0{
	padding: 0 !important;
}
.padL6{
	padding-left:6%;
}
.padB10{
	padding-bottom: 10%;
}
.padLR15{
	padding: 0 15px;
}
.radio_btn_yes{
	margin-right:5%;
	width:auto;
	float:left;
}
/***********************GOBAL**************/
/***********************ABOUT YOURSELF PAGE **************/

.about .input{
	height: 50px;
}
.about select{
	width: 100% !important;
	height: 50px !important;
	padding-left: 1%;
}
.about .currentResidentialAddress , .about .name_inputBox, .about .companyAddress_box{
	width: 98%;
        	/*width: 100%;*/
}
.expand_content{
	
	text-align: center;
	border: none !important;
}
.expand_content img{
	cursor: pointer;
}
.textColor_orange{
	color: #F04D26;
}
.colorDarkBlue{
	color: #234C81;
}

.mandatory-field{
	color:#FF0004;
	font-weight: 100;
}
#dob{
	background: url('../images/co-brand/cal_icon.jpg') no-repeat 95% 50% transparent;
}
input[type="checkbox"]{
	vertical-align: middle;
/*	margin:0 !important;*/
}
	
.form_holder{
	width:95%;
	margin:0 auto;
	
}

.features{	
	position: relative;
}
.features_title{
	text-align:center;
	border:1px solid #E4E4E4;
	background-color: #F5F5F5;
}

.features_title p{
	text-align:center;
	font-weight: 600;
}
.features_desc{
	margin-top:1%;
	border:2px solid #E4E4E4;
}

/*------------ features_desc table starts here-----------------*/

.features_desc table td{
	padding:0;
	border-right: 2px solid #e4e4e4;
	width: 16.6667%;
}

.features_desc table td:last-child{
	border-right:0;
}

.features_desc table td:nth-child(n+6){
	display:none;
}

.features_desc table td:last-child{
	display:block;
	width:100%;
}

.features_desc table td .lifestyle_benefits,
.features_desc table td .free_flights_div{
	display:block !important;
}

.features_desc table td:last-child div{
	width:100%;
}
/*------------ features_desc table ends here-----------------*/

.features_desc .row .col-sm-2{
	border-right: 1px solid #E4E4E4;
	height:auto;
	padding:0;
}

.features_desc .row .col-sm-2:last-child{
	border-right: none;
}
.features_desc .row{
	display: -webkit-flex; 
	display: flex; 
}
.features_title .row > div{
	border-right: 1px solid #E4E4E4;
	height:50px;
	padding:1%;	
}
.features_desc ul li{
	list-style-type: disc;
	margin: 4%;
}
/* Bootstrap*/
.row{
	margin-left: 0;
	margin-right:0;
}
.about .col-sm-6{
	padding-left:0;
	padding-right:20px !important;
}
.heading_txt{
	font-size:20px;	
}
h3 {
    font-size: 14px;
    margin-top: 0;
}

 input[type="radio"]{
	margin: 0;
	width: 20px;
}
.termsAndConditions span div{
	padding-top: 3%;
}
.termsAndConditions .tc_wrapper{
	height: 150px;
	overflow: auto;
}
.termsAndConditions{
	padding: 3%;
	background-color: #EEEDEE;
	border: 1px solid #DDDDDD;
}
.terms-checkbox-holder{
	margin:2% 0;
	border-top:solid 1px #ccc;
	padding:2% 0;
	}
	
 .address .pincodeICICI{
/* margin-top: 16px !important;*/
 margin-left: -9% !important;
 width: 109%;
 height: 93%;  
 padding-left: 9%;
}
        

.name_ul,.residentialAddr_div .residentAddress, .permanentAddr_div .permanent_residentAddress,.companyAddr_div .companyAddress{
	border: 1px solid #ccc;
	list-style: outside none none;
	height:70px;
	padding-top:0.4%;
	border-radius: 5px;
        width:98%;
}
.residentAddress .address, .companyAddress .address, .permanent_residentAddress .address{
	list-style: outside none none;
	height:70px;	
	border-radius: 5px;
}
.address li{
	float:left;
	width: 33%;
	border-right: 1px solid #ccc;
	height:65px;
}
.address li:last-child{
	border:none;
}
.address .pincode{
	margin-top: 16px !important;
}
.name_ul li div:first-child{
	float:left;
	width: 33%;
}
.name_ul li:nth-child(2) div{
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
}
.name_ul li:last-child{
	border-right: none;
}
.residentAddress select, .companyAddress select, .permanent_residentAddress select{
	border: none;
	height:65px !important;
}
.name_ul li label, .address li span, .residentialAddr_div .residentAddress, .permanentAddr_div .permanent_residentAddress, .companyAddr_div .companyAddress{
	padding-left: 3%;
}
.name_ul li input, .address li input,.residentialAddr_div input, .companyAddr_div input, .permanentAddr_div input{
	outline-style:none !important;
	box-shadow:none;
	border-color:transparent;
	border: none;
	padding-left: 3%;
	color:grey;
	width:100%;
	margin: 1% 0 !important;
}
.name_ul li input[type="text"]:focus,.residentialAddr_div input[type="text"]:focus, .companyAddr_div input[type="text"]:focus, .permanentAddr_div input[type="text"]:focus{
	border: none !important;
}
.phoneNum_div div{
	padding: 0;
}
/***********************ABOUT YOURSELF PAGE **************/
bannerbutt {
	width: 100%;
	margin-top: 7%;
}
			
.button_blue{		
	background: #00488f;
	font-family: 'Ubuntu-Light';
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
	color: #fff;
	text-align: center;
	padding: 10px 25px;
	border: none;
	border-radius: 4px;
	margin-right: 5%;
}
			
.button_blue2 {
	background: #0059ac;
	font-family: 'Ubuntu-Light';
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
	color: #fff;
	text-align: center;
	padding: 10px 25px;
	border: none;
	border-radius: 4px;
	float: left;
}
.button_blue:hover,.button_blue2{
	color: #fff;
	outline : 0 none;
}
.button_thickBlue{
	background-color: #254D7D !important;
	text-align:center;
	padding: 2% 0;
	color:#fff;
	border-radius: 3px;
	width: 38%;
}
.button_thickBlue:hover, .nav_button:hover{
	color: #fff;
}
.nav_button{
	background-color: #254D7D !important;
	text-align:center;
	padding: 2% 0;
	color:#fff;
	border-radius: 3px;
	width: 22%;
}
.submit_button{
	text-align:center;
	color: #fff;
}

.free_flights_div{
	background: url('../images/co-brand/flight-vector-icon.png') no-repeat 0 0 transparent;
	background-position: top center;
	height:auto;
	margin-top:10px;
	width: 100%;
	
}
.free_flights_desc, .offer_link{
	color: #004a8e;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
	margin: 50% 0%;
	
}

.free_flights{
    padding: 25px 20px 0 5px !important; 
    margin-left: 10px;
	text-align:center;
}

.free_flights p{
	font-size: 11px;
	font-weight:bold;
}

.free_flights p:last-child{
	margin-top:50px;
}


.instant_approval{
	text-align:center;
	padding-top:1% !important;
	margin-top: 10px;
}

.instant_approval p{
	font-size:12px;
	font-weight:bold;
}
.apply_btn {
    background: #00488f;
    font-family: 'Ubuntu-Light';
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px auto;
    padding: 10px 0;
    text-align: center;
    width: 95px;
}
.apply_position{
	text-align: center;
}
.submit_btn {
    background: #2F57AA;
    font-family: 'Ubuntu-Light';
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    color: #fff;
    text-align: center;
    padding: 10px 78px !important;
    border: none;
    border-radius: 4px;
    margin: 8% 0;
}
.card_img_holder{
	padding : 4px;
	display: inline-block;
	width:100%;
}

.card_value{
	margin-top:5%;
	text-align:center;
	display:block;
}

.card_value span{
    font-size: 1.1em;
    font-weight: 600;
}

.benefits, .filter_img, .nav_arrow_mobile, .active_wrapper,.rangeMobile{
	display:none;
}

.apply_instantApproval{
	cursor:pointer;
	text-decoration: none;
}
.instAppr_button{
	margin-left: -10px;
	width: 119%;
}
.phoneNum_div li:first-child, .officePhoneNum_div li:first-child{
	width:25%;
	display:table-cell;
}
.phoneNum_div li:last-child, .officePhoneNum_div li:last-child{
	width:75%;
	display:table-cell;
}
/*ABOUT YOURSELF PAGE */
/* ----------Card details page --------- */

.swipe{
	background-color: #6392A9;
	color: #fff;
}
.swiptopband{
	
	height: 43px;
	background-image: url(../images/co-brand/swiptopband.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin: 40px 0px 25px 0px;
}

.swiptopbanddrop {
	padding: 4px 38px;
	z-index:1 !important;
}

.swiptopband img {
	display: inline-block;
	margin-left: 15px;
}

.swiptopband span {
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
	color: #fff;
	text-align: left;
	text-decoration:none;
	
}
.open > .swiptopbanddrop-menu {
	display: block;
}

.swiptopbanddrop a{
	text-decoration:none;
}
		
.swiptopbanddrop-menu {
	position:absolute;
	top:45px;
	left:25px;
	display: none;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	text-align: left;
	list-style: none;
	background-color: #5a94ab;
}

.swiptopbanddrop-menu:before {
	position: absolute;
	top: -7px;
	left: 50%;
	border-right: 7px solid transparent;
	 border-bottom: 7px solid #5a94ab;
	border-left: 7px solid transparent;
	content: '';
}

.swiptopbanddrop-menu li {
	margin: 5px 5px;
}

.swiptopbanddrop-menu li a {
	font-family: 'Ubuntu-Regular';
	font-size: 15px;
	font-style: normal;
	font-weight: normal;
	color: #fff;
	text-align: left;
	text-decoration:none;
}
		
.swiptopbanddrop select{
	border: none;
	margin-left: 5%;
	background: url('../images/co-brand/swipdrop.png') right center no-repeat;
	background-position:58% 60%;	
}
.cardDetails .cardLabel p{
	color: #018cd1;
	border-bottom: solid 1px #efefef;
	font-size:1.7em;
	padding-bottom:10px;
}

.cardDetails .sub-heading h2{
	font-size:1.2em;
	font-weight:500 !important;
	color:#000;
}

.cardDetails h2{
	font-size:1.7em;
	color:#018cd1;
}
.cardDetails .card{
	width: 60%;
	height: 135px;
	background-repeat: no-repeat;
   	background-size: contain;
   	border: 1px solid #ddd;
   	border-radius: 6px;
}
.card_display{
	/* padding: 2% 8%;*/
	background-color: #F5F5F5;
}

.cont-tc h2{
	font-size:1em;
	margin-bottom:5px !important;
	font-weight:500;
	color:#000;
	}
	
.cont-tc ul li{
	list-style-type:disc;
	margin-left:26px;
	
	}
.cont-tc ol li{
	list-style-type:decimal;
	margin-left:-16px;
}

.instAppr_button_holder{
	width: 141px;
    margin: 2% auto;
	}
	
.instAppr_button_holder ul{
    padding: 0;
	background-color:#27478C ;
	border-radius: 3px;
	text-align: left;
	}
	
	
.instAppr_button_holder ul li{
	list-style-type: none;
    display: inline-block;
    width: 48.9%;
    font-size: 0.8em;
	vertical-align: top;
	 margin: 0;
	}

.apply_instantAppr{
    border: 1px solid #27478C;
    cursor: pointer;
    padding: 10px 5px;
    background-color: #27478C;
    border-radius: 3px;
    font-weight: normal;
    color:#fff;
    font-size:12px;
}

.apply_instantAppr2{
    border: 1px solid #27478C;
    cursor: pointer;
    padding: 5px 2px;
    color: #27478C;
    background-color: #fff;
    border-radius: 3px;
}
.apply_instantAppr2 span{
	display:inline-block;
	vertical-align: middle;
}

.apply_instantAppr2 span:first-child{
	width:5%;
}
.apply_instantAppr2 span:last-child{
	width:90%;
	padding-left:10px;
} 
		
.instantAppr_button{
    background-color: #27478C;
	padding: 1.8% 7%;
    margin-left: -3%;
    border-radius: 0px 3px 3px 0px;
    color: #fff;
    cursor: pointer;
}
.instAppr_button_wrapper{
	width:auto;
}
.instAppr_button_wrapper .apply-inst{
	background: url('../images/co-brand/apply_icon.png') no-repeat 4px 6px transparent;
	background-size:25%;
}
.instAppr_button_wrapper .instantAppr_button{
	background:url('../images/co-brand/instant_icon_white.png') no-repeat 4px 6px transparent;
	background-color:#27478C ;
}
.apply{
	background: none;
	color: #27478C;	
	padding: 3.9% 6%;
	border-radius: 3px;
}

.apply_instantAppr p{
	padding:15% 0 0 20%;
}
.card_display .col-sm-6:first-child{
	border-right: 1px solid #ccc;
}

.apply_div{
	text-align: center;
	padding:3%;
}

.cardDetails_img_holder{
	padding: 5%;
    display: inline-block;
    width: 60%;
}

.cardDetails table{
	border: 1px solid #ccc;
}
.cardDetails table tr, .cardDetails table tr th, .cardDetails table tr td {
	border: 1px solid #ccc;
}
.cardDetails table thead th, table tbody td{
	padding: 8px 10px;
}
.cardDetails table ul, .cardDetails table li{
	list-style-type: unset;
    margin: 0;
    padding-left: 2%;
}
.cardDetails p, .cardDetails p + p{
	margin: 0;
}
.cardDetails .termsAndConditions{
	padding: 1%;
}
/* overriding jquery css for datatable */
.cardDetails tbody tr.even{
	background-color: #F1F1F1 !important;
}
.cardDetails table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1{
	background-color: #FFFFFF !important;
}
.cardDetails #offerSummary{
	border: 1px solid #ccc;
}
.cardDetails #offerSummary tbody td, #offerSummary thead th{
	border-right: 1px solid #ccc;
}
.cardDetails table thead th{
	border-bottom: 4px solid #9BDFFC !important;
}
.cardDetails table.dataTable.display tbody tr:hover > .sorting_1, table.dataTable.order-column.hover tbody tr:hover > .sorting_1{
	background-color: #fff;
}
/* overriding jquery css for datatable */

/* ----------Card details page --------- */
.bottom_padding{
	padding-bottom: 2%;
}


/* ----------Recommended Cards page --------- */


.banner{
	width: 100%;
	height:405px;
	background-image: url('../images/co-brand/rec_cards_banner 2.jpg');
	background-repeat: no-repeat;
	background-position:center;
	
}
.banner_textarea{
	width:auto;
	margin-top:14%;
	margin-left:10%;
}
.banner_textarea h1{
	font-family: 'bodebeck_regular';
	font-size: 32px;
	font-style: normal;
	font-weight: bold;
	/*color: #fff;*/
	color: #090909;
	text-align: left;
}
.choose_card{
	margin-left: 3%;
}
.banner_textarea h3{
	font-family: 'bodebeck_regular';
	font-size: 22px;
	font-style: normal;
	font-weight: bold;
	/*color: #fff;*/
        color: #090909;
	text-align: left;
}

.recommended_cards .features{
	margin: 0;
}
.filter_div{
	background-color:#E5E6E8;
	padding: 0.7em 0.5em 0.5em 0.5em;
	position: relative;
	font-size:1.1em;
	margin-top: 10px;
	margin-bottom: -15px;
}

.clearFilters{
    padding-right: 0;
}
.clearFilters span{
	background-color: #fff !important;
    border-radius: 3px;
    font-size: 0.9em;
    margin-left: 0px !important;
    padding: 4% 10% 4% 4%;
}
.clearFilters span:first-child{	
	background: url('../images/co-brand/clearfilters_icon.png') no-repeat 0 0 transparent;
    background-position: 95% 50%;
}
.clearFilters span:nth-child(2){	
	background: url('../images/co-brand/sortby.png') no-repeat 0 0 transparent;
    background-position: 95% 50%;
}
.freeFlights_calc{
	width:auto;
	height:auto;
	margin: 5px 0;	
}
input[type=number]::-webkit-inner-spin-button, 
	input[type=number]::-webkit-outer-spin-button { 
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
	    margin: 0; 
	}
.flight-calc-holder{
	width:100%;
	padding:1%;
	cursor: pointer;
	float:left;
/* 	margin-left: -4px; */
	position: relative;
	border: 1px solid #eee;
}
.flight-calc-holder span p:before{
	content: url('../images/co-brand/flight_black_icon.png');
}

.flight-calc-holder ul{
	margin:0;
	padding:0;
	list-style:none;
}
.flight-calc-holder ul li{
	display:inline-block;
	margin-right:10px;
}
.flight-calc-holder span p{
	color: #000;
	font-weight: 500;
	display: inline-block;
}

/*.flight-calc-holder p::after{    
    content: url(../images/co-brand/filter_dropdown.png);
    margin-left: 5px;
}*/


.freeFlights_calc strong{
	padding: 0 3%;
}
.recCards_title{
	text-align:center;
	color: #254D7C;
	font-size: 22px;
}

.recCards_title h2{
	border-bottom: solid 1px #e4e0e0;
    padding-bottom: 16px;
    font-size: 1.8em;
}
	
	
.orangeIcon{
	padding-right: 3%;
	display: inline;
}
.orangeIcon + p{
	display:inline;
}
.showAll{
	width: 146px;
    margin: 0 auto;
}
.btn_holder{
	text-align:center;
	margin-top:2%;
	}
	
.terms_conditions{
	margin-top:2%;
}
	
.terms_conditions p{
	font-size: 0.8em;
}
.banks_list{
	background-color: #fff;
    box-shadow: 8px 8px 6px -6px grey;
    font-size: 1em;
    left: 15%;
    margin-top: 3.5%;
    padding: 5px 15px 15px 15px;
    position: absolute;
    width: 300px;
    /*z-index:1;*/
    /*ams*/
    z-index: 3;
    border-radius: 5px;
}

.banks_list li{
	padding:0.3em;
}

.arrow-up{
	border-bottom: 15px solid #fff;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    height: 0;
    margin: 2.5% 0 0 18.5%;
    position: absolute;
    width: 0;
}
.slider_div{
	background-color: #fff;
    box-shadow: 8px 8px 6px -6px grey;
    font-size: 0.7em;
    left: 1.5%;
    margin-top: 1%;
    padding: 5px 15px 15px 15px;
    position: absolute;
    width: 350px;
    z-index:9;
    border-radius: 5px;
}

.slider_valu{
	width:100%;
    padding: 0 1% 2% 1%;
	font-size:13px;
	color: #000;
}



 .freeFlight_spends_calc{
	background-color: #fff;
    box-shadow: 1px 0 5px 1px grey;
    font-size: 0.7em;
    height: auto !important;
    left: 0;
    margin-top: 15.5%;
    padding: 5%;
    position: absolute;
    text-align: left;
    width: 403px;
    z-index: 1;
    border-radius: 5px;
 }
 .info_div{
	background-color: #E7FAFE;
	border: 1px solid #66A1A2 !important;
    font-size: 0.7em;
    height: auto !important;
    left: 80%;
    padding: 0 1% !important;
    margin-top: 3.5%;
    position: absolute;
    text-align: left;
    width: 181px;
    z-index: 1;
  }
  
 .info_div::before{
	content: '';
    display: block;
    position: absolute;
    right: 100%;
    top: 20%;
    margin-top: -10px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid #01ABEC;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent; 
	 
}

.info_div p{
	margin: 5px 5px;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    color: #000;
    text-align: left;
	
} 
  

 .freeFlight_spends_calc .arrow-up{
	margin: -4% 0 0 12% !important
}
.slider_div .arrow-up{
    margin: -4% 0 0 4% !important;
}
.spends_calc .arrow-up{
	margin:-3% 0 0 90% !important;
}

/* rangeslider__handle */
.slider_div .rangeslider__handle{
    top: -10px !important;
}
.slider_div .rangeslider__handle span{
	font-size: 1.5em;
}
/*  .spends_calc .rangeslider__handle{
	top: -10px !important;
 }
 .spends_calc .rangeslider__handle span{
	font-size: 0.9em;
    left: -26px;
    position: relative;
    top: -9px; 
    font-weight: 500;
 } */
.freeFlight_spends_calc .rangeslider__handle{
	padding: 8.5%;
	top: -30px !important;
}
.freeFlight_spends_calc .rangeslider__handle span{
	font-size: 1.4em;
    left: -28px;
    position: relative;
    top: -9px; 
    font-weight: 500;
}
.rangeslider__fill,.rangeslider__handle{
	background : rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(255, 177, 104, 1) 0%, rgba(255, 117, 19, 1) 100%) repeat scroll 0 0 !important;
		
}
.rangeslider__handle::after{
	background: none !important;
}
.rangeslider__handle{
	width: 28px !important;
	height: 28px !important;
}
.rangeslider__fill,.rangeslider__handle{
	background : rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(255, 177, 104, 1) 0%, rgba(255, 117, 19, 1) 100%) repeat scroll 0 0 !important;	
}
.rangeslider__handle span{
	font-size: 1em;
    left: -8px;
    position: relative;
    top: 30px; 
    font-weight: 500;
}
/* rangeslider__handle */
.flightRange_div .rangeslider__fill{

	background : rgba(0, 0, 0, 0) linear-gradient(to bottom, #90C3E5 0%, #025E9D 100%) repeat scroll 0 0 !important;
}
.banks_list img, banks_list span{
	margin-left: 5px !important;
}
.bank_logos{
    width: 20px;
}
.info_icon{
	height:14px;
	padding-left:4px;
}
.close_filter,.close_filters,.close_div{
	cursor: pointer;
    font-size: 12px;
    height: 20px;
    text-align: right;
	padding:1%;
}
/* Life Benefits */
.life_benefits_list input[type="checkbox"]{
	vertical-align: middle;
	/*margin: 6% 7%;*/
        /*ams*/
        margin: 6% 1%;
}

.life_benefits_holder{
	font-size:12px;
	width:400px;
 }
 .life_benefits_holder ul{
   
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2 auto;
  }
 
 .life_benefits_holder ul li{
	width: auto;
	cursor: pointer;
 }
 
.life_benefits_list .arrow-up{
	margin: -5% 0 0 5% !important;
}
.life_benefits_list{
	background-color: #fff;
    box-shadow: 8px 8px 6px -6px grey;
    font-size: 0.7em;
    left: 7%;
    margin-top: 3%;
    padding: 5px 15px 15px 15px;
    position: absolute;
    width: 400px;
    /*z-index: 9;*/
    /*ams*/
    z-index: 8;
    border-radius: 5px;
}
 .lifestyle_benefits, .card_listing_page .free_flights_div{
	display:none;
}

.life_benefits_icons , .life_benefits_icons_blue{
	padding: 0 5px;
}
.non_active_wrapper, .active_wrapper{
	width:18px;
	height: 20px;
}
.icons{
	display:inline-block;
}
/* .life_benefits_list li{ */
/* 	display: inline; */
/* 	font-weight: 0 !important; */
	
/* } */

.life_benefits_list li label span{
	/*display:inline-block;*/
	font-weight: 400;
	/*margin-left:10px;*/
        /*ams changes*/
        margin-left: 10px;
}

.banks_listing li label span{
	display:inline-block;
	font-weight: 400;
	margin-left:10px;
	font-size:12px;
}
.sort_listing{
	background-color: #fff;
    box-shadow: 8px 8px 6px -6px grey;
    font-size: 0.9em;
    left: 11%;
    margin-top: 7%;
    padding: 5px 12px 10px;
    position: absolute;
    width: 100%;
    z-index: 1;
    border-radius: 5px;
}
.sort_list li{
	padding: 2%;
	cursor: pointer;
}
.clearFilters .sort_listing .arrow-up{
	margin: -8% 0 0 40% !important;
}
.lounge{
	background-image: url(../images/co-brand/lounge.png);
	background-position:0;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.fuel{
	background-image: url(../images/co-brand/fuel.png);
	background-position:0;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.hotel{
	background-image: url(../images/co-brand/hotel.png);
	background-position:0;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.health{
	background-image: url(../images/co-brand/health.png);
	background-position:0;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.dine{
	background-image: url(../images/co-brand/dine.png);
	background-position:0;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.golf{
	background-image: url(../images/co-brand/golf.png);
    background-position: 0;
    background-repeat: no-repeat;
    width: 16px;
    height: 20px;
}

.insurance{
	background-image: url(../images/co-brand/insurance.png);
	background-position:0;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.movie{
	width:20px;
	height:21px;
	background-image: url(../images/co-brand/movie.png);
    background-position:0;
    background-repeat: no-repeat;
}






/* Life Benefits */

.list_cont{
   padding:2px 0 0 3px;
}

.list_cont ul{ 
  margin: 0px 5px 0 18px;/* Dev*/
  padding:0;
}
.trimmed{
	height:133px;
	overflow-y:hidden;
	position:relative;
}
.trimmed:after{
	content: "";
    position: absolute;
    top: 130px;
    width: 100%;
    background: #fff;
    height: 10px;
    left: 0;
}
.list_cont ul li{ 
  list-style-type: disc;
  font-size: 0.95em;
  padding-bottom:5px;
  margin:0;
}

.more_cont{
	width: auto;
    height: 160px;
    overflow: hidden;
	}
	
.collps_img{
	cursor: pointer;
    width: 10px;
    margin: 0 auto;
}

.collps_img img{
	width:100%;
	height:100%;
	
}
	
		
.button_red{
	background-color: #00488f;
    border-radius: 3px;
    color: #fff;
    padding: 5px 10px !important;
    font-size: 1.2em;
   
}
.filter_button{
	margin-top:5%;
}
.button_red a{
	color: #fff;
	font-size:1.5em;
	text-decoration: none;
}
.button_red:hover{
	background-color: #00488f;	
	color:#fff;
}
.details_link{
	margin-bottom:10%;
	text-align:center;
	
}

.select_compare{
	text-align:center;
	margin:10% 0;
	
}
	
.apply_card{	
	background: #2f57aa url("../images/co-brand/apply_icon_white.png") no-repeat scroll 7% 50%;
   margin:15%;
}
.annualSpends{
	font-size: 1em;
}
#spends_slider .annualSpends{
	margin-top: 40px;
}
.annualSpends_value{
	font-size: 1.2em;
}
[placeholder]:focus::-webkit-input-placeholder {
  color: transparent;
}

/* ----------Recommended Cards page --------- */
/* ----------------------------------------------MODALS -------------------------------*/
/* JP Number pop up */
.swiptopbanddrop-menu li{
	background-color: #5a94ab !important;
}
.jpNumber_div, .enroll_div,.abtYourself_div,.dob_div,.flightRange_div,.spendCapability_div,.annualIncome_div{
	background-color: #254D7D;
	padding: 10% 10% 12%;
	border-radius: 5px;	
	color: #fff;
}
 .Social_jpNumber_div{
	background-color: #254D7D;
	padding: 10% 10% 12%;
	border-radius: 5px;
	color: #fff;
	margin: 0 auto;
	width: 75%;
} 
.jpNumber_input{
	background: url('../images/co-brand/jpnumber.jpg') no-repeat 3% 50% transparent;
	border-radius: 3px;
	background-color: #fff;
	padding:2%;
}
.genotp{
    border-radius: 3px;
    margin-top: 20px;
}
.genbut{
    border-radius: 5px;
    height: 48px;
    padding: 10px 35px;
    padding: 10px 24px;
    margin: 0px 20px 0 0;
    background: #254d7d;
    color: #ffffff;
    width: 27.5%;
    display: inline-block;
    vertical-align: middle;
    float: left;
}
.geninput{
    /*width: 46.5%;*/
    width: 68.5%;
    height: 48px !important;
}
.otpsuccess {
    width: 100%;
    border: 2px solid #7dd62e;
    margin-top: 20px;
    /*height: 50px;*/
    padding: 13px 0 10px 37px;
    background: #f2fbe2 url(../images/icons/success_icon.png) no-repeat 5px;
}
.dob_input{
	background-image: url('../images/co-brand/DOB.jpg');
	background-position: 3% 50%;
	background-repeat: no-repeat, no-repeat;
	border-radius: 3px;
	background-color: #fff;
	padding:2%;
}
.dob_input .ui-datepicker-trigger, .dob .ui-datepicker-trigger{
	background: #fff;
}

.enroll_div .error , .abtYourself_div .error {	
		background-color: #254d7d;
}
.user_details .error{
	background-color: #fff;
}
.enroll_div div , .abtYourself_div div {
	
	border-radius: 3px;
	background-color: #fff;
	padding:2%;
	margin-bottom:4%;
}
.enroll_div  .title_select{
	width: 85%;
	margin-left:17%;
	background: rgba(0, 0, 0, 0) url("../images/co-brand/sort_dropdownarrow.png") no-repeat scroll 95% 55%;
}


.filter_div label, .filter_div span, .filter_icon, .freeFlights_calc strong, .info_icon,.close_div{
	cursor: pointer;
}
.title,.firstName_input,.middleName_input,.lastName_input{
	background: url('../images/co-brand/username_icon.jpg') no-repeat 3% 50% transparent;
	border-radius: 3px;
	background-color: #fff;
	padding:2%;
	margin-bottom:10px;
}
.lastName_input input{border:none;
    width: 90%;
    margin-left: 11%;}
.phone_input{
	background: url('../images/co-brand/mobileno_icon.jpg') no-repeat 3% 50% transparent;
	border-radius: 3px;
	background-color: #fff;
	padding:2%;
	margin-bottom:10px;
}
.phone_input input{border:none;  width: 90%;
    margin-left: 11%;}
.email_input{
	background: url('../images/co-brand/email_icon.jpg') no-repeat 3% 50% transparent;
	border-radius: 3px;
	background-color: #fff;
	padding:2%;
	border:none;
	margin-bottom:10px;
}
.email_input input{border:none;  width: 90%;
    margin-left: 11%;}
.city_input{
	background: url('../images/co-brand/city_icon.png') no-repeat 3% 50% transparent;
}
.password_input{
	background: url('../images/co-brand/password_icon.png') no-repeat 3% 50% transparent;
}

.jpNumber_input input{
	border: none;
	color: #000;
	width: 90%;	
	margin-left:11%;
}
.dob_input input{
	border: none;
	color: #000;
	width: 80%;	
	margin-left:11%;
}
.enroll_div input, .abtYourself_div input{
	border: none;
	color: #000;
	width: 88%;	
        /*change to width 90 if need*/
	margin-left:11%;
}
.dob_input input{
	width: 70%;
}
/* Tell me abt yourself pop up */

.enroll_div .title{
	width: 37%;	
	background: #fff url("../images/co-brand/username_icon.jpg") no-repeat scroll 10px 50%;
	display: inline-block;
	padding: 11px;
	
}
.abtYourself_div .title{
	padding: 2.5 !important;
}
.enroll_popup .firstName_input{
	display: inline-block;
	width: 60%;
	margin-left:2%;
}
.gender{
	background-color:#254d7d !important;
	display: inline-block;
	width: 53%;
}
.gender .radio-inline{
	vertical-align: text-top !important;}
.gender .gender_desc {
    margin-left: 20px;
}
.gender input[type="radio"]{
	margin-left: 0;
	width: initial;
}
.gender div{
	background-color:#254d7d;
	display: inline;
}
/* Tell me abt yourself pop up */
.enroll_div input:focus, .abtYourself_div input:focus, .title_select,.title_select:focus{
	border: none !important;
}
.jpNumber_input input:focus{
	border: none !important;	
}

.co-brand .modal-dialog{
	width: 840px;
}
.co-brand .jpNum_popup, .co-brand .enroll_popup, .co-brand .callme_popup, .userDetails_popup, #offer_jp_popup{
	padding: 3% 16%;
}
.left_slide{
	position: absolute; 
	left: 5%; 
	top: 48%;
	cursor: pointer;
}
.right_slide{
	position: absolute; 
	right: 5%; 
	top: 48%;
	cursor: pointer;
}
.mobile_arrows .right_slide{
	position: absolute; 
	right: 5%; 
	cursor: pointer;
	margin-top: -12%;
}
.filter_div .col-sm-1{
	width:10%;
} 
.filter_div .col-sm-3{
	width: 23%;
}
.filter_div .life_benefits_parent{
	width: 19%;
}
.filter_div .filter_icon{
	margin-right: 23%;
	margin-top: 4%;
}
nav.topNavigation{
	z-index: 0;
}
p , p+p{
	margin:0;
}
/*.ui-datepicker{
	width: 37%;
}*/
.flightRange_div{
	padding: 1% 10% 12%;
}
.flightFreq_content .flightRange_slider , .spendCapability_slider{
	border-radius: 2px;
	padding: 1.5%;
}
flightFreq_content .rangeslider {
	border-radius: 2px;
}
.slider_wrapper{
	background-color: #fff;
	border-radius: 3px;
}
.flightFreq_content .rangeslider--horizontal,.spendCapability_slider .rangeslider--horizontal{
	height:12px;
}

.spendCapability_slider .rangeslider__handle{
	background: rgba(0, 0, 0, 0) url("../images/co-brand/transparent_circle.png") no-repeat scroll 46% 51% !important;
	color:#254D7D;
	width: 65px !important;
	height: 65px !important;
	top: -29px !important;
	padding-top: 5%;
	text-align: center;
}
.spendCapability_slider .rangeslider__handle span{
	top: 2px;
	left: -2px;
}
.flightRange_slider	 .rangeslider__handle{
	background: rgba(0, 0, 0, 0) url("../images/co-brand/transparent_circle_flight_blue.png") no-repeat scroll 46% 51% !important;
	color:#254D7D;
	width: 45px !important;
	height: 45px !important;
	top: -20px !important;
	padding-top: 5%;
	text-align: center;
	border: none;
}
.spendCapability_slider .rangeslider__handle::after{
	background: none;
}
.flightRange_slider .rangeslider__handle:after{
	background: none;
}
.flightRange_slider .rangeslider .rangeslider__handle::after{
	/*background-image: url('../images/co-brand/jpnumber.jpg');;*/
}
/* Spend capability*/
.annualIncome_div{
	padding: 15% 0;
}
.spendCapability_div .slider_valu{
	color: #fff;
	padding: 0;
}
.spendValue{
	border-radius: 1px;	
	background-color: #fff;
	padding: 0;
}
.spends_forFlights{
	font-size:1.1em;
}
.spends_forFlights{
	padding-left: 40px;
	padding-right: 0;
}

.spendValue .rupee{
	background-color: #0070BF;
	display:inline-block;
}
.rupee_white_Icon{
	height: 15px;	
}
.rupee_black_Icon,.rupee_white_icon{
	height: 9.5px;
	padding-right: 3px;
	vertical-align: unset;
}
.annualSpends .rupee_black_Icon{
	height: 12.5px;
}
.spendValue .rupee span {
    font-size: 19px;
	padding:10px;
}
.spendValue .spendCapability_monthly{
	color: #0070bf;
	display:inline;
}

.spendCapability_monthly input{
    font-size: 1.2em;
	color: #0070BF;
	 width: 135px;
	height: 25px;
	border: none;	
}
.spendCapability_monthly input:focus{
	border: none !important;	
}
.spendCapability_div input[type="radio"], .annualIncome_div input[type="radio"]{
	margin-left: 7.5%;
}
.annualIncome_div span{
	margin-left: 4.5%;
}
 .annualIncome_div li{
	padding-left: 6%;
    padding-right: 0;
}
/* ---------------City------------------- */

[type="checkbox"]{
	margin:0;
}
.cities{
	height:auto;
}

.cities li{
	 display:inline-block;
	 width: 32%;
	 padding: 4%;
	 
}

.city_checkbox{
	width: auto;
	
	
}

.city_checkbox img{
	margin-bottom:7px;
	
}
.city_checkbox label{
	margin-bottom: 0;
	margin-left: 3%;
	cursor:pointer;
}
.city_img {
	height: 76px;
    width: 142px;
}
.city_img img {
	width: 100%;
	height: 100%;
}
.city_checkbox select{
	background: url('../images/co-brand/dropdown_arrow.png') right center no-repeat;
	background-position:100% 0;
	height: 27px;
}
.city_checkbox select{
	margin-top:-2%;
	width: 123px;
	border-color:#376EBD;
	border-radius: 3px;
	padding-left: 5px;
	margin-top:2px;
	margin-left:10px;
	padding:0 30px 0 0 !important;
   -webkit-padding-end: 30px !important;
   -webkit-padding-start: 0 !important;
	
}

/* --------------------------City----------------------- */
/*------------------------- Life style privileges------------*/
.privileges{
	height:auto;
}

.privileges li{
	 display:inline-block;
	 width: 32%;
	 padding: 3%; 
}

.priv_checkbox img {
    height: 100%;
    width: 100%;
}
.priv_checkbox label,.city_checkbox label{
	margin-bottom: 0;
	color: #28468E;
}
.loaddiv {
    width: 100%;
    background: rgba(114, 114, 114, 0.75);
    /*position: fixed;*/
    top: 0;
    display: flex;
        /*padding-bottom: 140%;*/
    
    /*bottom: -57px;*/
    /*padding-bottom: 140%;*/
}
.loaderamex {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 115px;
    height: 115px;
    -webkit-animation: spin1 2s linear infinite;
    animation: spin1 2s linear infinite;
    margin: 25% auto;
}
@-webkit-keyframes spin1 {
  0% { -webkit-transform1: rotate(0deg); }
  100% { -webkit-transform1: rotate(360deg); }
}

@keyframes spin1 {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*------------------------- Life style privileges--------------*/
/* ----------------------------------------------MODALS -------------------------------*/
.features_desc .card_name{
	background-color:#27478D;
	padding:4%; 
}
.features_desc .card_name h2{
	color:#fff;			
	font-size:0.9em;
	font-weight:bold !important;
	margin:0;
}

.card_img img, .card_img2 img {
	width:100%;
	height:100%;
	margin-right:0;
	
	}
	
.filter_img{
    position: fixed;
    bottom: 100px;
    display: block;
    z-index: 5;
    height: 42px;
    width: 42px;
    right: 11px;
	cursor:pointer;
	display: none;
	}
.filter_img img{	
   width:100%;
   height:100%;
}

ul.datetimth {
    margin-top: 0;
    margin-bottom: 10px;
    /*display: -webkit-box;*/
    display:block;
}
li.yearly {
    width: 49%;
    margin-right: 5px;
    float: left;
}
li.month {
    width: 49%;
    float: right;
}

/*-------compare card----------*/

.compare_card_holder{
	width: 100%;
    background: #005aaa;
    padding: 15px 0;
}

.compare_card{	
	width: 50%;
	margin: 0 auto;
}

.compare_card ul{
	list-style: none;
	margin:0;
	padding:0;
}
	
.compare_card ul li {
	margin-right:10px;
	display:inline-block;
	vertical-align:text-top;
}
	
.card_holder{	
	width: 80px;
	height:50px;
	background:#2c4983;
	display:inline-block;	
}

.card_holder img{width:100%;}	
	
.CrdHP_btn_compare, .CrdRC_btn_compare{
	width: auto;
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 13px;
    color: #005aaa;
    background-color: #FFFFFF;
}
	
.compare_btn_holder{
	margin:10px;
}		
/* Approval denied page */
.msgWrapper{
	padding: 0 12%;
}

.msgDenied_div h1, .msgApproved_div h1{
	 font-size:1.8em;
}

.msgDenied_div p, .msgApproved_div p{
	 font-size:1.1em;
	 font-weight:100;
	 margin-bottom:1%;
}

.msgDenied_div span a{
	 font-size:0.9em;
	 font-weight:100;
	 color:#ffffff;
}

.msgDenied_div , .msgApproved_div{
	background-color: #27478D;
    border-radius: 3px;
    color: #fff;
    padding: 7% 7%;
    text-align: center;
	position:relative;
}
.otherCards{
	color: grey;
	text-align: center;
}

.buttonBlue3{
	background-color: #2F58A8;
    border-radius: 3px;
    color: #fff;
    padding: 10px 20px;
	font-weight:100;
}
.buttonBlue_rec{
	background-color: #2F58A8;
    border-radius: 3px;
    color: #fff;
    padding: 2% 4%;
	font-weight:100;
}
.denied-close-icon{
   width: auto;
   height: auto;
   position: absolute;
   text-align: center;
   top: -26%;
   left: 43%;	
}
.pending-icon{
width: auto;
   height: auto;
   position: absolute;
   text-align: center;
   top: -18%;
   left: 43%;
}
.success-icon{
width: auto;
   height: auto;
   position: absolute;
   text-align: center;
   top: -13%;
   left: 43%;
}

.denied-close-icon img{width:100%; height:100%;}

/* Approval denied page */


/* Compare cards */
.compare_cards{
   /* margin-left: 13.4%;*/
    width: 100%;
}
.compare_cards_table{
	width: 1300px;
	margin: 0 auto;
}
.card_image{
	width: 139px;
	height: 91px;
	margin: 0 auto;
}
.card_image img{
	width: 100%;
	height: 100%;
}
.compareCards,.joiningBenefits_table{
	table-layout: fixed;
}
.compareCards th{
	border-top: 1px solid #ddd;
}
.compareCards th, .compare_cards_table td, .joiningBenefits_table td{
	width: 20%;
	padding: 1.5% 4%;
	border-right: 1px solid #ddd;
	text-align: center;
	vertical-align:top;
	
}
.compareCards th:first-child , .joiningBenefits_table th:first-child{	
	width: 11.4% ;
	border-top: none;
	box-shadow: 5px 0 4px -4px #aaa;
}

.compare_cards_table .card_name, .compare_cards_table .bank_name{
	color: #56B1EF;
	height:50px;
}
.compareCards tr{
	padding-bottom: 1%;
	border-bottom: 1px solid #ddd;
}
.joiningBenefit{
	margin-top: 0.2%;
}
.joiningBenefit{
	background-color:#ddd;
	padding: 0.2% 0 0.2% 1%;
	/* margin-bottom: 0.2%; */
}
.compare_cards_table tr{
	padding-bottom: 1%;	
}
.compare_cards_table td{
	border-bottom: 1px solid #ddd;
}
.joiningBenefits_table td:first-child ,.compare_cards_table td:first-child{
	padding: 1%;
	width: 11.4%;
	border-bottom: none;
	box-shadow: 5px 0 4px -4px #aaa;
}

.compareCards td:first-child{
	padding: 0 !important;
	vertical-align: top;
}
.card_significance_tag, .joiningFee{
	background-color: #ddd;
    padding: 1%;
}
.joiningBenefit h6::after {
	content: url('../images/co-brand/acord_down.png');
	margin-left :10px;
}
.disclaimer{
	
}
/* Compare cards */

/* ----------Card listing page start --------- */

.cont_area {
    width: 100%;
    margin: 30px 0px;
}

.cont_area h1 {
    font-size: 1.3em;
    font-style: normal;
    font-weight: 700;
    color: #000;
    background: #e5e7e8;
    padding:10px 20px;
}
.message_header h1{
	font-size: 2em;
    font-style: normal;
    color: #000;
    background: #e5e7e8;
    padding:10px 20px;
}
.filterarea2 {
    width: 100%;
    padding: 30px 15px;
}

.filterarea2 ul{
	list-style:none;
	width:100%;
	
	}
.filterarea2 ul li{	
  width: auto;
  padding: 3px;
  display: inline;

 }
	
	

.filterarea2 li >span {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    color: #000;
    text-align: left;
    float: left;
    vertical-align: middle;
    margin-top: 7px;
}

.filterareadrop2 {
    margin: 0px 10px;
    width: 25%;
    float: left;
}

.filterareadrop2 >select {
    font-family: 'Ubuntu';
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    color: #000;
    text-align: left;
    background: #fff;
    padding: 5px 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../images/co-brand/dropwhite.png) no-repeat;
    background-position: 97% 11px;
    text-indent: 0.01px;
    width: 100%;
    float: left;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border: 1px #ddd solid;
}

/* Header freeze*/

.fixed {
	position: fixed;
	top: 110px;
	width: 1004px;
	z-index: 9;
	background: #fff;
}
/* Header freeze*/
.fixed_compare_card_holder{
	position: fixed;
	bottom: 0;
	z-index: 9;
}
/* ----------Card listing page end --------- */
/* Proceed pop up */
#proceed_modal .modal-body{
	border-color: #469de0;
    border-radius: 2px;
    border-style: solid;
    border-width: 4px 1px 1px;
}
.proceed_popup_title{
	border-bottom: 1px solid #8FD5F5;
	padding-bottom: 2%;
}
.proceed_popup_title h2{
	display: inline;
	font-size: 1.5em;
}
.proceedPopup_close{
	display: inline;
	width: 20px;
	height: 20px;
	cursor: pointer;
}
.proceedPopup_close img{
	width: 100%;	
}
.card_toProceed .card_display, .card_toProceed{
	background-color: #EEEDEE;
}
.card_toProceed .card_display, .card_details{
	width: 50%;
	float: left;
}
.membershipNo_div{
	border-bottom: 1px solid #ddd;
}
.proceedToBank{
	font-size: 15px;
	padding: 10px 19px;
}
.card_details{
	border-left: 1px solid #ddd;
}
input[type="radio"]{
   -webkit-appearance: radio;
}

/* Error message division */
.error_box,.error_box1,.error_box2,.error_box_enrolStatus{
	background: #ffeceb url("../images/co-brand/error_icon.png") no-repeat scroll 10px 10px !important;
    border: 1px solid #ed4136;
    max-height: 90px;
    overflow-y: auto;
    padding: 7px 20px 7px 42px !important;
    color: #000;
}
.error_box .error_list,.error_box1 .error_list1,.error_box2 .error_list2{
	padding: 1%;
}
.error_box .error_list .error,.error_box1 .error_list1 .error,.error_box2 .error_list2 .error{
	
	color: #000;
}
.error_box1 p li,.error_box .error_list li,.error_box1 .error_list1 li,.error_box2 .error_list2 li{
	list-style-type: disc !important;
}
.pwd_error_content{
	margin-left: 20px;
}
.error_box1 .error_list1 .pwd_error_content li{
	list-style-type: circle !important;
}
/* Error message division */
/* Tooltips */
a.tooltips {
    position: relative;
    display: inline;
    
    padding-left: 3px;/*dev*/
}
a.tooltips .tooltip_content {
    position: absolute;
    width: 135px;
    color: #555;
    background: #e8fbfe;
    height:auto;
    font-style: normal;
    padding:7px;
    text-align: center;
    visibility: hidden;
    border: 1px solid #09bdbe;
    box-shadow: 1px 1px 5px #888;
    font-size: 12px !important;
    line-height:15px !important;
    text-align: left !important;
    font-weight:normal !important;
    margin-left: 27px;
    left: -44px;
    top: 25px;
}

a.tooltips .tooltip_content:after {
    content: '';
    position: absolute;
    top: -10px;
    left: 17px; /* dev */
    width: 0;
    height: 0;
   
    
    border-bottom: 10px solid #00AEEF;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
   
}
a.tooltips .tooltip_content:focus{
	border: none !important;
}
/*a:hover.tooltips span {
    visibility: visible;
    z-index: 999;
}*/
.ui-widget-header .ui-icon{
	background-image: url("../images/header/ui-icons_454545_256x240.png");
	top: 65% !important;
}
/* body.modal-open {
    overflow: scroll;
}
.modal{
	overflow-x:hidden !important;	
	overflow-y:hidden !important;	
	position: absolute;
} */
.info_box{
	background: #E8FBFE url("../images/co-brand/info_blue_icon.png") no-repeat scroll 10px 5px;
	border-radius: 3px;
	padding: 5px;
	border: 1px solid #09BDBE;
}
/*
.spends_calc .slider{
	position: relative !important;
}
*/
.spends_calc{
	border: 1px solid #eee;
	width: 100%;
        float:left;
	        padding-bottom:20px;
	        margin-bottom: 5px;
}
.spends_calc .slider_division{	
	padding: 15px 3px 35px 15px;
	display: inline;
}
.slider_division .slider{
	padding-left: 0 !important;
	padding-top: 5px;
}
.spends_calc .startVal, .spends_calc .endVal{	
	display: inline;
}
.annualSpends_wrapper{
	margin: 10px 0;
}
/*#spends_slider .rangeslider__handle{
	padding: 34.5px;
	top:-32px;
}
#spends_slider .rangeslider__handle span{
	font-size: 1.1em;
    left: -32px;
    position: relative;
    top: -10px; 
    font-weight: 500;
}*/
#spends_slider .modal-dialog{
	width: 600px;
}
.rangeslider--horizontal{
	height: 8px !important;
}
/* ----------- added by developer--------- */
.error{
	color: red;
	font-size: 12px;
	padding: 5px 0;
 	border: none; 
}
input.error, textarea.error{
    outline:red groove thin;
}
.slider_view li{
	display: inline-block;
}
.slider_view li:first-child{
	width: 45px;
}
.slider_view li:nth-child(2){
	width: 70%;
}
.slider_view li:nth-child(3){
	/* width: 120px; */
	padding-left: 8px;
}
.errorMsg , .successMsg{
	font-size: 1.5em;
}
.abtYourself_div .custom_error{
	background-color: #254D7D;
}
.fName,.mName,.lName span{
	padding-left:5px;
	
}
.tc{
	/* height: 209px; */
	overflow: hidden;
}

.error_msg_recommend{	
	font-size: 12px;
	color: red; 
	display:none;
	text-align: center;
}

#additionInfo table th{
	font-weight:400;
}
.proceed a:hover{
	text-decoration:none !important;
}
.jpMiles_content p, .jpMiles_content span, .jpMiles_content div{
	display:inline;
}

.card_significance p, .card_significance span, .card_significance div{
	display:inline;
}
.morecontent span {
    display: none;
}
.morelink {
    display: block;
}
/* To get native momentum scrolling on iOS 5+ */
html { 
    /*sprint 52*/
    /*overflow: scroll;*/ 
    -webkit-overflow-scrolling: touch;
}
.ui-autocomplete {
    z-index: 99999; /* adjust this value */
}
.no_cards{
	/* padding: 10%; */
	padding-top: 63px;
	text-align: center;
	font-size: 15px;
	color: red;
	
}
.blink_text {

    animation:1s blinker linear infinite;
    -webkit-animation:1s blinker linear infinite;
    -moz-animation:1s blinker linear infinite;

     color: red;
    }

    @-moz-keyframes blinker {  
     0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
     }

    @-webkit-keyframes blinker {  
     0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
     }

    @keyframes blinker {  
     0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
}
.jpPopup_header{
	font-size:1.3em;
}
.enroll_here{
	color: #fff;
}
.enroll_here:hover, .enroll_here:focus {
	color: #fff;
	text-decoration: underline;	
}
input.input-validation-error {
        border: 1px solid #ff0000 !important;
        background-color: #FF0000;
}
.my-error-class {
    color:#FF0000;  /* red */
}
.dob{
width: 88%;
display: inline-block;
}
.dob .ui-datepicker-trigger{
display :none;
}
.datepicker_icon{
display: inline-block;
background: transparent none repeat scroll 0px 0px;
 margin-top: 22px;
 vertical-align: top;
}
.datepicker_icon img{
vertical-align: super;
}
body.modal-open {
 overflow: hidden;
}

/* Call me button */
#social-profiles {
    display: block;
    position: fixed;
    right: 0;
    /*top: 70%; sprint 55*/
    top:78%;
    background-color: #004a80;
    height: 55px;
    width: 160px;
    margin-top: -150px;
	border-radius: 44px 0 0 44px;
    z-index: 99;
		cursor: pointer;
}
#social-profiles h5{
	color:#FFF;
	float: right;
   /*margin-right: 20px;*/
    /*sprint 56*/
    margin-right: 13px;
    margin-top: 17px;
/*font-size: 20px;*/
    font-size: 17px;
	}
#social-profiles img{
	float:left;
	margin:14px 0 14px 27px;
	}

.notMember{
	background-color: #254D7D !important;
}

/* Call me button */
/*App Num - Amex form */
.appNum_div{
	float: right;
}
.add_bullet{
	border: 2px solid #254D7D;
	padding: 10px;
}
.add_bullet ul li{
	list-style-type: disc;
	text-align:left;
	margin-left: 30px;

}
.add_bullet p{
	font-size: 20px;
	color: #234C81;
	text-align:left;
	font-weight: 500;
}
/* #mini_jp_popup .modal-dialog{width: 840px;}
#mini_jp_popup .jpNum_popup h2{
	margin-top: 0;
}
#mini_jp_popup .jpNum_popup{
	padding: 5% 17%;
} */

.offer_header{
	background-color:#27478d;
	color:#fff;
}
.text-center.margT11>a {
    background-color: #254e7d!important;
    text-align: center;
    padding: 2% 0;
    border-radius: 3px;
    margin: 0 15px;
    padding: 8px 10px;
    width: 40%;
    display: inline-block;
    cursor: pointer;
}
.text-center.margT11>a:hover {
    text-decoration: none;
}

.text-center.margT11 >a >h1 {
    font-size: 20px;
    color: #fff;
    font-weight: normal;
    margin: 0px 0px 0px 0px;
}

.text-center.margT11 >a >span {
    color: #fff;
    font-size: 12px;
}

.margT11 {
    margin-top: 5%;
}

.askingPopup{
    padding: 3% 17% !important;
}

.askingPopup-modal-dialog {
    width: 750px;
    /*margin: 200px auto;*/
}

.userWithCreditCardPopup {
    width: 100%;
    padding: 10px 20px;
    display: table;
}
.userWithCreditCardPopup >p {
    font-size: 17px;
    font-weight: normal;
    text-align: justify;
    color: #254daa;
}
 .midareabtn{
    float: left;
    width: 100%;
    margin: 30px 0px 0px 0px;
}

.viewCobranCards {
    width: 50%;
    font-size: 16px;
    color: #fff;
    padding: 8px 0px;
    background: #254e7d;
    border-radius: 5px;
    margin-right: 30px;
    margin-left: 10px;
    float: left;
    cursor: pointer;
}
.viewCobranCards:hover,.viewCobranCards:focus {
    color: #fff !important;
    text-decoration: none !important;
    }
.upgradeNow {
    width: 32%;
    font-size: 16px;
    color: #fff;
    padding: 8px 0px;
    float: left;
    background: #254e7d;
    border-radius: 5px;
    cursor: pointer;
}
.upgradeNow:hover,.upgradeNow:focus{
    color: #fff !important;
    text-decoration: none !important;
}

.hdfc_popup{
     margin-top: 150px;
    position: fixed;
}

.notifytext {
    background: #254e7d;
    color: #ffffff;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
    padding: 3em 4em 3em 4em;
    border-radius: 7px;
    margin-top: 1.5em;
}

.appbutton {
    margin-top: 40px;
    margin-bottom: 20px;
}

button.later {
    border-radius: 5px;
    background: #254e7d;
    width: 24%;
}

button.completenow {
    border-radius: 5px;
    background: #254e7d;
    width: 24%;
    margin-right: 20px;
}

.appbutton h1 {
    font-size: 14px;
    color: #ffffff;
    margin-top: 15px;
    margin-bottom: 15px;
}

p.toppad {
    padding-top: 20px;
}

p.toppad2 {
    padding-top: 5px;
    padding-bottom: 20px;
}

.msgtrigger_div.margT5 >h1 {
    margin-top: 10px;
}
.msgtrigger_div {
    background-color: #27478d;
    border-radius: 3px;
    color: #fff;
    padding: 1% 5% 3% 5%;
    text-align: center;
    position: relative;
}
.msgtrigger_div h1{
    font-size: 1.8em;
}





/*
input[type="text"]{
    color : transparent;
    text-shadow : 0 0 0 #000;
}
input[type="text"]:focus{
    outline : none;
}*/
/*@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
.viewCobranCards {
    width: 100%;
}
.upgradeNow {
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
}
}


// iPhone 6 ----------- /
@media only screen and (min-device-width: 375px) and (max-device-height: 667px){
.viewCobranCards {
    width: 100%;
}
}

// iPhone 6+ ----------- /
@media only screen and (min-device-width: 414px) and (max-device-height: 736px){
.viewCobranCards {
    width: 100%;
}
}

// Samsung Galaxy S4 ----------- /
@media only screen and (min-device-width: 320px) and (max-device-height: 640px){
.viewCobranCards {
    width: 100%;
}
}


// Samsung Galaxy S5 ----------- /
@media only screen and (min-device-width: 360px) and (max-device-height: 640px){
.viewCobranCards {
    width: 100%;
    margin-left: 10px;
}

.upgradeNow {
    width: 100%;
    margin-top: 10px;
}

}*/
/*.modal {
   top: 100px !important;

}*/

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
.askingPopup-modal-dialog {
    width: 100%;
    /*margin: 200px auto;*/
}
.text-center.margT11>a {
    margin: 0;
}
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) {
.askingPopup-modal-dialog {
    width: 100%;
    /*margin: 200px auto;*/
}
.text-center.margT11>a {
    margin: 0;
}
}
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) {
.askingPopup-modal-dialog {
    width: 100%;
    /*margin: 200px auto;*/
}
.text-center.margT11>a {
    margin: 0;
}
}
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) {
.askingPopup-modal-dialog {
    width: 100%;
    /*margin: 200px auto;*/
}
.text-center.margT11>a {
    margin: 0;
}
}

@media only screen and (min-device-width: 412px) and (max-device-height: 732px) {
.askingPopup-modal-dialog {
    width: 100%;
    /*margin: 200px auto;*/
}
.text-center.margT11>a {
    margin: 0;
}
}
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) {
.askingPopup-modal-dialog {
    width: 100%;
    /*margin: 200px auto;*/
}
.text-center.margT11>a {
    margin: 0;
}
}
/*new footer css*/

.grid-Container.grid-Container960 {
 width: 960px;
 margin: 0 auto;
}

.row-Container.jp-mainFooter {
 margin: 12px 0px;
 width: 100%;
 float: left;
 margin-bottom: 3px;
}
.iphoneFooter1{
    margin-bottom: 0px;
}
.brickImgCont >img {
    max-width: 100%;
}
.jp-padL10 {
 padding-left: 10px;
}

.column-md-3 {
 width: 25%;
}

.jp-footerColumn1 ul.jp-footerNavigation li {
 height: 24px;
 overflow: hidden;
}
footer .footerNavigation li a {
 color: #000!important;
}
.jp-footerR1C1, .jp-footerR1C2, .jp-footerColumn2, .jp-footerColumn3 {
 padding: 0 10px;
}
.jp-mediumFont {
 line-height: 20px;
 font-size: 13px;
 margin-top: -3px;
}
.jp-mediumFont span {
 display: block;
}
.txtmarginT20 {
 margin-top: 20px !important;
}
.txtmarginT29 {
 margin-top: 26px !important;
}
.txtmarginT25 {
 margin-top: 19px;
}
.jp-footerColumn4 .jp-footerNavigation {
 padding-top: 10px;
 width: 163px;
 height: 182px;
 margin-top: -9px;
}
.jp-footerLeftBlackTxt {
 text-align: left;
 padding-bottom: 10px;
 margin-top: -4px;
 color: #222;
 font-weight: bold;
 font-size: 13px;
 display: block;
 padding-top: 3px;
}
.exticonMargin {
 margin-left: 5px;
}
.ui-hidden-accessible {
 position: absolute !important;
 height: 1px;
 width: 1px;
 overflow: hidden;
 clip: rect(1px,1px,1px,1px);
}
.brickImgCont {
 height: 182px;
 width: 163px;
}
.column-wd-9 {
 width: 75%;
}
.win-blue-icon {
 background-position: -44px -10px !important;
}
.new-window-icon {
 width: 9px;
 height: 9px;
 display: inline-block;
}
.jppl-sprites {
/* background: url(/iwov-resources/css/images/icons/jppl-images-sprite2.png);*/
    background: url(../images/footer/jppl-images-sprite.png) no-repeat left top;
 background-repeat: no-repeat;
}
.extImageIcon {
 padding-left: 5px;
}
.jp-socialLinksContainer {
 float: left;
 margin-bottom: 0px;
}
ul.jp-socialLinks {
 display: block;
 /*display: -webkit-inline-box;*/
}
ul.jp-socialLinks li {
 display: table-cell;
 padding-left: 0;
 padding-right: 20px;
 line-height: 16px;
 padding-top: 2px;
}
ul.jp-socialLinks li a {
 line-height: 16px;
 font-size: 24px;
 display: inline-block;
}
.social1 {
 background-position: -10px -91px;
}
.sm-icon {
 width: 26px;
 height: 26px;
 display: inline-block;
 border: solid 0 #f00;
}
footer .jp-copy {
 float: none;
 text-align: left;
 padding-left: 10px;
 padding-top: 22px;
}
footer .jp-copy ul.jp-footerlogos {
 display: inline-table;
}
footer .jp-copy ul.jp-footerlogos li {
 padding: 2px 0;
 display: table-cell;
}
/*new css*/
.bottomfooterlogo{
    background: url(../images/footer/new-footer-logo.png) no-repeat left top;
    height: 30px;
    width: 220px;
    display: block;
}
/*end*/
.jp-copy ul.jp-footerlogos li a, .jp-jetfooterLogoDivider {
/* background: url(../images/footer/footer-logo.png) no-repeat left top;
 height: 35px;*/
}

a.etihadFooterLogo {
 background-position: 0 0 !important;
 width: 69px !important;
 height: 24px;
}
.jetfooterLogo, .etihadFooterLogo, .jetfooterLogoDivider {
 display: inline-block;
 text-indent: -99999em;
}
a.jetfooterLogo {
 background-position: -68px 0 !important;
 width: 155px;
 margin-left: -5px;
}
.column-wd-12 {
 width: 100%;
}
.jp-win-black-icon-pos {
 position: relative;
 top: 0;
 left: 0;
}
span.jp-infoFooterTxt {
 padding-left: 12px;
 padding-right: 0;
 width: 100%;
 text-align: left;
 font-size: 11px;
 color: #222;
}
.jp-copyright-block {
 float: none;
 margin-top: 8px;
 margin-bottom: 13px;
 font-size: 11px;
 color: #666;
}
.jp-win-blue-icon {
 background-position: -44px -10px !important;
}
.jp-new-window-icon {
 width: 9px;
 height: 9px;
 display: inline-block;
}
.jp-jppl-sprites {
 background: url('../images/footer/jppl-images-sprite.png');
 background-repeat: no-repeat;
}

@media only screen and (max-width: 767px) {
.jp-footerColumn2, .jp-footerColumn3, .jp-footerColumn4 {
 display: none;
}
.jp-padL10 {
 padding: 0 0 0 10px;
 position: relative;
}
.iphoneFooter1 {
 float: left;
 /* width: 17%; */
     margin-bottom: 0px;
}
.iphoneFooter2 {
 float: right;
 padding-right: 26px !important;
     margin-bottom: 0px;
}
.jp-footerLeftBlackTxt {
 text-align: center;
 padding-left: 0;
 padding-bottom: 10px;
 margin: 4px 0 0 -10px;
 padding-top: 0;
}
[class*='column-']{
    width: 100%;
}
.jp-socialLinksContainer {
     display: block !important;/*new*/
 text-align: center;
 float: none;
 position: relative;
 margin-top: 0;
 margin-bottom: 0;
}
.grid-Container.grid-Container960{
 width: 100%;
 /* margin-bottom: 5px; */
}
.jp-mainFooter {
 margin: 12px 0 0 !important;
}
.jp-socialLinks {
 position: relative;
 left: 50%;
 transform: translateX(-50%);
}
.jp-socialLinksContainer {
 text-align: center;
 float: none;
 position: relative;
 margin-top: 0;
 margin-bottom: 0;
}
ul.jp-footerNavigation.jp-socialLinks li {
 display: inline-block;
}
ul.jp-socialLinks li {
 width: auto;
 display: inline-block;
 margin: 0;
 margin-top: 0;
 padding-right: 10px;
}
footer .jp-copy {
 padding-left: 0;
 padding-bottom: 3px;
 text-align: center;
 padding-top: 5px;
}
.jp-copy ul.jp-footerlogos li a, .jp-jetfooterLogoDivider {
/* background: url(../images/footer/footer-logo.png) no-repeat left top;
 height: 30px;
 width: 160px;*/
}
.jp-marL10 {
 margin-left: 10px;
}
span.jp-infoFooterTxt {
 width: 99% !important;
}
.jp-win-black-icon-pos {
 position: absolute;
 display: inline-block;
 margin-top: 2px;
}
span.jp-infoFooterTxt {
 /* padding-left: 10px; */
 display: inline-block;
 line-height: 12px;
}
.jp-copyright-block {
 text-align: center;
 margin-left: -30px;
 margin-top: 5px;
 margin-bottom: 5px;
}
.column-sm-12{
    width: 100%;
}
.navn{
    position: absolute;
    width: 100%;
    z-index: 0;
    bottom: -151px !important;
    height: auto !important;
    display: block !important;
}
.terms_conditions {
    margin-top: 2%;
    margin-bottom: 5px;
}
footer {
    border-top: 1px solid #0072bc;
}
}

.social1 {
    background-position: -10px -91px;
}
.social2 {
    background-position: -46px -91px;
}
.social3 {
    background-position: -82px -91px;
}
.social4 {
    background-position: -118px -91px;
}
.social5 {
    background-position: -154px -91px;
}
.social6 {
    background-position: -190px -91px;
}
li.rescity{
    width:34%;
}
.aheadiv{
    background: #07498c;
    padding: 10px 15px;
    font-size: 12px;
    color: #ffffff;
    float:left;
}
.imagebar {
    width: 578px;
}
.donebut {
    float: left;
    width: 65px;
    background: #06498d;
    text-align: center;
    padding: 9px;
    border-radius: 3px;
    color:#ffffff;
    margin-left:20px;
    cursor: pointer;
}
.amtvalue{
    text-align:right;
    padding:20px 8px;
}
input#unranged-value1 {
      float: left;
    padding: 9px 0 8px 10px;
    width: 77px;
    border: 1px solid;
    border-radius: 0px;
    height: 37px;

}
/*.modal-content {
    float:left;
}*/
.range-example-modal.asRange {
    width: 470px;
}
.imagebar1 img {
    width: 485px;
}
.amtvalue1{
    text-align: right;
    padding: 20px 8px 40px;
    position: absolute;
    margin-top: 28px;
    margin-left: 132px;
}
input#unranged-value2 {
    float: left;
    border-radius: 0px;
    width: 80px;
    height: 37px;
}
.infodown {
    padding: 20px 0 30px;
    text-align: center;
    float: left;
    width: 100%;
    margin-left: 140px;
    margin-top: 20px;
    padding-bottom:6px /*new*/
}
.extest{
    width:100%;
    float:left;
    padding-top:30px;
}
/*.modal-body {
    display: flow-root;
}*/
.calculatemiles {
    /*display: flow-root;*/
    display: inline-block;
    

}
.donebut_compare {
    float: left;
    width: 65px;
    background: #06498d;
    text-align: center;
    padding: 9px;
    border-radius: 3px;
    color:#ffffff;
    margin-left:30px;
    cursor: pointer;
}
.range-example-9.asRange {
    width: 575px;
}
.rightdata9 {
    padding-left: 49px;
}
.rightdata {
    padding-left: 0px;
}
.imagebar9 img {
    width: 590px;
}
.slider_error_div{
    color:red;
    display: inline-block;
    font-size: 12px;
    margin-left: -24px;
}
.slider_modal_div_error{
    color:red;
    display: inline-block;
    font-size: 12px;
    margin-left: -16px;
    padding-left: 145px;
    padding-bottom: 22px;
}
.slider_error_div_compare{
    color: red;
    display: inline-block;
    font-size: 12px;
    /* margin-left: 18px; */
    padding-left: 34px;
}

input#permanentAddress {
    width: 98%;
}
/*sprint 52*/
.about .col-sm-4{
	padding-left:0;
	padding-right:20px !important;
}
.about .col-sm-8{
	padding-left:0;
	padding-right:20px !important;
}
input[disabled] {
  background-color: #f8f8f8;
  /*-webkit-text-fill-color: rgba(0, 0, 0, 1) !important;*/
  -webkit-opacity: 1 !important;
      color: #666 !important;

}
.inputwidthinfo{
    width: 100%;
    float: left;
}
.takeallwidth{
    width:93%;
    float: left;
    margin-bottom: 10px;
}
.promoinfo {
    width: 30px;
    float: left;
    padding: 17px 0 0 20px;
}
input#jpNumpopup{
    
    color: #ffffff !important;
}
input#callMeContine{
    
    color: #ffffff !important;
}
/*sprint 54*/
.successcallbut, .successcallbut:hover {
    text-align: center;
    width: 40%;
    display: inline-block;
    cursor: pointer;
    background-color: rgb(37, 78, 125) !important;
    border-radius: 3px;
    /* margin: 0px 15px; */
    padding: 8px 8px;
    color: #ffffff;
    /* background-color: #264f7b; */
    /* border-color: #ccc; */
    /* padding: 1% 15%; */
    font-size: 1.3em;

}
.modal-footer {
    padding: 15px;
    text-align: center !important;
     border-top: none !important; 
}
.modal-header {
    /*padding: 15px 15px 0px 0px !important;*/
    padding:8px 6px 4px 0px !important;
     border-bottom: none !important; 
}
.modal-content.sizer {
    width: 675px;
    margin-left: 9%;
    margin-top: 20%;
}
/*sprint 55*/
.inputwidthinfo{
    width: 100%;
    float: left;
}
.takeallwidth{
    width:93%;
    float: left;
    margin-bottom: 10px;
}
.promoinfo {
    width: 30px;
    float: left;
    padding: 17px 0 0 20px;
}