@media only screen and (width : 482px) {
/*            .amextooltip{

       margin-left: 24px !important;
       width: 130px !important
}*/
#social-profiles{
    top: 31% !important;
}
}
@media only screen and (width : 640px) {
            .amextooltip{

       margin-left: 20px !important;
    width:122px !important;
} 

.amexheightwidth{
    
}
a.tooltips {
    padding-left: 0px;
}
}
@media only screen and (width : 360px) {
            .amextooltip{

       margin-left: 24px !important;
       width: 135px !important
} 

.amexheightwidth{
    
}
a.tooltips {
    padding-left: 0px;
}
}

@media only screen and (width : 411px) {
            .amextooltip{

       margin-left: 24px !important;
       width: 135px !important
}
#social-profiles{
    top: 59% !important;
}
}
@media only screen and (width : 731px) {
            .amextooltip{

       margin-left: 24px !important;
       width: 135px !important
}
#social-profiles{
    top: 71px !important;
}
}
@media only screen and (width : 823px) {
            .amextooltip{

       margin-left: 24px !important;
       width: 100px !important
}}

@media only screen and (width : 320px) {
            .amextooltip{

       margin-left: 24px !important;
       width: 130px !important
}}
@media only screen and (width : 568px) {
            .amextooltip{

       margin-left: 24px !important;
       width: 105px !important
}}

@media only screen and (width : 375px) {
            .amextooltip{

       margin-left: 24px !important;
       width: 140px !important
}
#social-profiles{
    top: 56% !important;
}
}
@media only screen and (width : 667px) {
            .amextooltip{

       margin-left: 24px !important;
       width: 124px !important
}}

@media only screen and (width : 414px) {
            .amextooltip{

       margin-left: 24px !important;
       width: 145px !important
}}
@media only screen and (width : 736px) {
            .amextooltip{

       margin-left: 24px !important;
       width: 137px !important
}}

@media only screen and (width : 812px) {
            .amextooltip{

       margin-left: 24px !important;
       width: 100px !important
}

.promoinfo {
    width: 29px;
    /*float: left;*/
    /*padding: 17px 0 0 20px;*/
}
}

@media only screen and (width : 768px) {
            .amextooltip{

       margin-left: 24px !important;
       width: 100px !important
}

.promoinfo {
    width: 28px;
    /*float: left;*/
    /*padding: 17px 0 0 20px;*/
}
}

@media only screen and (width : 1024px) {
            .amextooltip{

       margin-left: 24px !important;
       width: 100px !important
}

.promoinfo {
    width: 28px;
    /*float: left;*/
    /*padding: 17px 0 0 20px;*/
}
}

@media screen and (max-device-width : 767px) {
	
	/*Call me button */
	#social-profiles {
	    right: 9px;
	    height: 45px;
	    width: 45px;
		/*top:59%; sprint 55*/
                top:53%;
	    margin-top: 97px;
		border-radius: 23px;
	}
	#social-profiles h5{
		display:none;
		}
	#social-profiles img{
		margin-top: 8px;
	    margin-left: 7px;
		}
/*Call me button */
	.label_joining>label {
	    display:block;
	    padding-left: 16px;
	    color: #004a8e;
	    font-size: 15px;
	}
	/*header footer changes 01-03-17 */
	.login .clearfix ul li:nth-child(2){
		text-align: right !important;
	}
	
/* developer's code */

.features_desc .row .col-sm-2:last-child {
    border-top: 1px solid #ccc;
}
.free_flights_desc, .offer_link{
	margin: 0;
	text-align: left;
	padding: 5px 20px;
}
 .nav_arrow_mobile{
		display:block;
    }
	#error_msg_city{
		padding-right: 0;
	}
	.gender div{
		padding-right: 5%;
	}
	.dob_input input{
		width: 200px;
	}
	.life_benefits_holder {
		/*margin:0 10px;*/
                /*ams*/
                margin: 0 2px;
	}
	
	.heading_txt {
    font-size: 20px;
	}
	.gender .radio-inline{
	padding-left: 5px !important;
	}	
/* developer's code */	
	/* .modal {
		overflow: hidden !important;
		position: absolute;
	} */
/*    top recommended cards start css  */
	
	.banner {
		margin-top: 13%;
	}
	.container{
		padding: 0 5px !important;
	}
	.innerContainer {
		width: 100%;
		padding: 0 !important;
	}

	.button_blue {
		margin-bottom:20px;
		margin-right:0px;
		padding: 10px 38px;
		margin-top:20px;
	}

	.webView, .benefits_web,.nav_web,.rangeWeb{
		display:none;
	}
	
	.spends_calc .arrow-up {
		margin: -4% 0 0 46% !important;
	}

	.card_img_holder {
		padding: 3px;
		display: inline-block;
		width: 100%;
		border-bottom:1px solid #dedddd;
	}

	.card_img img {
		width: 40%;
		height: 100%;
		margin-right:5%;
	}

	.card_value {
		margin-top: 5%;
		text-align: center;
		display:inline;
	}

	.free_flights_div {
		text-align: center;
		width: 50%;
		border-right: 1px solid #ccc;
		float:left;
	}

	.free_flights p:last-child {
		margin-top:50px;
	}

	.select_compare{
		float:left;
		margin: 5% 0 5% 5%;
		
	}
		
	.details_link {
		margin :5% 5% 5% 5%;
		text-align: left;
		float: left;
                width:100%;
	}

	.compare_card {
		width: 100%;
		margin: 5px 0;
		text-align:center;
	}

	.btn_holder {
		text-align: center;
		margin: 5% 0;
	}

	.filterarea2 {
		width: 100%;
		padding: 10px 15px;
	}	
		
	.filterarea2 li >span {
	   float: none;
	}

	.filterareadrop2{
		float: none;
		margin:10px 0 0 0;
		width:100%;
	}

	.filterareadrop2 >select {
		float: none;
	}		

/*    top recommended cards end css  */


	.instAppr_button_holder {
		margin: 2% auto;
        width: 141px;
	}
		
	.benefits{
		display:block;
		float:left;
		width: 50%;
		padding-left: 5% !important;
	}
	.features {
		margin: 0;
	}
	.platinum_card{
		text-align:center;
	}
	.title_aboutYourself{
		font-size:20px !important;
	}
	.about {
		margin:0;
	}
	
	.form_holder {
		width: 100%;
		margin: 0;
	}
   
   .about .col-sm-6 {
		padding-left: 0;
		padding-right: 0px !important;
    }
	
	.instant_approval p{
		display: inline;
	}
	
	.features_desc .row .col-sm-2 {
		border-right:none;
		height: auto;
    }
	
	
	.benefits label{
		font-size: 13.4px;
		margin: 15% -9%;
	}
	.submit_button{
		padding: 3% 0 5% 0;
	}
	.features_desc .row, .filter_img, #userDetails .proceedPopup_close,.rangeMobile,.mob_view{
		display: block;
	}
	.spendValue .rupee{
		padding: 0 6% 2.5%;
	}
	.apply_position{
		/*float:right;*/
		margin: 0 auto;
       width: 140px;
	}
	.instant_approval {
		text-align: center;
		font-size: 12px;
		border-top:solid 1px #dedddd;
		border-bottom:solid 1px #dedddd;
    } 
    .boxinput span{
            margin: 0px 0;
            /*width: 84%;*/
        }
        .termscheckbox{
            margin: 10px !important;
        }
	/* Card details */
    
	.cardDetails{
		padding: 0;
	}
    
    .cardDetails .card{
		width: 100%;
	}
	.cardDetails table tbody tr:nth-child(2n) td{
		display:block;
		background-color: #F0F1F1;
	}
	.cardDetails table tbody tr:nth-child(2n+1) td{
		display:block;
		background-color: #fff;
	}
	.cardDetails table thead{
		display:none;
	}
	.mobbottombord {
		background-color: #fff !important;
		border-bottom: 4px solid #8ddffe !important;
		font-size: 15px !important;
		font-weight: bold !important;
	}
	hr{
		display:none;
	}
	.swiptopbanddrop select{
		margin-left:10%;
	}
	
	/* *******************Recommended Cards  ************************** */
	.free_flights_desc{
		padding: 14% 0;
		border-right: 1px solid #ccc;
		text-align: center;
		width: 50%;
		float:left;
		margin:5px 0 0 0;
	}
	.filter_title{
		padding:5% 0;
	}
	
	.filter_title ul{
		padding: 0;
       margin: 0;
       list-style: none;
	}
	
	.filter_title ul li:first-child{
		width:90%;
		text-align:center;
		font-weight:bold;
	}
	
	
	.filter_tab{
		border-style: solid;
		border-width: 1px 0 1px 0;
		border-color: #ccc;
		margin-right: -5px;
	}
	.filter_tab li{
		padding: 3%;
		text-align: center;
		width: 48.5%;
		cursor: pointer;
	}
	.filter_tab .filter{
		background: #ccc;
	}
	
	.sort_div{
		border: 1px solid #ccc;
		border-radius: 3px;
		padding: 3%;
		background: url('../images/co-brand/sortby.png') no-repeat 97% 57% transparent;
	}
	
	.filter-btn-holder{
	     width: 100%;
         margin-top: 15%
		}
		
	.filter-btn-holder ul{
	   padding: 0;
       margin: 0;
       list-style: none;
	   text-align: center;
	}
	
	.filter-btn-holder ul li{
		text-align:center;
		font-weight:bold;
		display:inline-block;
	}
	
	.clearFilters{
		background: url(../images/co-brand/clearfilters_icon.png) no-repeat 0 0 transparent;
		background-position: 82% 50%;
		background-color: #cecece !important;
		border-radius: 3px;
		font-size: 1.2em;
		padding: 8% 10%;
		width: 120px;
		text-align: center;
		cursor:pointer;
	}

	.apply-btn{
			background-color: #80b30a !important;
			border-radius: 3px;
			color: #fff;
			font-weight: normal;
			font-size: 1.2em;
			padding: 8% 10%;
			width: 120px;
			text-align: center;
			margin-left: 4px;
			cursor:pointer;
	}	
		
		
	.cardDetails, .recommended_cards{
		padding:0;
	}
	.filter_div{
		display: none;
	}
	.freeFlights_calc{
		padding:0;
		width:100%;
	}
	.filter_area .banks_list{
		position: unset;
		width:100%;
		box-shadow: -4px 0 15px -3px grey;
	}
	 .sort_listing .sort_list{
		position: unset;
		width:100%;
			
	}
	.sort_listing{
		left: 0;
		box-shadow: -4px 0 15px -3px grey;
		position: relative;
		margin-top: 3%;
	}
	.sort_list li{
		padding: 1% 3%;
	}
	.filter_area .filter_content{
		position: unset;
		width:100%;
		box-shadow: -4px 0 15px -3px grey
	}
	.filter_area .life_benefits_list{
		padding:0;
	}
	.filter_area .lifeBenefits_table td{
		padding: 5px 4px;
	}
	.filter_area .dropdown{
		float: right;
		cursor: pointer;
	}
	.filter_area .arrow-up{
		margin: -2% 0 0 2.5% !important;
	}
	.sort_listing .arrow-up{
		margin: -3% 0 0 2.5% !important;
	}
	.filter_area .filter_names{
		font-weight: bold;
	}
	.filter_wrap span:first-child{
		padding: 1%;
	}
	.benifits_icon{
		margin-left:3%;
	}
	.apply_card {		
		border-radius: 5px;
		margin-left: 65%;
		margin-top: 46%;
		padding: 5% 17% !important;
		width: 30%;
	}
	.lifestyle_benefits{
		float: right;
		margin-right: 5%;
		margin-top: 5%;
		display: block;
		text-align: center;
	}
	
	.lifestyle_benefits:after{ clear:both;}
	
	.lifestyle_benefits-img{
		width:80%;
		height:auto
	}
	
	.benifits-img-holder{
		 width:100%;
		 height:auto;
		
	}
	.benifits-img-holder img{
		width:100%;
		height:100%;
		
	}	
	
	.benefits_icon img{
		width: 92%;
		height: 99px;
	}
	 /* Provide JP number */
	.co-brand  .jpNum_popup, .co-brand  .enroll_popup, .co-brand  .callme_popup, .userDetails_popup,#offer_jp_popup{
		padding: 12% 0;
	}
	.co-brand  .modal-dialog{
		width: auto;
	}
	#spends_slider .modal-dialog{
		width: auto;
	}
	.modal-body{
		padding: 5px !important;
	}
	.cities li{
		padding: 0;
	}
	.privileges li{
		padding: 2%;
		width:49%;
	}
	.annualIncome_div{
		padding: 1% 0;
	}
	
	/* Compare cards */

	.joiningBenefits_table td:first-child, .ongoingPrivileges_table td:first-child, .airlinePrivileges_table td:first-child, .compare_cards_table td:first-child, .renewalBenefits td:first-child{
		box-shadow: 0 8px 6px -6px #aaa;
		font-weight: 500;
	}
	.compare_cards_table{
		width: 100%;
	}
	
	.compare_cards_table table thead th, .compare_cards_table table tbody td{
		width: 100% !important;
		display: block;
		border-right: none;
	}
	
	.accordian_table h6{
		font-size: 1.2em;
		font-weight: bold;
	}
/* 	.joiningBenefit h6, .ongoingPrivileges h6, .airlinePrivileges h6, .renewalBenefits h6, .travelPrivileges h6{ */
/* 		background: transparent url("../images/co-brand/acord_down.png") no-repeat scroll 95% 50%; */
/* 	} */
	.compare_cards{
		margin-top: 20%;
		padding: 0 !important;
		margin-right: 0;
		margin-left: 0;
		width: 100%;
		
	}
	.compare_cards .freeFlights_calc{
		padding: 3%;
		border: none;
	}
	
	
	/*-- denied page css --*/	

	.msgDenied_div, .msgApproved_div {
		padding: 6% 10%;
		text-align: center;
	   }
	   
	 .denied-close-icon {
		width: 20%;
		height: auto;
		top: -21%;
		left: 40%;
	   }  

	.margTB{ margin:0 !important; padding:5% !important;}

	/* Proceed pop up*/
	.card_toProceed .card_display, .card_details{
		width: 100%;
		font-size: 1.2em !important;
	}
	.card_toProceed .card_img_holder{
		border-bottom: none;
	}
	.proceed_popup{
		margin-top: 10%;
	}
	/* Proceed pop up */
	/* Spend per month popup */
	.spends_forFlights{
		padding: 0;
		text-align: center;
		margin-top: 10% !important;
	}
	/*FILTERS */
	.slider_div .rangeslider__handle{
		top: -10px !important;
	}
	
	/* Fixed slider in home page */
	.spends_calc .slider_wrapper{
		padding: 10px;
	}
	.spends_calc .slider_division{
		border-right: none;
	}
	.spends_calc .slider_valu{
		padding: 2% 1% 6% 1%;
	}
	.spendsSlider_popup .slider_valu{
		padding: 2% 1% 7% 1%;
	}
	#spends_slider .annualSpends{
		margin-top: 10%;
	}
	ul.socialLinks{width:auto !important;}
	.slider_view{
		display: block;
	}
	.slider_view li:nth-child(2) {
		width: 100%;
		padding: 15px 10px;
	}
	.slider_view li:nth-child(3) {
		width: 120px;
		float: right;
		margin: -60px -58px 10px 0;
	}
   
	/* .annualSpends_wrapper{
		margin: -10px 0 5px 0;
	} */
	.rangeslider__handle span{
		left: -3px;
		font-size: 0.8em;
	}
	.rangeWeb{
		display: none !important;
	}
	.errorMsgContainer div {
		font-size: 150px;
	}
	.errorMsgContainer {
		margin: 55px 0;
	}

	.errorMsgContainer div .page_not_found{
		margin-left: 0;
		margin-top: 60px;
	}
        /*sprint 52*/
        .about .col-sm-4{
	padding-left:0;
	padding-right:0px !important;
}
.about .col-sm-8{
	padding-left:0;
	padding-right:0px !important;
}
/*.life_benefits_list input[type="checkbox"]{
	vertical-align: middle;

	margin: 6% 1%;

}*/
/*sprint 52 end*/
.takeallwidth{
    width:88%;
}
}

@media screen and (min-device-width: 320px) and (max-device-width : 480px) {
	.banner_textarea h1{
		font-size: 31px;
	}
	.details_instantApproval{
		margin-top:0;
		float:right;
    }	
	.platinumCard{
		text-align:left;
		font-size: 1em !important;
	}
	.fees{
		margin-left:0;
		font-size:11.4px;
	}
	.free_flights{
		padding: 25px 20px 0 5px !important;
    } 
    .features_desc{
		background-color: #EFEFEF;
    }    
  
	.name_ul{
		height: 63px;
                width:100%;
	}
	.address li{
		height: 67px;
	}
	.residentialAddr_div .residentAddress, .permanentAddr_div .permanent_residentAddress{
		height: 69px;
	}
	.lifestyle_benefits label {
		margin-top: 8.5%;
	}
	.instant_approval {
    text-align: center;
    
    font-size: 12px;
	border-top:solid 1px #dedddd;
	border-bottom:solid 1px #dedddd;
/*margin-right: 31%;*/
    } 
	
	.instant_approval .margT10{
		margin-top:10px;
	}
   
    
    /* Card details */
    .instantAppr_button{
		padding: 6% 1%;
	}
	.apply{
		padding: 6%;
	}
	.apply_div{
		margin-bottom: 5%;
	}
	.card_display .col-sm-6:first-child{
		border-right: none;
	}
	.cardDetails table ul{
		padding-left: 5%;
	}
    /* Card details */
   
     /* DOB */
     
	.dob_input input{
		width: 63% !important;
	}
	.dob{
		width: 85%;
	}
       /* DOB */
     /* Flow arrows */
    .nav_arrow_mobile{
		width: 100%;
    }
    .left_nav{
		width: 25%;
		text-align: center;
		display: inline-block;
		cursor: pointer;
		vertical-align: top;
    }
    .continue_button{
		width: 50%;
		text-align: center;
		display: inline;
    }
    .right_nav{
		width: 25%;
		text-align: center;
		display: inline-block;
		cursor: pointer;
		vertical-align: top;
    }
	
	/* Flow arrows */ 
	.button_thickBlue{
		padding: 17px;
		width:45%;
	}
	.jpNumber_div, .enroll_div, .abtYourself_div{
		padding: 10% 4% 12%;
	}
	.modal{
		/*overflow:scroll !important;	
		margin-top: 15%;*/
	}
	.flightRange_div{
		padding: 1% 10% 12%;
	}
	/* city */
	.city_img{
	  width: 100%;
	}
	
	.cities li {
    display: inline-block;
    width: 49%;
    padding: 4%;
    }
    
    .city_checkbox img {
    margin-bottom: 7px;
    width:100%;
	}
	
	.city_checkbox select {
    margin-left: -1px;
	}
	
	.privileges li {
    padding: 2%;
    width: 49%;
    font-size:12px;
    }
	.spendCapability_slider{
		margin-top:10%;
	}
	.spendValue .rupee span {
	
	font-size: 2.7em;
	}
	.spendCapability_monthly span{
		font-size: 1.5em;
		vertical-align: super;
	}
	.annualIncome_div li{
		display:block;
		margin-top:5%;
		text-align:left;
		font-size: 2em;
	}
	.annualIncome_div li div{
		display: inline;
	}
	.annualIncome_div li .spendValue{
		padding: 5%;
	}
	.annualIncome_div input[type="radio"]{
	 vertical-align: baseline;
	 }
	 
	 /* Success page */
	 .msgWrapper{	 
		padding: 0;
		margin-top: 15%;
	 }
	 .message{
		font-size: 1.5em;
	 }
	 .errorMsg , .successMsg{
		font-size: 1em;
	}	
	/* Compare cards */
	
	.card_significance_tag, .joiningFee{
		margin-top: -3px;
		margin-right: -1.5%;
	}
	a.tooltips .tooltip_content{
		left: -133px;
	}
	a.tooltips .tooltip_content::after{
		left: 103px;
	}
	.spendCapability_slider .rangeslider__handle{
		top: -30px !important;
	}
	.spendCapability_div .rangeslider__handle span{
		font-size: 1em;
		font-weight: 500;
		left: -2px;
		position: relative;
		top: 12px;
	 }
	.enroll_div .title select{
		background: rgba(0, 0, 0, 0) url("../images/co-brand/sort_dropdownarrow.png") no-repeat scroll 99% 55%;
		padding-left: 3%;
	}
	.enroll_div .title{
		width: 44%;
		padding: 12px;
	}
	.enroll_div div, .abtYourself_div div{
		padding: 10px;
	}
	.enroll_div input, .abtYourself_div input{
		width: 70%;
	}
	.gender{
		width: 52%;
	}
	.gender div{
		padding-right: 0;
	}
	.enroll_div .firstName_input{
		margin-left: 0;
		width: 54%;	
	}
	.lifestyle_benefits{
		margin-right: 11%;
	}
	.apply_card_button{
		margin-top: -2% !important;
	}
        .about .currentResidentialAddress, .about .name_inputBox, .about .companyAddress_box {
    width: 100%;
}
.name_ul, .residentialAddr_div .residentAddress, .permanentAddr_div .permanent_residentAddress, .companyAddr_div .companyAddress {
    width: 100%;
}
}


@media screen and (min-device-width: 320px) and (max-device-width : 480px) and (orientation:landscape){ 
	/*header footer changes 01-03-17 */
	.logoSection .right {
		width: 36% !important;
	}
	
	.spendValue{
		height: 48px;
	}
	.spendValue .rupee{
		padding: 0 6% 0;
	}
	/* .instAppr_button_holder{
		width: 32%;
	} */
	.buttonBlue3{
		padding: 4% 8%;
	}
	.enroll_div .title{
		padding: 3%
	}
	.lifestyle_benefits{
		margin-right: 17%;
	}
}
@media screen and (min-device-width: 375px) and (max-device-width : 667px){
	.enroll_div input, .abtYourself_div input{
		width: 70%;
                margin-left: 11%;
	}
	.gender div{
		padding-right: 0;
	}
	.enroll_div div, .abtYourself_div div{
		padding: 10px;
	} 
	.lifestyle_benefits{
		margin-right: 13%;
	}
	.apply_card_button{
		margin-top: -2% !important;
	}
        .termscheckbox{
            margin: 10px !important;
        }
	
}  
@media screen and (min-device-width: 375px) and (max-device-width : 667px) and (orientation:landscape){
	/*header footer changes 01-03-17 */
	.logoSection .right {
		width: 36% !important;
	}
	.enroll_div .title{
		padding: 2.9% 2.5%;
                /*height: 34px;*/
	}
         
        .boxinput span{
            margin: 0px 0;
            width: 84%;
        }
        .termscheckbox{
            margin: 10px !important;
        }
	.enroll_div div, .abtYourself_div div {
    padding: 10px;
	}
	.lifestyle_benefits{
		margin-right: 17%;
	}
	
	  .button_blue2 {
    
    padding: 10px 25px;
    text-align: center;
    margin-left:10px;
    /*margin-top:20px;*/
  
}
#social-profiles {
		/*top:120px; sprint 55*/
                top:20px;
	}
.about .currentResidentialAddress, .about .name_inputBox, .about .companyAddress_box {
    width: 100%;
}
.name_ul, .residentialAddr_div .residentAddress, .permanentAddr_div .permanent_residentAddress, .companyAddr_div .companyAddress {
    width: 100%;
}
}


@media screen and (min-device-width: 360px) and (max-device-width : 640px) and (orientation:landscape){
	/*header footer changes 01-03-17 */
	.logoSection .right {
		width: 36% !important;
	}
	/* Flow arrows */
    .nav_arrow_mobile{
		width: 100%;
    }
    .left_nav{
		width: 25%;
		text-align: center;
		display: inline-block;
		cursor: pointer;
		vertical-align: top;
    }
    .continue_button{
		width: 50%;
		text-align: center;
		display: inline;
    }
    .right_nav{
		width: 25%;
		text-align: center;
		display: inline-block;
		cursor: pointer;
		vertical-align: top;
    }
    .button_thickBlue{
		padding: 17px;
    }
	
	/* Flow arrows */ 
	
	
	.buttonBlue3{
		padding: 3% 6%;
	}
	.about .currentResidentialAddress, .about .name_inputBox, .about .companyAddress_box {
    width: 100%;
}
.name_ul, .residentialAddr_div .residentAddress, .permanentAddr_div .permanent_residentAddress, .companyAddr_div .companyAddress {
    width: 100%;
}
/*sprint 55*/
.a.tooltips .tooltip_content{
    margin-left: 24px !important;
    width:119px !important;
}
}
@media screen and (min-device-width: 640px) and (max-device-width : 767px){
	.button_blue{
		margin-right: 3%;
		margin-top: 0;
	}
	.cities li{
		padding: 4%;
		width:28%;
	}
	
	.spendCapability_div .rangeslider__handle span{
		font-size: 1em;
		font-weight: 500;
		left: -23px;
		position: relative;
		top: -10px;
	 }
	.about .currentResidentialAddress, .about .name_inputBox, .about .companyAddress_box {
    width: 100%;
} 
	.name_ul, .residentialAddr_div .residentAddress, .permanentAddr_div .permanent_residentAddress, .companyAddr_div .companyAddress {
    width: 100%;
}
}
@media screen and (min-device-width: 640px) and (max-device-width : 767px) and (orientation:landscape){
	/*header footer changes 01-03-17 */
	.logoSection .right {
		width: 36% !important;
	}
	.enroll_div .title{
		padding: 2.5%;
	}
	 .privileges li {
    padding: 2%;
    width: 33%;
    }
    
  

}
@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
	.co-brand .container, .co-brand .innerContainer{
		width: 100%;
	}
	.features{
		margin: 0;
	}
	.about{
		margin: 0;
	}
        .geninput {
        width: 65% !important;
        float: right;
        }
        .genbut {
    padding: 10px 27px !important;
        }
	.platinumCard{
		font-size: 0.9em !important;
	}
	img.platinum_card{
		width:100%;
	}
	.features_desc .row div{
		font-size:11px;
	}
        input#permanentAddress {
                width: 97.5%;
        }
	/* .free_flights {
		font-size: 1em !important;
		margin: 0;
		padding: 16% 0 0 23.5% !important;
		text-align: left !important;
	} */
	.instant_approval{
		font-size: 0.8em !important;
	}
/* 	.features_desc ul li{
		margin: 10%;
	} */
	.features_title .free_flight_basis{
		padding: 2.5px !important;
	}
	.freeFlight_spends_calc{
		width: 350px;
	}
	.name_ul{
		height: 64px;
                width:97.5%;
	}
	/* ************ Compare cards ************************ */
	.compare_cards_table{
		width: 100%;
	}
	
	.compare_cards_table table thead th, .compare_cards_table table tbody td{
		width: 100% !important;
		display: block;
		border-right: none;
	}
        .name_ul, .residentialAddr_div .residentAddress, .permanentAddr_div .permanent_residentAddress, .companyAddr_div .companyAddress{
            width: 97.5%; 
        }
        .about .currentResidentialAddress, .about .name_inputBox, .about .companyAddress_box{
            width: 97.5%;
        }
	.compare_cards_table table tbody tr:nth-child(2n+1) td{
		display:block;
		background-color: #fff;
	}
	.accordian_table h6{
		font-size: 1.2em;
		font-weight: bold;
	}
	.joiningBenefit h6, .ongoingPrivileges h6, .airlinePrivileges h6, .renewalBenefits h6, .travelPrivileges h6{
		background: transparent url("../images/co-brand/acord_down.png") no-repeat scroll 95% 50%;
	}
	.compare_cards{
		margin-top: 20%;
		padding: 0 !important;
		margin-right: 0;
		margin-left: 0;
		width: 100%;
		
	}
	.compare_cards .freeFlights_calc{
		padding: 3%;
		border: none;
	}
	.spends_calc{
		width:100%;
		padding: 0 2.5% 3.5%;
	}
	/* ************ Compare cards ************************ */
	
	/* Card details */
	
		
	.cardDetails{
		padding: 0;
		margin-bottom: 5%;
	}
	.cardDetails table tbody tr td:first-child{
		width: 25%;
	}
	.cardDetails table tbody tr td:nth-child(2){
		width: 55%;
	}
	.instantAppr_button{
		padding: 1.3% 7%;
	}
	
/* .instAppr_button_holder {
  font-size: 1em !important;
    margin: 20px auto;
    width: 148px;
} */

.apply_btn {
   
    font-size: 14px !important;
    width:70%;
    
}


  /* Card details */
   /* Provide JP number */
    .co-brand  .modal-dialog{
		width: auto;
	}
	.msgWrapper{		
		padding: 0;
	}
	/*FILTERS */
	.clearFilters{
		border-radius: 3px;
		font-size: 1.2em;
		cursor:pointer;
		width: 208px !important;
	}
	.filter_div .life_benefits_parent{
		width: 21%;
	}
	.filter_div .col-sm-2, .filter_div .col-sm-3 {
		padding-left: 0;
		padding-right: 0;
	}
	.filter_div .col-sm-2:first-child{
		width: 10%;
	}
	.clearFilters span{
		padding: 5% 10% 3.5% 4%;
	}
	.banks_list{
		left: 8%;
		margin-top: 4.5%;
	}
	.banks_listing .arrow-up{
		margin: 3% 0 0 10.5%;
	}
	.filterareadrop2 > select{
		width: 110%;
	}
	.features .clearfix:after{
		clear:none;
	}
	.clearFilters .sort_listing{
		left: 5% !important;
	}
	.clearFilters .sort_listing .arrow-up{
		margin: -8% 0 0 58% !important;
	}
	
	/*FILTERS */
	/*cards*/
	.features_desc{
		font-size: 1.4em !important;
	}
	.freeFlightBasis{
		padding:0 !important;
	}
	.features_desc .row .col-sm-2{
		padding:0 !important;
	}
/*	.freeFlight_spends .filter_icon{
		float: right;
		margin-top: -11px;
	}*/
	/* .instAppr_button_holder{
		width: 120px;
	} */
	/* .instAppr_button_holder ul li{
		margin: 0;
	} */

	.apply_instantAppr{
		font-size:1em !important;
		padding: 11px 4px;
	}
	.apply_instantAppr2{
		padding: 12% 2%;
		font-size: 1em !important;
	}
	.instAppr_button_holder ul li{
		width: 48.7%;
	}
	.instAppr_button_holder{
		width: 115px;
	}
	.instantButton_cc{
		width: 150px;
		margin: 0 auto;
	}
	.instantButton_cc .apply_instantAppr{
		padding: 15px 12px;
	}
	.instantButton_cc .apply_instantAppr2{
		padding: 12.5% 2%;
	}
	.spends_forFlights{
		padding-left: 55px;
	}
	
	.dob_input input{
		width: 75%;
	}
	.spendValue .rupee{
		padding: 2.5% 6% 6%;
	}
	.compare_card{
		width: 60%;
	}
	.buttonBlue3{
		padding: 3% 6%;
	}
	/* Header freeze */
	.fixed{
		/*width: 736px;*/
                width:100%;
	}
	/* Header freeze */
	
		.annualSpends_value{
		font-size: 1.1em;
	}
	.slider_view li:nth-child(2){
		width: 63%;
	}
	 .privileges li {
	    padding: 2%;
	    width: 31%;
    }
    .userDetails_popup {
    	padding: 5% 9%;
    }
    .apply_card_button {
   		margin-top: 0 !important;
	}
	.errorMsgContainer{
		margin: 10% 20%;
	}
	.errorMsgContainer div .page_not_found{
		margin-left: -20px;
	}
}

@media screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation:landscape){
	.features_desc table td:nth-child(n+5){
		display:inline-block;
		width:33.33%;
	}
	.features_desc table td:nth-child(6){
		display:none;
	}
	.cities li{
		padding: 2%;
	}
        
	.buttonBlue3{
		padding: 2% 6%;
	}
	 .instAppr_button_holder{
		width: 150px;
	} 
	/* .apply_instantAppr{
		padding: 20px 5px;
	} */
	/* Header freeze */
	.fixed{
		width: 992px;
	}
	.userDetails_popup{padding: 5% 21%;}
	/* Header freeze */
        
}

