/* Montserrat Regular */
@font-face {
    font-family: "Montserrat-regular";
    src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
/* Montserrat Medium */
@font-face {
    font-family: "Montserrat-medium";
    src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
/* Montserrat Semi Bold */
@font-face {
    font-family: "Montserrat-semibold";
    src: url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
/* Montserrat Bold */
@font-face {
    font-family: "Montserrat-bold";
    src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* Montserrat Light */
@font-face {
    font-family: "Montserrat-Light";
    src: url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}