/*============== styling for affiliated pages =================*/

/*------------- Adding font family URLs -----------------*/
@font-face {
    font-family: 'bodebeck_bold';
    src: url('font/bodebeckltstd-bold.otf'); 
}
@font-face {
    font-family: 'bodebeck_bold_italic';
    src: url('font/bodebeckltstd-bolditalic.otf'); 
}
@font-face {
    font-family: 'bodebeck_italic';
    src: url('font/bodebeckltstd-italic.otf'); 
}
@font-face {
    font-family: 'bodebeck_extra_bold';
    src: url('font/bodebeckltstd-extrabold.otf'); 
}
@font-face {
    font-family: 'bodebeck_regular';
    src: url('font/bodebeckltstd-regular.otf'); 
}
@font-face {
    font-family: 'Ubuntu_Bold';
    src: url('font/Ubuntu-Bold.ttf'); 
}
@font-face {
    font-family: 'Ubuntu-BoldItalic';
    src: url('font/Ubuntu-BoldItalic.ttf'); 
}
@font-face {
    font-family: 'Ubuntu-Italic';
    src: url('font/Ubuntu-Italic.ttf'); 
}
@font-face {
    font-family: 'Ubuntu-MediumItalic';
    src: url('font/Ubuntu-MediumItalic.ttf'); 
}
@font-face {
    font-family: 'Ubuntu-Light';
    src: url('font/Ubuntu-Light.ttf'); 
}
@font-face {
    font-family: 'Ubuntu-LightItalic';
    src: url('font/Ubuntu-LightItalic.ttf'); 
}
@font-face {
    font-family: 'Ubuntu-Medium';
    src: url('font/Ubuntu-Medium.ttf'); 
}
@font-face {
    font-family: 'Ubuntu-Regular';
    src: url('font/Ubuntu-Regular.ttf'); 
}

/*------------------------------------------ END --------------------------------------------------*/


/*------------------- CSS for body -----------------------*/

body{
    font-size:14px;
    font-family: 'Ubuntu-Regular', San-serif !important;
    color:#222222;
}
/*------------- End ---------------*/

/* ============================header 110117========================*/

.logoSection .left,
.logoSection .right{
    display: inline-block;
    vertical-align:top;
    width: 49%;
        margin: 10px 8px 0 0px;
}
.headerPanelSearch {
  /*   height: 36px; */
}
.site-header .logoSection {
     padding: 0px 0 0 20px; 
    margin-bottom: 6px;
}
.login {
    margin-top:0px;
}
.login ul{
    /*float:right;*/
    width:100%;
    text-align:right;
    font-size:13px !important;
    padding-top: 0px;
    font-family:'Ubuntu', 'Sans Serif';
    font-weight:bold;
    color: #005baa !important;
    line-height:14px;
    margin-bottom:0;
    padding-right: 20px;
}
.logout{position:relative;/*  margin-top:-45px; */ margin-right: 17px;line-height: 16px;} /* j18 - G */
.logout ul{
    background:#0089cf;
    color:#fff;
    padding:3px;
    padding-left:0;
    float:right;
    text-align:right;
    width:auto;
    font-size:12px;
    border-radius:4px;
    /* font-family:'Ubuntu'; */
    font-family: 'Ubuntu-Regular';
    font-weight:500;
    line-height:17px;
    margin-top:3px;
}
.login ul li{
    padding:0 4px;
}
.after_login{display:none !important;padding:0 !important;}

.logout ul li{
            padding: 0 8px 0 7px;
}
.logout ul li:nth-child(2){
    margin:0;
}
.logout ul li:nth-child(2) span{
    font-weight:bold;
    /* j18 - G */
    text-decoration: underline;
    cursor: pointer;
    /* j18 - G */
}

.logout ul li:nth-child(3){
    border-left:1px solid #fff;
        line-height: 13px;
    /* padding-top: 2px;
    margin-top: 2px;   */  
/*  border-right: 1px solid #fff;
*/}
.login_btn,.logout_btn{text-align:right;font-size:12px; font-weight:400}
.logout_btn{
    position:absolute;
    right:0;
    z-index:9999;
}
.login_btn a{
    background:#0089cf;
    padding:14px;
    display:inline-block;
    color:#fff;
    line-height:26px !important;
    padding:1px 25px;
    margin-top:2px;
    border-radius:4px;
    width:81px;
    text-decoration: none !important; /* J18 - G */
}
/* J18 - G */
.login_btn a:hover{
	color: #fff;
}
.inline a:hover, .logout_btn a:hover{
	text-decoration: none !important;	
}
.logout_btn a:hover{
	color: #fff;
}
/* J18 - G */
.logout_btn a{
    background:#0089cf;
    padding:14px;
    display:inline-block;
    color:#fff;
    line-height:26px !important;
    padding:1px 25px;
    margin-top:1px;
    border-radius:4px;
    width:90px;
}

.arrow_down{
    background:rgba(0, 0, 0, 0) url("../images/header/arrow-down.png") no-repeat scroll left center / 10px 7px;
    height:17px;
}
.inline li{
    display: inline-block;
    margin: 0 0 1px 1px;
    vertical-align: middle; /* J18 - G */
}
.headerEnrollLink {
    border-right: none !important;
    margin-right: -7px !important;
    padding-right: 0 !important;
    color: #005baa !important;
}
li .arrow-brdr {
    border-right: 1px solid #fff;
    height: 22px;
    opacity: 0.3;
    position: absolute;
    right: 24px;
    top: 4px;
}
.logspace{
    padding: 0px 7px 0px 0px !important;
}
.brickImgCont:hover img {
    box-shadow: 0 2px 6px 2px #999;
}
/* ============================header ends 110117========================*/

/*==================== Common Css =================*/
#dashboard{width:1004px;}
.pad0{padding:0 2px !important}
.top_head_txt{
    font-family:'Ubuntu_Bold', San-serif;
    font-size:20px;
    color:#606060;
    text-align:center;
}
.col_8{width:75%; display:block !important; float:left;}
.col_4{width:25%; display:block !important; float:left;}
.pad10{padding:10px;}
.hide{display:none}
.show{display:block}
.list_inline li{display:inline-block}
.padding_vertical{padding:10px 0}
.marg_top20{margin-top:20px}
.bottom_padding{margin-bottom:380px;}
.pull_rht{float:right}
.pull_lft{float:left}
.footerColumn1 {width: 25% !important}
.footerColumn2{width:40% !important}
.footerColumn3{width:25% !important;padding-right:10px !important}
footer h3.mediumFont{font-weight:500;}
footer .footerNavigation li a{color :#000 !important; font-weight:300;}
.text_center{text-align: center}
/*---------- Text Color ----------*/
.blue_txt{color:#0089cf}
.light_black{color:#606060}
.dark_grey{background:#777777}
.logged_in{margin-top: -13px ;}
.logged_in li:nth-child(1){
    vertical-align: bottom;
    padding-right: 10px;
}
.margin20{margin-top:20px}
.highlight{background:#0089D0;}
.highlight a{color:#ffffff !important}

/*--------- End -----------*/

/*---------------- Background-color ---------------------*/
.bg_eee{backrground-color:#eeeeee}
.bg_ddd{background-color:#dddddd}

/*------------- End -------------*/

/*---------------- style for float block ---------------------*/
.dir_left{float:left}
.dir_right{float:right}
/*---------------- End ---------------------*/


.border_bottom{border-bottom:1px solid #dddddd;}
.border_top{border-top:1px solid #dddddd;}
.title{
    background: #eeeeee;
    text-transform: uppercase;
    padding: .5em 1.5em
}

.pad_horiz{padding:5px 1.5em;}
.left_filter_block{
    width:20%;
    float: left;
}
.right_content_block{
    width:80%;
    float: left
}
.default_btn{

}
/*===================== End =======================*/
.jppl_action li:nth-child(1){
    vertical-align:bottom;
    padding-right:10px;
}
.jppl_enroll{
    color: rgb(0, 90, 169) !important;
    font-family: "Ubuntu_Bold";
    font-size: 12px !important;
    line-height: 26px !important;
}

/*==================== styling for Search box in head ========================*/
.search_block{
    clear: both;
    margin: 15px 0 20px;
    display: inline-block;
    width: 100%;
}
.logo_img{
    float: left;
    position: relative;
    width: auto;
    padding: 5px 2em 0 0;
}
.logo_img img:hover{
    cursor:pointer;
}

/*-------- Dropdown style ---------*/
.select_block{
    float: left;
    position: relative;
    width: auto;
    height: 41px;
    background-color: #e0e0e0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 1px solid #cfcfcf;
    color:#7b7877;
}
.select_block .dropdown{
    background: rgb(221, 221, 221) none repeat scroll 0% 0%;
    border: 1px solid rgb(195, 195, 195);
    border-top:0;
    font-size:14px;
    position: absolute;
    min-width: 200px;
}
.select_block .dropdown li{
    padding: 10px 10px;

}
.select_block .dropdown li+li{
    border-top: 1px solid #eeeeee;
}
.selected_txt {
    padding: 11px 6px 11px 0;
    min-width: 40px;
    max-width:100%;
    background: url(../images/cat_droparrow.png);
    background-repeat: no-repeat;
    background-position: 95% 53%;
    cursor: pointer;
    font-family: Ubuntu-Medium;
}
.selected_txt span{
    padding: 0px 24px 0px 5px;

}
.selected_txt span img{
    padding-left: 6px;
}
.selected_txt {
    font-size: 13px;
    padding: 11px 13px 11px 0;
    /*width: 114px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;*/
}
.form__price_filter label{color: #6e6e6e !important;}

/*.selected_txt{
    font-size: 14px;
    font-family: Ubuntu_Bold;
    color: rgb(135, 135, 135);
    padding: 11px 17px 11px 5px;
    background-image: url(../images/cat_droparrow.png);
    background-repeat:no-repeat;
    background-position:96% 58%;
    cursor:pointer;
    width:100px;
}*/

.dropdown li a{color:#222222}

/*------- End ------*/
.input_box{
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    height: 41px;
}
.input_box input {
    border-left: 0px;
    border-radius: 0;
    color: #8e8e8e;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
}
.search_btn{
    position: relative;
    width: auto;
    float:right;
}
/*.top_quick_menu .swiper-container{display:none;}*/
.top_quick_menu .swiper-container .swiper-slide:not(:first-child){
    border-left:1px solid #ccc
}
.top_quick_menu .swiper-container .swiper-slide{
    padding:0px 1em;
    cursor:pointer;
    font-size:0.9em;
}
.search_btn button{
    background-color: #2CA5FA;
    border-radius: 0px;
    color: #fff !important;
    cursor: pointer;
    padding: 3px 30px 3px 11px;
    height: 41px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 17px;
    background-image: url(../images/search_icon.png);
    background-repeat: no-repeat;
    background-position: 90% 57%;
    background-size: 14px;
}

.top_quick_menu{
    padding:0.9em 1em;
    box-shadow:0px 0px 0px 1px #e3e3e3;
    border-radius: 2px;
}
.title_top_menu{
    float:left;
    color: #00aeef;
    font-size: 15px;
    font-family: 'Ubuntu-Medium';
    width: auto;
    min-width:110px;
}
.title_top_menu::after {
    content: "";
    background-image:url(../images/goquick_arrow.png);
    background-repeat:no-repeat;
    background-position:center center;
    padding: 1px 6px;
    background-size: cover;


}
.top_quick_menu ul li a{
    color: #6f6f6f;
    font-size: 13px;
    padding:3px;
}
.top_quick_menu ul li{ vertical-align:top;}
.top_quick_menu ul li+li{
    padding-left: 0.4%;
    border-left: 1px solid #DDDDDD;

}

/*===================== End =======================*/

/*======== Swiper styling ========*/
.swiper-slide{width:auto !important}
.menu_active{background-color:#eeeeee}

/*--------- End ----------*/

/*============== Style for Slider ======================*/
.bx_slider .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager{
    bottom:6px !important;
    text-align:center !important;
    width:100% !important;
}
#bigBxslider .bx-wrapper img{
    width:100%;
}
.bx_slider .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:hover{
    background:#02AFE9;
}
/*---------- End ----------*/

/*----------- Multiple Carousel bxslider ----------*/

.main_banner_wrap .mbw{
    display:inline-block;
    vertical-align:top;
}
.main_banner_wrap .mbw:first-child{width:75%;position:relative;}
.main_banner_wrap .mbw:last-child{width:24%;}
.main_banner_wrap .mbw .bx_slider li a{
    display:block;
    width:100%;
    height:100%;
}
.main_banner_wrap .mbw .bx_slider li a img{
    width:100%;
}
.bx_slider img{
}
.side_banner li{
    margin:0 0px 6px 6px;
    display: inline-block;
    width: 100%;
    height:146px;
}
.side_banner li:last-child{
    margin-bottom:0;
}
.side_banner li a{
    display:block;
    width:100%;
    height:100%;
}
.side_banner li img{
    width:100%;
    max-height:100%;
}

.next_slide .bx-next{
    background: url("../images/product_slidearrow.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    width: 28px;
    height: 100px;
    position: absolute;
    right: 0;
    top: 36%;
}
.prev_slide .bx-prev{
    background: url("../images/product_slidearrow.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    width: 28px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 36%;
}
.bx-prev.disabled,.bx-next.disabled{ display: none;}
.smallBanner .homeThumb .image::before {display:none }
.smallBanner h1{font-size:20px; bottom-padding:15px;}
.smallBanner .homeThumb .image img{
    max-width:100%; 
    max-height:100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
}
.items p{margin:0; padding: 0}
.items{min-height:auto;}
.smallBanner li{border:0; padding:1px;}
.smallBanner li .homeThumb{padding:11px 2px; margin: 1px;}
.homeThumb img{
    webkit-transform: scale(1,1);
    -moz-transform: scale(1,1);
    -o-transform: scale(1,1);
    -ms-transform: scale(1,1);
    transform: scale(1,1);
}
.homeThumb:hover img{
    webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.smallBanner{margin-top:0; clear:both;}
.items{
    font-size: 14px;
    font-family: Ubuntu-Medium;
    color: rgb(110, 101, 101);
    padding: 5px 8px;
}
.prod_offer{
    font-family:Ubuntu-Regular;
    font-size:15px;
}
.prod_offer .text_strike{
    text-decoration:line-through;
    font-size:13px;
}
.prod_offer .blue_txt{
    font-size:13px;
}
.off_price{
    font-family: Ubuntu-Regular;
    font-size:13px;
    padding:0 !important
}
.view_all{font-size:13px;float:right;font-family:'Ubuntu-Medium'}

/*------------ End --------------*/

/*========= Styling for Terms & conditions =========*/
.tnc{text-decoration:underline; font-size:12px; padding-top:20px;}

/*============= End ==============*/

/*============ Some reponsive content styling not showing in desktop view ================*/
.mobile_show{display:none}


/*=========== Styling for Search Product Page ===========*/
.result_sort_block{
    display:inline-block;
    width:100%;
    padding:8px 0;
}
.categories_result{
    float: left;
    width: 50%;
}
.categories_result p{font-size:13px; font-family:"Ubuntu-Regular"}
.categories_result p strong{
    font-family:'Ubuntu_Bold';
    font-size:14px;
    color:#00aeef;
}
.sort_result{
    float:left;
    width:50%;
    text-align:right;
}
.jpMiles_sort, .price_sort{
    color:rgb(69, 69, 69)
}
.sort_result > ul > li:nth-child(1){
    font-size:12px;
    color:#909090;
    vertical-align: 0px;
}
.sort_result > ul > li+li{
    padding:0 5px;
}
.sort_txt{
    border: 1px solid rgb(221, 221, 221);
    font-size: 13px;
    border-radius: 3px;
    position: relative;
    cursor:pointer;
}
.sort_txt div{
    padding: 5px 8px;
    position: relative;
    width:auto
}
.sort_dropdown{
    text-align: left;
    border-top: 0px none;
    padding: 0px;
    display:none;
    z-index: 999;
    position:absolute;
    border:1px solid #dddddd;
    background:#ffffff;
    width: 214px;
    border-top:0;

}
.sort_dropdown li{
    display: block;
    padding: 3px 8px;
    border-top: 1px solid #ddd;
}
.sort_dropdown li a{
    color:#222222;
}

.sort_txt img{
    vertical-align: middle;
    padding: 0px 0px 0px 10px;

}

/*========== End ==============*/



/*============ Style for left side filter block =============*/
.range_filter{
    padding: 0.5em 0 0.5em 1.5em
}
.range_price_content{margin: 6px 0 0px 0}
.range_filter+.range_filter{border-top:1px solid #dddddd; margin-top:10px}
.range_filter h4{
    padding:5px 0;
}
.form__price_filter {
    padding: 5px 0px;
    font-size: 13px;
    color: #6e6e6e;
}
.filter_content{
    border:1px solid #eeeeee;
}
.image img{
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
}
.right_content_block ul li{
    width: 24.4%;
    margin: 25px 0px;
    vertical-align: top;
}
.right_content_block .homeThumb{padding:0 10px;}
.right_content_block .homeThumb .image {
    height: 150px;
    width: 150px;
    position: relative;
    z-index: 0;
    text-align: center;

}

/*============ Pop up dialog =============*/

#dialog_mask{
    background:#000000;
    opacity: 0.3;
    z-index: 9999;
    width: 100%;
    height: 100%;
    position:fixed;
    margin-top:0px;
}
.dialog_wrap{padding:5px 10px;}
.filter_confirm button{
    font-size:12px;
    margin:0 5px;
}
.wrap_popup{
    width: 945px;
    margin: 0px auto;
    position: absolute;
    z-index: 99999;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    border-radius: 4px;
    border-width: 3px 1px 1px;
    border-style: solid;
    border-color:#009FE3;
    left:50%;
    top:50%;
    margin:-250px 0 0 -32%
}
.dialog_close{
    position: absolute;
    right: 10px;
    vertical-align: middle;
    top: 8px;
}
.dialog_close img{width:20px}
.left_dialog_content{
    width:49%;
    float:left;
    padding:0 10px;
}
.dialog_body{
    background: url(../img/vertical_bar.png);
    background-repeat: repeat-y;
    background-position: 49% center;
    margin: 1.5em 0;
}
.wrap_form_content{
    background-color: rgb(249, 249, 249);
    border: 1px solid rgb(221, 221, 221);
}
.wrap_form_content .form_title h3{
    background:#eeeeee;
    border-bottom:none;
}
.left_dialog_content .dialog_content{
    border-bottom:1px solid #dddddd;
}
.dialog_content{display:inline-block; padding:1.5em 0; width: 100%;}

.dialog_wrap .dialog_title{
    padding-bottom: 5px;
    font-family:Ubuntu_Bold;
}
.dialog_wrap ul li:active,.dialog_wrap ul li:focus, .content_slide ul li a:active, .content_slide ul li a:focus{
    background:#eeeeee;
}
.dialog_wrap .dialog_title h3{
    border-bottom: 1px solid rgb(128, 214, 247);
    background:#fff;
    padding: 7px 0;
}
.bullet_icon{
    background: rgb(4, 123, 213) none repeat scroll 0% 0%;
    border-radius: 50%;
    padding: 7px 0px;
    float: left;
    color: #ffffff;
    font-family: Ubuntu_Bold;
    width: 32px;
    text-align: center;
    vertical-align: bottom;
    margin: 8px 0px;
}
.para_content{
    float: left;
    padding: 6px 0px 6px 10px;
    width: 90%;
    font-size: 14px;
}
.right_dialog_content{
    width:49%;
    float:left;
    padding:0 10px;
}
.form_title{
    padding: 7px 2px;
    background: rgb(238, 238, 238) none repeat scroll 0% 0%;
    text-align: center;
    border: 1px solid rgb(221, 221, 221);
}
.form_body{
    margin: 1.5em 2em 2em;
    padding: 1.5em 0 2.5em;
}
.form_control input{
    display: inline-block;
    width: 61%;
    height: 30px;
    border-radius: 3px;
}
.form_control .default_btn{
    display:inline-block;
    border-radius: 3px;
    background-color: #005aab;
    border-radius: 5px;
    color: #fff !important;
    cursor: pointer;
    padding: 5px 10px;
}
.form_footer{
    padding: 0.6em 15px 0.6em;
    margin: 2em 0px 2.5em;
    background:url(../img/vertical_bar.png);
    background-repeat:no-repeat;
    background-position:center center;
}
.form_footer ul{
    display:inline-block;
    width:100%;
}
.form_footer ul li{
    width:50%;
    float:left;
    text-align: center;
}
.form_footer ul li a{
    text-decoration:underline;
}
.dialog_footer{
    display: inline-block;
    width: 100%;
    padding: 1em 0px;
}
.dialog_footer p {
    margin: 0;
    font-size: 12px;
    color: #777;
}
.dialog_footer a.light_black{
    font-size:12px;
    text-decoration: underline;
}
.dialogTnc{
    float: right;
    font-size: 12px;
    text-decoration: underline;
    color: rgb(119, 119, 119);
}
.wrap_popup, #dialog_mask, .wrap_pop{display:none}
.filter_icon_rwd{
    line-height: 26px !important;
    text-align: left;
    display: block;
    position: relative;
    width: 90px;
    color: rgb(255, 255, 255) !important;
    padding: 0px 14px;
    background: rgb(0, 137, 207) url("../images/header/arrow-down.png") no-repeat scroll 90% center;
}
.logout_box{
    position:relative;
}
.logoSection a{line-height: normal;}
.jppl_action{margin-top: 16px;}

.hide_menu {
    display: none !important;
}
.arrow_up {
    background: url("../images/header/arrow.png") ;
    background-repeat:no-repeat;
    background-position:right 60%;
    height: 15px;
    width: 13px;
}
.loginButtonheader{
    margin-right:0px !important;
    margin-top:0px;
}
.logout_btn {
    float: right;
    margin: -10px 0px 0px 0px;
    
}
.enrol_btn{
    float: right;
    margin: -6px 10px 0px 0px;
    display: none;
}
.ui-menu-item a{
    font-family: "Ubuntu-Regular";
}
.ui-autocomplete{
    overflow-y:auto;
    overflow-x:hidden;
    z-index: 0;
    z-index: 9999;
}
.slimScrollBar{z-index: 0 !important}

/*---------- for no data text -----------*/
#no_data{
    background:#eeeeee;
    padding:10px 0;
}
/*-------------- End -----------------*/
.dropdown li:hover, .sort_dropdown li:hover{
    background:#0089D0;
}
.dropdown li:hover a, .sort_dropdown li:hover a{
    color:#ffffff;
}
.bx-wrapper{max-width:100% !important}


/*--------- Back to top style -----------*/

.back_to_top{
    position: fixed;
    /*bottom: 10px;*/
    right: 10px;
    z-index: 9999999;
    margin: 0px auto;
    text-align: center;
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out;
    visibility: hidden;
    cursor: pointer;
        /*bottom: 53px; prod fix*/
        bottom: 105px;/*sprint 67*/

}
.show_back_top{
    -webkit-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
}
.back_to_top img{
}

/*---------- Enroll pages style css ------------------*/

.fill_offer {
    display: inline-block;
    width: 30%;
    position: relative;
    vertical-align: top;
}
.fill_offer h5 {
    margin-bottom: 9px;
}
.offers_deal li {
    padding-bottom: 1.7em;
    padding-left:3px;
}
.offers_deal li img {
    width: 30px;
    vertical-align:middle;
}
.offers_deal li span {
    margin-left: 18px;
}
.fill_form {
    display: inline-block;
    width: 69%;
}
.fill_form h5 {
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 9px;
}
.sub_header h5 {
    font-size: 1.2em;
    padding: 1% 0;
}
.txt_red {
    color: red;
    border: none !important;
}
.bg_g {
    color: #379FD5;
}
.btnblue{
    
    background-color:#03868b !important
}
.formTemplate .formContainer {
    padding-left: 10px;
}
.formTemplate .formLabel {
    float: left;
    font-weight: bold;
    width: 140px;
    padding: 8px 0 0 0;
}
/* a.tooltips {
    position: relative;
    display: inline;
    vertical-align:middle;
}
a.tooltips span {
    position: absolute;
    width: 150px;
    color: #555;
    background: #e8fbfe;
    height:auto;
    font-style: normal;
    padding:7px;
    text-align: center;
    visibility: hidden;
    border: 1px solid #09bdbe;
    box-shadow: 1px 1px 5px #888;
    font-size: 12px !important;
    line-height:15px !important;
    text-align: left !important;
    font-weight:normal !important;
}

a.tooltips span:after {
    content: '';
    position: absolute;
    top: 2%;
    left: 0%;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #00AEEF;
    border-top: 8px solid transparent;
}
a:hover.tooltips span {
    visibility: visible;
    margin-left: 10px;
    z-index: 999;
}
 */
/*----------- End -----------*/
.images_wrap img{width:100%; height:100%}

.bx-controls-direction .bx-prev,.bx-controls-direction .bx-next{
    background: url("../images/product_slidearrow.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    width: 28px !important;
    height: 100px !important;
    position: absolute;
    top:28% !important;
    margin-top:0px !important;
}
.bx-controls-direction .bx-prev:hover,.bx-controls-direction .bx-next:hover{
    background: url("../images/product_slidearrow.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    width: 28px !important;
    height: 100px !important;
    position: absolute;
    top:28% !important;
    margin-top:0px !important;
}
.bx-controls-direction .bx-prev{
    left:0;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
.bx-controls-direction .bx-next{
    right:0px
}
/*------------- End -----------*/
/*------ term and condition page --------*/
.font_weight{
    font-weight:bold;
}
.sub_head{
    padding-top:10px;
}
#jetprivilege-programme-terms-and-conditions p{
    font-size:13px;
    line-height:20px;
}
#jetprivilege-programme-terms-and-conditions p strong{
    font-weight:bold;
}

a:focus, a:hover{
    color: #03868b !important;
}
/*------ End --------*/

/*new html page css*/
@font-face {
	font-family: 'bodebeck_bold';
	src: url('font/bodebeckltstd-bold.otf')
}

@font-face {
	font-family: 'bodebeck_bold_italic';
	src: url('font/bodebeckltstd-bolditalic.otf')
}

@font-face {
	font-family: 'bodebeck_italic';
	src: url('font/bodebeckltstd-italic.otf')
}

@font-face {
	font-family: 'bodebeck_extra_bold';
	src: url('font/bodebeckltstd-extrabold.otf')
}

@font-face {
	font-family: 'bodebeck_regular';
	src: url('font/bodebeckltstd-regular.otf')
}

@font-face {
	font-family: 'Ubuntu_Bold';
	src: url('font/Ubuntu-Bold.ttf')
}

@font-face {
	font-family: 'Ubuntu-BoldItalic';
	src: url('font/Ubuntu-BoldItalic.ttf')
}

@font-face {
	font-family: 'Ubuntu-Italic';
	src: url('font/Ubuntu-Italic.ttf')
}

@font-face {
	font-family: 'Ubuntu-MediumItalic';
	src: url('font/Ubuntu-MediumItalic.ttf')
}

@font-face {
	font-family: 'Ubuntu-Light';
	src: url('font/Ubuntu-Light.ttf')
}

@font-face {
	font-family: 'Ubuntu-LightItalic';
	src: url('font/Ubuntu-LightItalic.ttf')
}

@font-face {
	font-family: 'Ubuntu-Medium';
	src: url('font/Ubuntu-Medium.ttf')
}

@font-face {
	font-family: 'Ubuntu-Regular';
	src: url('font/Ubuntu-Regular.ttf')
}

body {
	font-size: 14px;
	font-family: 'Ubuntu-Regular', San-serif!important;
	color: #222
}

.logoSection .left,
.logoSection .right {
	display: inline-block;
	vertical-align: top;
	width: 49%;
	margin: 10px 8px 0 0
}

.site-header .logoSection {
	padding: 0 0 0 20px;
	margin-bottom: 6px
}

.login {
	margin-top: 0
}

.login ul {
	width: 100%;
	text-align: right;
	font-size: 13px!important;
	padding-top: 0;
	font-family: 'Ubuntu', 'Sans Serif';
	font-weight: bold;
	color: #005baa!important;
	line-height: 14px;
	margin-bottom: 0;
	padding-right: 20px
}

.logout {
	position: relative;
	margin-right: 17px;
	line-height: 16px
}

.logout ul {
	background: #0089cf;
	color: #fff;
	padding: 3px;
	padding-left: 0;
	float: right;
	text-align: right;
	width: auto;
	font-size: 12px;
	border-radius: 4px;
	font-family: 'Ubuntu-Regular';
	font-weight: 500;
	line-height: 17px;
	margin-top: 3px
}

.login ul li {
	padding: 0 4px
}

.after_login {
	display: none!important;
	padding: 0!important
}

.logout ul li {
	padding: 0 8px 0 7px
}

.logout ul li:nth-child(2) {
	margin: 0
}

.logout ul li:nth-child(2) span {
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer
}

.logout ul li:nth-child(3) {
	border-left: 1px solid #fff;
	line-height: 13px
}

.login_btn,
.logout_btn {
	text-align: right;
	font-size: 12px;
	font-weight: 400
}

.logout_btn {
	position: absolute;
	right: 0;
	z-index: 9999
}

.login_btn a {
	background: #0089cf;
	padding: 14px;
	display: inline-block;
	color: #fff;
	line-height: 26px!important;
	padding: 1px 25px;
	margin-top: 2px;
	border-radius: 4px;
	width: 81px;
	text-decoration: none!important
}

.login_btn a:hover {
	color: #fff
}

.inline a:hover,
.logout_btn a:hover {
	text-decoration: none!important
}

.logout_btn a:hover {
	color: #fff
}

.logout_btn a {
	background: #0089cf;
	padding: 14px;
	display: inline-block;
	color: #fff;
	line-height: 26px!important;
	padding: 1px 25px;
	margin-top: 1px;
	border-radius: 4px;
	width: 90px
}

.arrow_down {
	background: rgba(0, 0, 0, 0) url("../images/header/arrow-down.png") no-repeat scroll left center / 10px 7px;
	height: 17px
}

.inline li {
	display: inline-block;
	margin: 0 0 1px 1px;
	vertical-align: middle
}

.headerEnrollLink {
	border-right: none!important;
	margin-right: -7px!important;
	padding-right: 0!important;
	color: #005baa!important
}

li .arrow-brdr {
	border-right: 1px solid #fff;
	height: 22px;
	opacity: .3;
	position: absolute;
	right: 24px;
	top: 4px
}

.logspace {
	padding: 0 7px 0 0!important
}

.brickImgCont:hover img {
	box-shadow: 0 2px 6px 2px #999
}

#dashboard {
	width: 1004px
}

.pad0 {
	padding: 0 2px!important
}

.top_head_txt {
	font-family: 'Ubuntu_Bold', San-serif;
	font-size: 20px;
	color: #606060;
	text-align: center
}

.col_8 {
	width: 75%;
	display: block!important;
	float: left
}

.col_4 {
	width: 25%;
	display: block!important;
	float: left
}

.pad10 {
	padding: 10px
}

.hide {
	display: none
}

.show {
	display: block
}

.list_inline li {
	display: inline-block
}

.padding_vertical {
	padding: 10px 0
}

.marg_top20 {
	margin-top: 20px
}

.bottom_padding {
	margin-bottom: 380px
}

.pull_rht {
	float: right
}

.pull_lft {
	float: left
}

.footerColumn1 {
	width: 25%!important
}

.footerColumn2 {
	width: 40%!important
}

.footerColumn3 {
	width: 25%!important;
	padding-right: 10px!important
}

footer h3.mediumFont {
	font-weight: 500
}

footer .footerNavigation li a {
	color: #000!important;
	font-weight: 300
}

.text_center {
	text-align: center
}

.blue_txt {
	color: #0089cf
}

.light_black {
	color: #606060
}

.dark_grey {
	background: #777
}

.logged_in {
	margin-top: -13px
}

.logged_in li:nth-child(1) {
	vertical-align: bottom;
	padding-right: 10px
}

.margin20 {
	margin-top: 20px
}

.highlight {
	background: #0089d0
}

.highlight a {
	color: #fff!important
}

.bg_eee {
	backrground-color: #eee
}

.bg_ddd {
	background-color: #ddd
}

.dir_left {
	float: left
}

.dir_right {
	float: right
}

.border_bottom {
	border-bottom: 1px solid #ddd
}

.border_top {
	border-top: 1px solid #ddd
}

.title {
	background: #eee;
	text-transform: uppercase;
	padding: .5em 1.5em
}

.pad_horiz {
	padding: 5px 1.5em
}

.left_filter_block {
	width: 20%;
	float: left
}

.right_content_block {
	width: 80%;
	float: left
}

.jppl_action li:nth-child(1) {
	vertical-align: bottom;
	padding-right: 10px
}

.jppl_enroll {
	color: #005aa9!important;
	font-family: "Ubuntu_Bold";
	font-size: 12px!important;
	line-height: 26px!important
}

.search_block {
	clear: both;
	margin: 15px 0 20px;
	display: inline-block;
	width: 100%
}

.logo_img {
	float: left;
	position: relative;
	width: auto;
	padding: 5px 2em 0 0
}

.logo_img img:hover {
	cursor: pointer
}

.select_block {
	float: left;
	position: relative;
	width: auto;
	height: 41px;
	background-color: #e0e0e0;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border: 1px solid #cfcfcf;
	color: #7b7877
}

.select_block .dropdown {
	background: #ddd none repeat scroll 0 0;
	border: 1px solid #c3c3c3;
	border-top: 0;
	font-size: 14px;
	position: absolute;
	min-width: 200px
}

.select_block .dropdown li {
	padding: 10px 10px
}

.select_block .dropdown li+li {
	border-top: 1px solid #eee
}

.selected_txt {
	padding: 11px 6px 11px 0;
	min-width: 40px;
	max-width: 100%;
	background: url(../images/cat_droparrow.png);
	background-repeat: no-repeat;
	background-position: 95% 53%;
	cursor: pointer;
	font-family: Ubuntu-Medium
}

.selected_txt span {
	padding: 0 24px 0 5px
}

.selected_txt span img {
	padding-left: 6px
}

.selected_txt {
	font-size: 13px;
	padding: 11px 13px 11px 0
}

.form__price_filter label {
	color: #6e6e6e!important
}

.dropdown li a {
	color: #222
}

.input_box {
	overflow: hidden;
	position: relative;
	white-space: nowrap;
	height: 41px
}

.input_box input {
	border-left: 0;
	border-radius: 0;
	color: #8e8e8e;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	display: block;
	height: 100%
}

.search_btn {
	position: relative;
	width: auto;
	float: right
}

.top_quick_menu .swiper-container .swiper-slide:not(:first-child) {
	border-left: 1px solid #ccc
}

.top_quick_menu .swiper-container .swiper-slide {
	padding: 0 1em;
	cursor: pointer;
	font-size: .9em
}

.search_btn button {
	background-color: #2ca5fa;
	border-radius: 0;
	color: #fff!important;
	cursor: pointer;
	padding: 3px 30px 3px 11px;
	height: 41px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	font-size: 17px;
	background-image: url(../images/search_icon.png);
	background-repeat: no-repeat;
	background-position: 90% 57%;
	background-size: 14px
}

.top_quick_menu {
	padding: .9em 1em;
	box-shadow: 0 0 0 1px #e3e3e3;
	border-radius: 2px
}

.title_top_menu {
	float: left;
	color: #00aeef;
	font-size: 15px;
	font-family: 'Ubuntu-Medium';
	width: auto;
	min-width: 110px
}

.title_top_menu::after {
	content: "";
	background-image: url(../images/goquick_arrow.png);
	background-repeat: no-repeat;
	background-position: center center;
	padding: 1px 6px;
	background-size: cover
}

.top_quick_menu ul li a {
	color: #6f6f6f;
	font-size: 13px;
	padding: 3px
}

.top_quick_menu ul li {
	vertical-align: top
}

.top_quick_menu ul li+li {
	padding-left: .4%;
	border-left: 1px solid #ddd
}

.swiper-slide {
	width: auto!important
}

.menu_active {
	background-color: #eee
}

.bx_slider .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	bottom: 6px!important;
	text-align: center!important;
	width: 100%!important
}

#bigBxslider .bx-wrapper img {
	width: 100%
}

.bx_slider .bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:hover {
	background: #02afe9
}

.main_banner_wrap .mbw {
	display: inline-block;
	vertical-align: top
}

.main_banner_wrap .mbw:first-child {
	width: 75%;
	position: relative
}

.main_banner_wrap .mbw:last-child {
	width: 24%
}

.main_banner_wrap .mbw .bx_slider li a {
	display: block;
	width: 100%;
	height: 100%
}

.main_banner_wrap .mbw .bx_slider li a img {
	width: 100%
}

.side_banner li {
	margin: 0 0 6px 6px;
	display: inline-block;
	width: 100%;
	height: 146px
}

.side_banner li:last-child {
	margin-bottom: 0
}

.side_banner li a {
	display: block;
	width: 100%;
	height: 100%
}

.side_banner li img {
	width: 100%;
	max-height: 100%
}

.next_slide .bx-next {
	background: url("../images/product_slidearrow.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
	width: 28px;
	height: 100px;
	position: absolute;
	right: 0;
	top: 36%
}

.prev_slide .bx-prev {
	background: url("../images/product_slidearrow.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	width: 28px;
	height: 100px;
	position: absolute;
	left: 0;
	top: 36%
}

.bx-prev.disabled,
.bx-next.disabled {
	display: none
}

.smallBanner .homeThumb .image::before {
	display: none
}

.smallBanner h1 {
	font-size: 20px;
	bottom-padding: 15px
}

.smallBanner .homeThumb .image img {
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	margin: auto
}

.items p {
	margin: 0;
	padding: 0
}

.items {
	min-height: auto
}

.smallBanner li {
	border: 0;
	padding: 1px
}

.smallBanner li .homeThumb {
	padding: 11px 2px;
	margin: 1px
}

.homeThumb img {
	webkit-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	transform: scale(1, 1)
}

.homeThumb:hover img {
	webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-o-transition: all .3s linear;
	-ms-transition: all .3s linear;
	transition: all .3s linear
}

.smallBanner {
	margin-top: 0;
	clear: both
}

.items {
	font-size: 14px;
	font-family: Ubuntu-Medium;
	color: #6e6565;
	padding: 5px 8px
}

.prod_offer {
	font-family: Ubuntu-Regular;
	font-size: 15px
}

.prod_offer .text_strike {
	text-decoration: line-through;
	font-size: 13px
}

.prod_offer .blue_txt {
	font-size: 13px
}

.off_price {
	font-family: Ubuntu-Regular;
	font-size: 13px;
	padding: 0!important
}

.view_all {
	font-size: 13px;
	float: right;
	font-family: 'Ubuntu-Medium'
}

.tnc {
	text-decoration: underline;
	font-size: 12px;
	padding-top: 20px
}

.mobile_show {
	display: none
}

.result_sort_block {
	display: inline-block;
	width: 100%;
	padding: 8px 0
}

.categories_result {
	float: left;
	width: 50%
}

.categories_result p {
	font-size: 13px;
	font-family: "Ubuntu-Regular"
}

.categories_result p strong {
	font-family: 'Ubuntu_Bold';
	font-size: 14px;
	color: #00aeef
}

.sort_result {
	float: left;
	width: 50%;
	text-align: right
}

.jpMiles_sort,
.price_sort {
	color: #454545
}

.sort_result>ul>li:nth-child(1) {
	font-size: 12px;
	color: #909090;
	vertical-align: 0
}

.sort_result>ul>li+li {
	padding: 0 5px
}

.sort_txt {
	border: 1px solid #ddd;
	font-size: 13px;
	border-radius: 3px;
	position: relative;
	cursor: pointer
}

.sort_txt div {
	padding: 5px 8px;
	position: relative;
	width: auto
}

.sort_dropdown {
	text-align: left;
	border-top: 0 none;
	padding: 0;
	display: none;
	z-index: 999;
	position: absolute;
	border: 1px solid #ddd;
	background: #fff;
	width: 214px;
	border-top: 0
}

.sort_dropdown li {
	display: block;
	padding: 3px 8px;
	border-top: 1px solid #ddd
}

.sort_dropdown li a {
	color: #222
}

.sort_txt img {
	vertical-align: middle;
	padding: 0 0 0 10px
}

.range_filter {
	padding: .5em 0 .5em 1.5em
}

.range_price_content {
	margin: 6px 0 0 0
}

.range_filter+.range_filter {
	border-top: 1px solid #ddd;
	margin-top: 10px
}

.range_filter h4 {
	padding: 5px 0
}

.form__price_filter {
	padding: 5px 0;
	font-size: 13px;
	color: #6e6e6e
}

.filter_content {
	border: 1px solid #eee
}

.image img {
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	margin: auto
}

.right_content_block ul li {
	width: 24.4%;
	margin: 25px 0;
	vertical-align: top
}

.right_content_block .homeThumb {
	padding: 0 10px
}

.right_content_block .homeThumb .image {
	height: 150px;
	width: 150px;
	position: relative;
	z-index: 0;
	text-align: center
}

#dialog_mask {
	background: #000;
	opacity: .3;
	z-index: 9999;
	width: 100%;
	height: 100%;
	position: fixed;
	margin-top: 0
}

.dialog_wrap {
	padding: 5px 10px
}

.filter_confirm button {
	font-size: 12px;
	margin: 0 5px
}

.wrap_popup {
	width: 945px;
	margin: 0 auto;
	position: absolute;
	z-index: 3;
	background: #fff none repeat scroll 0 0;
	border-radius: 4px;
	border-width: 3px 1px 1px;
	border-style: solid;
	border-color: #009fe3;
	left: 50%;
	top: 50%;
	margin: -250px 0 0 -32%
}

.dialog_close {
	position: absolute;
	right: 10px;
	vertical-align: middle;
	top: 8px
}

.dialog_close img {
	width: 20px
}

.left_dialog_content {
	width: 49%;
	float: left;
	padding: 0 10px
}

.dialog_body {
	background: url(../img/vertical_bar.png);
	background-repeat: repeat-y;
	background-position: 49% center;
	margin: 1.5em 0
}

.wrap_form_content {
	background-color: #f9f9f9;
	border: 1px solid #ddd
}

.wrap_form_content .form_title h3 {
	background: #eee;
	border-bottom: 0
}

.left_dialog_content .dialog_content {
	border-bottom: 1px solid #ddd
}

.dialog_content {
	display: inline-block;
	padding: 1.5em 0;
	width: 100%
}

.dialog_wrap .dialog_title {
	padding-bottom: 5px;
	font-family: Ubuntu_Bold
}

.dialog_wrap ul li:active,
.dialog_wrap ul li:focus,
.content_slide ul li a:active,
.content_slide ul li a:focus {
	background: #eee
}

.dialog_wrap .dialog_title h3 {
	border-bottom: 1px solid #80d6f7;
	background: #fff;
	padding: 7px 0
}

.bullet_icon {
	background: #047bd5 none repeat scroll 0 0;
	border-radius: 50%;
	padding: 7px 0;
	float: left;
	color: #fff;
	font-family: Ubuntu_Bold;
	width: 32px;
	text-align: center;
	vertical-align: bottom;
	margin: 8px 0
}

.para_content {
	float: left;
	padding: 6px 0 6px 10px;
	width: 90%;
	font-size: 14px
}

.right_dialog_content {
	width: 49%;
	float: left;
	padding: 0 10px
}

.form_title {
	padding: 7px 2px;
	background: #eee none repeat scroll 0 0;
	text-align: center;
	border: 1px solid #ddd
}

.form_body {
	margin: 1.5em 2em 2em;
	padding: 1.5em 0 2.5em
}

.form_control input {
	display: inline-block;
	width: 61%;
	height: 30px;
	border-radius: 3px
}

.form_control .default_btn {
	display: inline-block;
	border-radius: 3px;
	background-color: #005aab;
	border-radius: 5px;
	color: #fff!important;
	cursor: pointer;
	padding: 5px 10px
}

.form_footer {
	padding: .6em 15px .6em;
	margin: 2em 0 2.5em;
	background: url(../img/vertical_bar.png);
	background-repeat: no-repeat;
	background-position: center center
}

.form_footer ul {
	display: inline-block;
	width: 100%
}

.form_footer ul li {
	width: 50%;
	float: left;
	text-align: center
}

.form_footer ul li a {
	text-decoration: underline
}

.dialog_footer {
	display: inline-block;
	width: 100%;
	padding: 1em 0
}

.dialog_footer p {
	margin: 0;
	font-size: 12px;
	color: #777
}

.dialog_footer a.light_black {
	font-size: 12px;
	text-decoration: underline
}

.dialogTnc {
	float: right;
	font-size: 12px;
	text-decoration: underline;
	color: #777
}

.wrap_popup,
#dialog_mask,
.wrap_pop {
	display: none
}

.filter_icon_rwd {
	line-height: 26px!important;
	text-align: left;
	display: block;
	position: relative;
	width: 90px;
	color: #fff!important;
	padding: 0 14px;
	background: #0089cf url("../images/header/arrow-down.png") no-repeat scroll 90% center
}

.logout_box {
	position: relative
}

.logoSection a {
	line-height: normal
}

.jppl_action {
	margin-top: 16px
}

.hide_menu {
	display: none!important
}

.arrow_up {
	background: url("../images/header/arrow.png");
	background-repeat: no-repeat;
	background-position: right 60%;
	height: 15px;
	width: 13px
}

.loginButtonheader {
	margin-right: 0!important;
	margin-top: 0
}

.logout_btn {
	float: right;
	margin: -10px 0 0 0
}

.enrol_btn {
	float: right;
	margin: -6px 10px 0 0;
	display: none
}

.ui-menu-item a {
	font-family: "Ubuntu-Regular"
}

.ui-autocomplete {
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 0;
	z-index: 9999
}

.slimScrollBar {
	z-index: 0!important
}

#no_data {
	background: #eee;
	padding: 10px 0
}

.dropdown li:hover,
.sort_dropdown li:hover {
	background: #0089d0
}

.dropdown li:hover a,
.sort_dropdown li:hover a {
	color: #fff
}

.bx-wrapper {
	max-width: 100%!important
}

.back_to_top {
	position: fixed;
	right: 10px;
	z-index: 13;
	margin: 0 auto;
	text-align: center;
	-webkit-transform: translateX(300px);
	transform: translateX(300px);
	transition: -webkit-transform .3s ease-in-out;
	transition: transform .3s ease-in-out;
	transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
	visibility: hidden;
	cursor: pointer;
	bottom: 53px
}

.show_back_top {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	visibility: visible
}

.fill_offer {
	display: inline-block;
	width: 30%;
	position: relative;
	vertical-align: top
}

.fill_offer h5 {
	margin-bottom: 9px
}

.offers_deal li {
	padding-bottom: 1.7em;
	padding-left: 3px
}

.offers_deal li img {
	width: 30px;
	vertical-align: middle
}

.offers_deal li span {
	margin-left: 18px
}

.fill_form {
	display: inline-block;
	width: 69%
}

.fill_form h5 {
	border-bottom: 1px solid #d1d1d1;
	margin-bottom: 9px
}

.sub_header h5 {
	font-size: 1.2em;
	padding: 1% 0
}

.txt_red {
	color: red;
	border: none!important
}

.bg_g {
	color: #379fd5
}

/*.btnblue {
	background-color: #005aab!important
}*/

.formTemplate .formContainer {
	padding-left: 10px
}

.formTemplate .formLabel {
	float: left;
	font-weight: bold;
	width: 140px;
	padding: 8px 0 0 0
}

.images_wrap img {
	width: 100%;
	height: 100%
}

.bx-controls-direction .bx-prev,
.bx-controls-direction .bx-next {
	background: url("../images/product_slidearrow.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
	width: 28px!important;
	height: 100px!important;
	position: absolute;
	top: 28%!important;
	margin-top: 0!important
}

.bx-controls-direction .bx-prev:hover,
.bx-controls-direction .bx-next:hover {
	background: url("../images/product_slidearrow.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
	width: 28px!important;
	height: 100px!important;
	position: absolute;
	top: 28%!important;
	margin-top: 0!important
}

.bx-controls-direction .bx-prev {
	left: 0;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg)
}

.bx-controls-direction .bx-next {
	right: 0
}

.font_weight {
	font-weight: bold
}

.sub_head {
	padding-top: 10px
}

#jetprivilege-programme-terms-and-conditions p {
	font-size: 13px;
	line-height: 20px
}

#jetprivilege-programme-terms-and-conditions p strong {
	font-weight: bold
}

a:focus,
a:hover {
	color: #03868b !important
}

a#enroll_here, a#enroll_here:hover {
    color: white !important;
}

h2#Tellus {
    margin-bottom: 10px;
    margin-top: 10px;
}

