/*============= Css for responsiveness ===========*/
@media screen and (min-device-width: 300px) and (max-device-width : 640px)  and (orientation:portrait) {
    .sort_action{margin-top:0px !important;}
    .jppl_action{margin:0 !important;}
    /*.top_quick_menu .swiper-container{display:inline-block;}*/

    .fill_offer {
        display: inline-block;
        width: 100%;
        position: relative;
        top: 0;
        z-index: -1;
    }
    .fill_form {
        display: inline-block;
        width: 100%;
    }
    .formControl a.tooltips img {
        margin-top: 21px;
    }
 
   
}
@media screen and (min-device-width: 300px) and (max-device-width : 640px) and (orientation:landscape) {
   
    .sort_action{margin-top:0px !important;}
    .jppl_action{margin:0 !important;}
    /*.top_quick_menu .swiper-container{display:inline-block;}*/
    .formControl a.tooltips img {
        margin-top: 21px;
    }
   
    
    .content_slide{display:none;}
    #content_loader{margin-top:-10px;}
    .site-header{z-index: 999 !important}
    .logged_in{margin-top:0}
    .log_out{display:none !important}
    
    .top_head_txt{font-size:20px; margin-top:15px;}
    .categories_result p{font-size:12px;}
    .items{
        font-size: 14px;
        float: left;
        width:62%;
        text-align: left;
        line-height: 22px;
        padding: 5px 3px;
    }
    .postLoginWrapper{display:none}
    .searchContainer{margin-top:-5px !important; }
    .logout_btn {
        float: right;
        display: block !important;
        margin: 0px 0px;
    }
    .enrol_btn{
        float: right;
        display: block !important;
        margin: 0px 10px 0px 0px;
    }
    .drop_box{display:none}
    .logo_img{
        float:none;
        text-align: center;
        padding: 1em 0;
    }

    .search_btn button{
        text-indent: -999999px;
        background-position:center center;
    }
    .smallBanner  h1{font-size:18px; padding-bottom:5px;}
    .smallBanner li .homeThumb:hover{
        box-shadow:none
    }
    .search_wrap{width:100%}
    .input_box input{margin:0;}
    .input_box {
        position: relative;

    }
    .jppl_action{
        margin: -44px 45px 0px 0px;
        display:inline-block;
    }
    .sort_action{
        display:inline-block;margin-top: 22px; float:none !important;
    }
    .sort_action li:nth-child(1){padding-right:15px !important;}
    .mobile_hide{display:none}
    .mobile_show{display:block}
    .col_8,.col_4{width:100%;}
    .main_banner_wrap .mbw{display:block;}
    .main_banner_wrap .mbw:first-child,
    .main_banner_wrap .mbw:last-child{
		width:100%;
    }
    .side_banner li{width:49%; float:left; padding:0 1px;height:auto;margin:6px 0;}
    .side_banner li:first-child{
		margin-right:3px;
    }
    .side_banner li:last-child{
		margin-left:3px;
    }
    .side_banner li a img{height:auto !important;}
    .selected_txt{
        font-size: 13px;
        padding: 11px 13px 11px 0;
        width: 114px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .dropdown li a{font-size:12px;}
    .top_quick_menu{
        display:inline-flex;
        display:-webkit-inline-flex;
        display:-moz-inline-flex;
        display:-ms-inline-flex;
        display:-o-inline-flex;
        width: 100%;
    }
    .title_top_menu{
        float:none;
        width:11%;
        font-size:12px
    }

    .top_quick_menu .swiper-container .swiper-wrapper .swiper-slide{
        padding:2px 20px;
        font-size:11px;
        cursor:pointer
    }
    .content_slide{
        width:85%;
        position:relative;
    }
    .top_quick_menu ul li a{
        color: #6f6f6f;
        font-size: 12px;
        padding:3px;
    }
    .top_quick_menu ul li{ vertical-align:top;}
    .top_quick_menu ul li+li{
        padding-left:1%;

    }
    .content_slide ul{margin-top:-3px;}
    .contentNext{
        position:absolute;
        top:0;
        right:-20px;
    }
    .title_top_menu::after{
        margin:0;
        background-size:5px;
    }
    .left_filter_block{display:none}
    .right_content_block{width:100%}
    .right_content_block ul li{width:100%; margin:0; padding: 15px 0;}
    .homeThumb:hover img{transform:none}
    .right_content_block  .homeThumb a{
        float:left;
    }
    .right_content_block  .homeThumb{
        display:inline-flex;
        display:-webkit-inline-flex;
        display:-moz-inline-flex;
        display:-o-inline-flex;
        width:100%;
    }
    .sort_result{display:none}
    .categories_result {
        float: none;
        width: 100%;
        font-size: 11px;
    }
    .right_content_block ul li+li{
        border-top: 1px solid #dddddd;

    }
    .right_content_block .homeThumb .image{width:7.5em; text-align: left;}

    .wrap_popup{width:90%; left: 5%; margin:10px 0;}
    .dialog_title{font-size:10px; padding-bottom:12px;}
    .wrap_pop .dialog_wrap{padding: 0px;}
    .dialog_title{padding-left:0px;}
    .left_dialog_content, .right_dialog_content{
        width:auto;
        float:none;
    }
    .right_dialog_content{margin-top: 12px;}
    .bullet_icon{font-size:14px;}
    .para_content{width:85%}
    .dialog_body{background:none}
    .dialog_footer p{
        text-align: center;
        font-size:10px;
    }
    .form_title h3{font-size:14px;}
    .form_body{
        margin:0;
        padding:0 4px;
    }
    .form_control{text-align:center}
    .form_control input{
        width:100%;
        font-size: 12px;
        color: #8e8e8e;
        margin: 10px 0;
    }
    .form_control .default_btn{font-size:13px;}
    .form_body .form_control{
        text-align:center;
        margin-bottom:1.5em;
    }
    .form_footer{
        background:none;
        margin:0;
        padding:0;
        font-size:12px;
        display:inline-block;
        width: 100%;
    }
    .form_footer ul li{
        float:left;
        width:100%;
        padding:0.3em 0;
    }
    .dialogTnc{
        float: right;
        padding: 5px;
        color: rgb(119, 119, 119);
        text-decoration: underline;
    }
    /*============= Styling for top head menu ===============*/
    .sort_icon_rwd{
        background: url('../images/sort_blue.jpg') no-repeat 0 0 transparent;
        display: inline-block;
        height: 16px;
        background-size: 17px 16px;
        width: 17px;
        vertical-align: top;
    }
    .sort_icon_active{
        background: url('../images/sort_gray.jpg') no-repeat 0 0 transparent;
        display: inline-block;
        height: 16px;
        background-size: 17px 16px;
        width: 17px;
        vertical-align: top;
    }

    .filter_icon_rwd{
        background: url('../images/filter_blue.jpg') no-repeat 0 0 transparent;
        display: inline-block;
        height: 16px;
        background-size: 17px 16px;
        width: 17px;
        vertical-align: top;
    }

    .filter_icon_active{
        background: url('../images/filter_gray.jpg') no-repeat 0 0 transparent;
        display: inline-block;
        height: 16px;
        background-size: 17px 16px;
        width: 17px;
        vertical-align: top;
        margin-right: 15px;
    }
    /*----------- End ------------*/

    /*========== style for sorting & filter =========*/
    .wrap_pop{
        position: absolute;
        top: 56px;
        background: rgb(255, 255, 255) none repeat scroll 0% 0%;
        z-index: 9999999;
        width: 100%;
        display:none;
    }
    .dialog_wrap h3{
        background:linear-gradient(#ddd ,#eee, #eee,#eee, #eee); 
        background:-moz-linear-gradient(#ddd ,#eee, #eee,#eee, #eee); 
        background:-webkit-linear-gradient(#ddd ,#eee, #eee,#eee, #eee); 
        background:-o-linear-gradient(#ddd ,#eee, #eee,#eee, #eee); 
        padding:10px 10px;
        border-bottom:1px solid #ddd;
    }
    .dialog_wrap h5{padding:8px 0px;}
    .dialog_wrap ul li{
        padding:12px 10px;
    }
    .dialog_wrap .sort_list li{
        border-top:1px solid #ddd;
    }
    .dialog_wrap .sort_list li a{
        font-size:13px;
        color:#777777;
    }
    .dialog_content{ padding:0.5em 0;}
    .dialog_wrap .range_filter{padding:0 18px; border-bottom:0}
    .jppl_enroll{display:none}
	/*----term and condition ------*/
	.main_head .mainHeading{
		display:block;
	}
	#content{
		padding:0 20px;
	}
    /*---------- End ------------*/
}
@media screen and (min-device-width: 768px) and (max-device-width : 1024px) and (orientation:portrait) {
    .log_out{display:none !important}
    .title_top_menu{display:inline-block}
    

    .login_home{margin-top:29px; margin-right: 0px;}
    .logged_in {
        margin-top: -13px;
    }
    .content_slide{width:100%; display:block}
    .input_box{width:78.4%}
}
@media screen and (min-device-width: 768px) and (max-device-width : 1024px) and (orientation:landscape) {

    .log_out{display:none !important}
    .title_top_menu{display:inline-block}
    .logout_box{margin-top:27px;}
    .login_home{margin-top:29px; margin-right: 0px;}
    
    .logged_in {
        margin-top: -13px;
    }
    .selected_txt{
        font-size: 13px;
        padding: 11px 13px 11px 0;
        width: 130px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .result_sort_block{
        display:inline-flex;
        display:-webkit-inline-flex;
        display:-moz-inline-flex;
        display:-o-inline-flex;
        display:-ms-inline-flex;
    }
    .sort_result{display:block;}
    .sort_dropdown{right:0;}
    .content_slide{width:100%; display:block}
    .input_box{width:60%;}
    .dropdown li a{font-size:12px;}
    .top_quick_menu{
        display:inline-flex;
        display:-webkit-inline-flex;
        display:-moz-inline-flex;
        display:-ms-inline-flex;
        display:-o-inline-flex;
        width: 100%;
    }
    .title_top_menu{
        float:none;
        width:11%;
        font-size:12px
    }
    .postLoginWrapper{display:block;}
    .sort_action {display:none !important;}
}

/*new html css*/ 
@media screen and (min-device-width:300px) and (max-device-width :640px) and (orientation:portrait) {
	.sort_action {
		margin-top: 0!important
	}
	.jppl_action {
		margin: 0!important
	}
	.fill_offer {
		display: inline-block;
		width: 100%;
		position: relative;
		top: 0;
		z-index: -1
	}
	.fill_form {
		display: inline-block;
		width: 100%
	}
	.formControl a.tooltips img {
		margin-top: 21px
	}
}

@media screen and (min-device-width:300px) and (max-device-width :640px) and (orientation:landscape) {
	.sort_action {
		margin-top: 0!important
	}
	.jppl_action {
		margin: 0!important
	}
	.formControl a.tooltips img {
		margin-top: 21px
	}
	.content_slide {
		display: none
	}
	#content_loader {
		margin-top: -10px
	}
	.site-header {
		z-index: 999!important
	}
	.logged_in {
		margin-top: 0
	}
	.log_out {
		display: none!important
	}
	.top_head_txt {
		font-size: 20px;
		margin-top: 15px
	}
	.categories_result p {
		font-size: 12px
	}
	.items {
		font-size: 14px;
		float: left;
		width: 62%;
		text-align: left;
		line-height: 22px;
		padding: 5px 3px
	}
	.postLoginWrapper {
		display: none
	}
	.searchContainer {
		margin-top: -5px!important
	}
	.logout_btn {
		float: right;
		display: block!important;
		margin: 0
	}
	.enrol_btn {
		float: right;
		display: block!important;
		margin: 0 10px 0 0
	}
	.drop_box {
		display: none
	}
	.logo_img {
		float: none;
		text-align: center;
		padding: 1em 0
	}
	.search_btn button {
		text-indent: -999999px;
		background-position: center center
	}
	.smallBanner h1 {
		font-size: 18px;
		padding-bottom: 5px
	}
	.smallBanner li .homeThumb:hover {
		box-shadow: none
	}
	.search_wrap {
		width: 100%
	}
	.input_box input {
		margin: 0
	}
	.input_box {
		position: relative
	}
	.jppl_action {
		margin: -44px 45px 0 0;
		display: inline-block
	}
	.sort_action {
		display: inline-block;
		margin-top: 22px;
		float: none!important
	}
	.sort_action li:nth-child(1) {
		padding-right: 15px!important
	}
	.mobile_hide {
		display: none
	}
	.mobile_show {
		display: block
	}
	.col_8,
	.col_4 {
		width: 100%
	}
	.main_banner_wrap .mbw {
		display: block
	}
	.main_banner_wrap .mbw:first-child,
	.main_banner_wrap .mbw:last-child {
		width: 100%
	}
	.side_banner li {
		width: 49%;
		float: left;
		padding: 0 1px;
		height: auto;
		margin: 6px 0
	}
	.side_banner li:first-child {
		margin-right: 3px
	}
	.side_banner li:last-child {
		margin-left: 3px
	}
	.side_banner li a img {
		height: auto!important
	}
	.selected_txt {
		font-size: 13px;
		padding: 11px 13px 11px 0;
		width: 114px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden
	}
	.dropdown li a {
		font-size: 12px
	}
	.top_quick_menu {
		display: inline-flex;
		display: -webkit-inline-flex;
		display: -moz-inline-flex;
		display: -ms-inline-flex;
		display: -o-inline-flex;
		width: 100%
	}
	.title_top_menu {
		float: none;
		width: 11%;
		font-size: 12px
	}
	.top_quick_menu .swiper-container .swiper-wrapper .swiper-slide {
		padding: 2px 20px;
		font-size: 11px;
		cursor: pointer
	}
	.content_slide {
		width: 85%;
		position: relative
	}
	.top_quick_menu ul li a {
		color: #6f6f6f;
		font-size: 12px;
		padding: 3px
	}
	.top_quick_menu ul li {
		vertical-align: top
	}
	.top_quick_menu ul li+li {
		padding-left: 1%
	}
	.content_slide ul {
		margin-top: -3px
	}
	.contentNext {
		position: absolute;
		top: 0;
		right: -20px
	}
	.title_top_menu::after {
		margin: 0;
		background-size: 5px
	}
	.left_filter_block {
		display: none
	}
	.right_content_block {
		width: 100%
	}
	.right_content_block ul li {
		width: 100%;
		margin: 0;
		padding: 15px 0
	}
	.homeThumb:hover img {
		transform: none
	}
	.right_content_block .homeThumb a {
		float: left
	}
	.right_content_block .homeThumb {
		display: inline-flex;
		display: -webkit-inline-flex;
		display: -moz-inline-flex;
		display: -o-inline-flex;
		width: 100%
	}
	.sort_result {
		display: none
	}
	.categories_result {
		float: none;
		width: 100%;
		font-size: 11px
	}
	.right_content_block ul li+li {
		border-top: 1px solid #ddd
	}
	.right_content_block .homeThumb .image {
		width: 7.5em;
		text-align: left
	}
	.wrap_popup {
		width: 90%;
		left: 5%;
		margin: 10px 0
	}
	.dialog_title {
		font-size: 10px;
		padding-bottom: 12px
	}
	.wrap_pop .dialog_wrap {
		padding: 0
	}
	.dialog_title {
		padding-left: 0
	}
	.left_dialog_content,
	.right_dialog_content {
		width: auto;
		float: none
	}
	.right_dialog_content {
		margin-top: 12px
	}
	.bullet_icon {
		font-size: 14px
	}
	.para_content {
		width: 85%
	}
	.dialog_body {
		background: 0
	}
	.dialog_footer p {
		text-align: center;
		font-size: 10px
	}
	.form_title h3 {
		font-size: 14px
	}
	.form_body {
		margin: 0;
		padding: 0 4px
	}
	.form_control {
		text-align: center
	}
	.form_control input {
		width: 100%;
		font-size: 12px;
		color: #8e8e8e;
		margin: 10px 0
	}
	.form_control .default_btn {
		font-size: 13px
	}
	.form_body .form_control {
		text-align: center;
		margin-bottom: 1.5em
	}
	.form_footer {
		background: 0;
		margin: 0;
		padding: 0;
		font-size: 12px;
		display: inline-block;
		width: 100%
	}
	.form_footer ul li {
		float: left;
		width: 100%;
		padding: .3em 0
	}
	.dialogTnc {
		float: right;
		padding: 5px;
		color: #777;
		text-decoration: underline
	}
	.sort_icon_rwd {
		background: url('../images/sort_blue.jpg') no-repeat 0 0 transparent;
		display: inline-block;
		height: 16px;
		background-size: 17px 16px;
		width: 17px;
		vertical-align: top
	}
	.sort_icon_active {
		background: url('../images/sort_gray.jpg') no-repeat 0 0 transparent;
		display: inline-block;
		height: 16px;
		background-size: 17px 16px;
		width: 17px;
		vertical-align: top
	}
	.filter_icon_rwd {
		background: url('../images/filter_blue.jpg') no-repeat 0 0 transparent;
		display: inline-block;
		height: 16px;
		background-size: 17px 16px;
		width: 17px;
		vertical-align: top
	}
	.filter_icon_active {
		background: url('../images/filter_gray.jpg') no-repeat 0 0 transparent;
		display: inline-block;
		height: 16px;
		background-size: 17px 16px;
		width: 17px;
		vertical-align: top;
		margin-right: 15px
	}
	.wrap_pop {
		position: absolute;
		top: 56px;
		background: #fff none repeat scroll 0 0;
		z-index: 9999999;
		width: 100%;
		display: none
	}
	.dialog_wrap h3 {
		background: linear-gradient(#ddd, #eee, #eee, #eee, #eee);
		background: -moz-linear-gradient(#ddd, #eee, #eee, #eee, #eee);
		background: -webkit-linear-gradient(#ddd, #eee, #eee, #eee, #eee);
		background: -o-linear-gradient(#ddd, #eee, #eee, #eee, #eee);
		padding: 10px 10px;
		border-bottom: 1px solid #ddd
	}
	.dialog_wrap h5 {
		padding: 8px 0
	}
	.dialog_wrap ul li {
		padding: 12px 10px
	}
	.dialog_wrap .sort_list li {
		border-top: 1px solid #ddd
	}
	.dialog_wrap .sort_list li a {
		font-size: 13px;
		color: #777
	}
	.dialog_content {
		padding: .5em 0
	}
	.dialog_wrap .range_filter {
		padding: 0 18px;
		border-bottom: 0
	}
	.jppl_enroll {
		display: none
	}
	.main_head .mainHeading {
		display: block
	}
	#content {
		padding: 0 20px
	}
}

@media screen and (min-device-width:768px) and (max-device-width :1024px) and (orientation:portrait) {
	.log_out {
		display: none!important
	}
	.title_top_menu {
		display: inline-block
	}
	.login_home {
		margin-top: 29px;
		margin-right: 0
	}
	.logged_in {
		margin-top: -13px
	}
	.content_slide {
		width: 100%;
		display: block
	}
	.input_box {
		width: 78.4%
	}
}

@media screen and (min-device-width:768px) and (max-device-width :1024px) and (orientation:landscape) {
	.log_out {
		display: none!important
	}
	.title_top_menu {
		display: inline-block
	}
	.logout_box {
		margin-top: 27px
	}
	.login_home {
		margin-top: 29px;
		margin-right: 0
	}
	.logged_in {
		margin-top: -13px
	}
	.selected_txt {
		font-size: 13px;
		padding: 11px 13px 11px 0;
		width: 130px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden
	}
	.result_sort_block {
		display: inline-flex;
		display: -webkit-inline-flex;
		display: -moz-inline-flex;
		display: -o-inline-flex;
		display: -ms-inline-flex
	}
	.sort_result {
		display: block
	}
	.sort_dropdown {
		right: 0
	}
	.content_slide {
		width: 100%;
		display: block
	}
	.input_box {
		width: 60%
	}
	.dropdown li a {
		font-size: 12px
	}
	.top_quick_menu {
		display: inline-flex;
		display: -webkit-inline-flex;
		display: -moz-inline-flex;
		display: -ms-inline-flex;
		display: -o-inline-flex;
		width: 100%
	}
	.title_top_menu {
		float: none;
		width: 11%;
		font-size: 12px
	}
	.postLoginWrapper {
		display: block
	}
	.sort_action {
		display: none!important
	}
}

