/* Start Jquery Validation Style */

div.error {
    text-align: left;
    z-index: 1; 
    color: #FF6347;
    font-size: 0.85em;
}

span.error{
	
	color: #FF6347;
	word-wrap: break-word;
}



/* End Jquery Validation Style*/

/*======  page not found css ====== */
body.error_bg{
    background: #ddeeff;
}
.errorLogo {
    background: url("../images/header/JP_logo.png") no-repeat center center;
    width: 213px;
    height: 43px;
    display: inline-block;
    text-indent: -99999em;
    margin: 20px 0 0 20px;
}

.errorMsgContainer {
    position: absolute;
    font-size: 18px;
    color: #4d4d4f;
    text-align: center;
    margin:10% 25%;
}

.errorMsgContainer div {
    font-size: 180px;
    font-weight: 300;
    color: #ef4044;
    margin: 0;
    padding: 0;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
    line-height: 20px;
}

.errorMsgContainer div .page_not_found {
    color: #4d4d4f;
    font-size: 24px;
    color: #4d4d4f;
    display: inline-block;
    /*margin-left: -40px;*/
    text-shadow: none;
}

.errorMsgContainer p {
    margin-top: 15px;
    font-weight: 300;
}
.btnblue {
    font-size: 14px;
    padding: 8px 10px !important;
    background-color: #03868b;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    min-width: 70px;
}

.btnblue1 {
    font-size: 14px;
    padding: 8px;
    background-color: #03868b;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.otp-error{
		background:#FCD1D1 url("../images/icons/error_icon.png");
		background-repeat:no-repeat;
		background-size:20px;
		background-position:10px center;
		border:1px solid #D50505;
		font-size:13px;
		font-family:Ubuntu;
		padding:10px !important;
		margin:10px 0;
		color:#333;
	}
	.otp-error p{
		padding:0 0 0 30px !important;
	}
input#goToHome {

    border: 0px;
}