/* CSS for Custom Radio button starts here */
input[type="radio"]{
    position:absolute;
    left:-99999px;
}

input[type="radio"] + label {
    padding:3px 0 3px 30px;
    display: inline-block;
    min-height:22px;
    background: url("../images/header/radio-btn.png") no-repeat left top;
    background-size:20px;
    cursor:pointer;
}

input[type="radio"] + label.checked{
    background: url("../images/header/radio-btn-selected.png") no-repeat left top;
    background-size:20px;
}

input[type="radio"]:focus + label.checked{
    background: url("../images/header/radio-btn-selected.png") no-repeat left top;
    background-size:20px;
}

input[type="radio"][disabled] + label{
    background: url("../images/header/radio-btn.png") no-repeat left top;
    background-size:20px;
}	
/* CSS for Custom Radio button ends here */
/* Form Standardization starts here */
.formTemplate .formHeader{    
    background:#e5e5e5;
    padding:5px 10px 7px;
    margin-bottom:20px;
}

.formTemplate .formHeader h4, .formTemplate .formHeader h2{
    font-size:16px;
    color:#444;
    font-weight:500;
}

.formTemplate .formSubHeader{
    border-bottom:1px solid #7fd6f7;
    padding-bottom:10px;
    padding-left:10px;
    margin:30px auto 20px;
}

.formTemplate .formSubHeader h5{
    font-size:16px;
    color:#222;
    font-weight:bold;    
}

.formTemplate .formFooter{
    border-top:1px solid #e5e5e5;
    padding-top:10px;
    margin:20px 0 15px 155px;
}

.formTemplate .formContainer{padding-left:10px;}

.formTemplate .formContainer .formControl{margin-bottom:10px;}

.formTemplate .formContainer .formControlWrapper.col-2{
    display:inline-block;
    width:49%;
    vertical-align:top;
}

.formTemplate .formContainer .formControlWrapper.col-2:first-child{margin-right:10px;}

.formTemplate .formLabel{
    float:left;
    font-weight: normal;
    width: 140px;
    padding: 8px 0 0 0;
    font-family: Ubuntu-Regular;
    color: #4D4D4D;
    font-size: 14px;
}

.formTemplate.oneLineLabel .formLabel{width: 190px;}

.formTemplate.oneLineLabel .formLabel + .formControls{margin-left:195px;}

.formTemplate.oneLineLabel .formFooter{margin-left:205px;}

.formTemplate .formLabel label{
    display:block;
    margin-bottom:2px;
}

.formTemplate .formLabel.noTopPadding{padding-top: 0;}

.formTemplate .formLabel.widthAuto{width:auto;}

.formTemplate .formLabel label.inlineBlock{display:inline-block !important;}/*Ticket no 220*/

.formTemplate .formContainer .secondaryText{
    font-size:12px;
    color:#777;
    font-weight:normal;
}

.formTemplate .formLabel + .formControls{margin-left:145px;}

.formTemplate .formControls .formControl{
    float:left;
    margin-right:10px;
    position:relative;
}
/*start Amit*/
.formTemplate .formControls input[type="text"],
.formTemplate .formControls input[type="password"], 
.formTemplate .formControls input[type="email"],
.formTemplate .formControls textarea{
    height:34px;    
    padding: 6px 8px 9px 3px;
    border:1px solid #CCC;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -o-border-radius:4px;
    -ms-border-radius:4px;    
}
/*end Amit*/
.formTemplate .formControls input[type="text"].errorControl,
.formTemplate .formControls input[type="password"].errorControl, 
.formTemplate .formControls input[type="email"].errorControl,
.formTemplate .formControls select.errorControl,
.formTemplate .formControls textarea.errorControl,
.errorControl{
    border:1px solid #f00 !important;
}

.formTemplate .formControls input[type="text"]:focus,
.formTemplate .formControls input[type="password"]:focus, 
.formTemplate .formControls input[type="email"]:focus,
.formTemplate .formControls select:focus,
.formTemplate .formControls textarea:focus{
    border:1px solid #06aded !important;	
}

.formTemplate .formControls input[type="radio"]:focus,
.formTemplate .formControls input[type="checkbox"]:focus{
    outline:1px solid #06aded !important;	
}

.formTemplate .formControls textarea{
    resize: none;
    overflow-y: auto;
    min-height:70px;
}

/*start Amit*/
.formTemplate .formControls select, select:not(.ui-datepicker-year):not(.ui-datepicker-month){
    padding: 0 15px 0 10px;
    min-width:50px;
    width: auto;  
    border:1px solid #CCC;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -o-border-radius:4px;
    -ms-border-radius:4px;
    height: 34px;
}
/*end Amit*/
/*Ticket no 383*/
.formTemplate .formControls select.selectWidth {
    width: calc(100.25%);
}
/*Ticket no 383*/

/*.formTemplate .formControls select, select:not(.ui-datepicker-year):not(.ui-datepicker-month){padding-right:0;}*//*Ticket no 294*/
.formTemplate .ui-datepicker-trigger{
    margin-left: 10px;
    /*margin-top:-3px;*/
}

.formTemplate .helpText {
    height: 19px;
    width: 19px;
    position: static;
    vertical-align:middle;
    display:inline-block;
    margin-top:-3px;
    margin-left:8px;
}

.formTemplate .formControls textarea + .helpText {
    vertical-align:top;
    margin-top:8px;
}

.formTemplate .formControls .helpmessages{
    top:-2px;
    right:-158px;
}

.formTemplate input[type="checkbox"],
.formTemplate input[type="radio"]{
    margin-right:6px;
    vertical-align:middle;
}

.formTemplate input[type="checkbox"] + label,
.formTemplate input[type="radio"] + label{
    margin-right:20px;
}

.formTemplate .formControlExtraSmall{width:80px}

.formTemplate .formControlSmall{width:125px}

.formTemplate .formControlMedium{width:200px}

.formTemplate .formControlLarge{width:300px}

.formTemplate .formControlExtraLarge{width:400px}

.paddingT5{padding-top:5px;}

.formTemplate .formControls .formControl.mandatoryElement:before {
    content: "*";
    color: red;
    vertical-align: top;
    font-weight:bold;
}

.transferJPMilesForm .formLabel{width: 215px;}

.transferJPMilesForm .formLabel + .formControls{margin-left:220px;}

.transferJPMilesForm .formFooter{margin-left:230px;}

.whereToGoMilesForm .formLabel{width: 80px;}

.whereToGoMilesForm .formLabel + .formControls{margin-left:85px;}

.whereToGoMilesForm .formFooter{margin-left:95px;}

.activitydetails .formLabel {width: 80px;}

.activitydetails .formTemplate .formLabel + .formControls{margin-left: 85px;}

.activitydetails .formFooter{margin-left:95px;}

.focusErrorField, .offScreenText{
    height: 0;
    width: 0;
    position: absolute;
    top: -10000px;
}

@media screen and (min-device-width: 320px) and (max-device-width : 767px) {

    .formTemplate .formLabel .requiredfield:before{display:none;}

    .formTemplate .formSubHeader{padding-left:0;}

    .formTemplate .formLabel,
    .formTemplate.oneLineLabel .formLabel,
    .transferJPMilesForm .formLabe,
    .whereToGoMilesForm .formLabel,
    .activitydetails .formLabel{
        width: 100%;
        float:none;
    }

    .formTemplate .formLabel {
        padding:0}
    .formTemplate .floating-container .formLabel{
        float:none;
        width: auto;
        padding:0;
    }

    .formTemplate .floating-container .formLabel label,
    .formTemplate .formLabel label.handHeldHide{display:none;}

    .formTemplate .formContainer{padding-left: 0;}

    .formTemplate .formLabel + .formControls,
    .formTemplate.oneLineLabel .formLabel + .formControls,
    .transferJPMilesForm .formLabel + .formControls,
    .whereToGoMilesForm .formLabel + .formControls,
    .activitydetails .formTemplate .formLabel + .formControls{margin-left: 0;}

    .formTemplate .formControls .formControl{
        float: none;
        margin-right: 0;
        width: 100%;
    }

    .formTemplate .formContainer .formControlWrapper.col-2 {width: 100%;}

    .formTemplate .formControls .formControl.mandatoryField:before {
        content: "*";
        color: red;
        vertical-align: top;
        font-weight:bold;
    }

    .formTemplate .formControls .formControl:not(.mandatoryField):not(.mandatoryElement):before,
    .formTemplate .formControls .formControl.nonMandatoryField:before{
        content: "*";   
        visibility:hidden;
    }   

    .formTemplate .formControls input[type="text"], 
    .formTemplate .formControls input[type="password"],
    .formTemplate .formControls input[type="email"], 
    .formTemplate .formControls select, 
    .formTemplate .formControls textarea {
        height:46px;    
        padding: 12px 10px;
        width:86%; 
    }   

    /*Ticket no 383*/
    .formTemplate .formControls select.selectWidth {
        width: calc(86%);
    }
    /*Ticket no 383*/

    .formTemplate .formControls textarea {padding: 14px 10px;}

    .formTemplate .date-picker, .formTemplate .hasDatepicker {width: 74.5% !important;}

    .formTemplate .selectArrow {display: initial;}	

    .formTemplate input[type="checkbox"] + label,
    .formTemplate input[type="radio"] + label{
        margin-right:20px;
        display:inline;
    }

    #AccountSummary .formTemplate input[type="checkbox"] + label, .formTemplate input[type="radio"] + label{margin-right:15px;}
    .formTemplate input[type="radio"] + label {line-height:20px;}
    .formTemplate .formFooter,
    .formTemplate.oneLineLabel .formFooter,
    .transferJPMilesForm .formFooter,
    .whereToGoMilesForm .formFooter,
    .activitydetails .formFooter{
        margin-left:0;
        /*padding-left:10px;*/ /* for 1381 story*/
    }

    .formTemplate .passContainer.inlineBlock {margin:-5px auto 10px 10px;}
    /*Ticket no 366*/
    .formTemplate .formControls .helpmessages{
        top:4px;
        right:31px;
    }
    /*.formTemplate .formControls .helpmessages{
            top: -11px;
        left: -160px !important;
    }*/

    .totalcosthelp  .helpmessages{
        top:-8px !important;/*Ticket no 366*/
        right:57px !important;/*Ticket no 366*/
    }
    /*Ticket no 366*/
    .custhelpmsg .helpmessages::before {
        left: -10px;
        border-color: transparent #00aeef transparent transparent;
        border-style: solid;
        border-width: 10px 10px 10px 0;
    }
    .helpText.giftTransferHelpText .helpmessages {right: 57px!important;top:-8px!important}/*Ticket no 366*/
    .redeemInfant .helpText .helpmessages {left:29px;position:relative;top:-11px!important}/*Ticket no 366*/

    .custhelpmsg .helpmessages{
        top:-2px;
        left:78px;
    }

    /* CSS for floating labels starts here */
    .floating-container{position:relative;}

    .floating-container .floating-label,
    .floating-container .floating-label.offScreenText{
        width:100%;
        height:auto;
        position:absolute;
        top:10px !important;
        left:13px;
        font-size:10px;
        color:#999;
        font-weight:normal !important;
        z-index:1;
    }
    .floating-container .floating-label.select_label{
        width:100%;
        height:auto;
        position:absolute;
        top:1px !important;
        left:13px;
        font-size:10px;
        color:#999;
        font-weight:normal !important;
        z-index:1;
    }
    .floating-container .floating-label .errorText{display:none;} /* To hide * sign in mobile view */
    /* CSS for floating labels ends here */

    .secondFactorAuthentication .emailIDWrapper + div,
    .secondFactorAuthentication .mobileNumberWrapper + div{/* fix for Mandatory form fields in mobile view */
        margin-left: 20px !important;
    }   

}
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) and (orientation : landscape) {
    .formTemplate .formControls .helpmessages {
        right: 66px;
    }

    /*Ticket no 366*/
    .totalcosthelp .helpmessages {
        top: -8px !important;
        right: 305px !important;
    }/*Ticket no 366*/
    .helpText.giftTransferHelpText .helpmessages {left:29px;position:relative;top:-11px!important}/*Ticket no 366*/
    .redeemInfant .helpText .helpmessages {left:29px;position:relative;top:-11px!important}/*Ticket no 366*/
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .formTemplate  .formContainer .formControlWrapper.col-2 {width: 100%;}

    .newsecondFactorAuthentication .formTemplate .formLabel { width:120px
    }
}
/* Form Standardization ends here */

/* for trust and verification under security and policy tab with two colume layout start by rahul for story 414  */

.newsecondFactorAuthentication .formTemplate .formControlExtraSmall {
    width:60px}

.newsecondFactorAuthentication .secondFactorAuthentication .mobileNumberWrapper + div, .newsecondFactorAuthentication  .secondFactorAuthentication .emailIDWrapper + div {margin-left: 122px;
}

.newsecondFactorAuthentication .formTemplate .formLabel { width:118px
}

.newsecondFactorAuthentication .formTemplate .formLabel + .formControls {margin-left: 122px
}

@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {

    .secondFactorAuthentication .selectArrow { padding:15px 0}
    
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){


    .newsecondFactorAuthentication .formTemplate .formLabel { width:120px
    }
}

/* for trust and verification under security and policy tab with two colume layout by rahul for story 414 end */
/* Ticket no 296 */
html input[type="text"][disabled], html input[type="password"][disabled] {
    color:#666 !important;
    background-color:#ebebe4 !important;
    opacity:1 !important;
    -webkit-opacity:1 !important;
    -moz-opacity: 1 !important;
    -ms-filter: alpha(opacity=100) !important;
}
/* Ticket no 296 */
