@media screen and (min-device-width:320px) and (max-device-width:767px) {
	.headerPanelSearch {
    	height: 10px;
	}
	.site-header .logoSection {
        padding: 13px 0 0 0px !important;
    }
    
	.left {
	    display: inline-block;
	    vertical-align: middle;
	    width: 60% !important;
            margin-top: 0px !important;
	}
	.logoSection .right {
	    display: inline-block;
	    vertical-align: middle;
	    width: 30%;
	   /*  margin: 0 8px 0 0px; */
	   margin: -7px 8px 0 0px;
	}	
}
@media screen and (min-width:320px) and (max-width:667px){
	footer{position:relative;}
	 .site-header .logoSection .logo{
		background:transparent url("../images/iPhone/Home/logo_JP.png") no-repeat scroll center center / 100% auto;
		width:136px;
    }
    
    .before_login{
		background:rgba(0, 0, 0, 0) url("../images/iPhone/Home/user-profile.png") no-repeat scroll 90% top / 16px auto;
		height:18px;
		width:16px;
		display:inline-block;
		background-size: 18px 18px;
    }
    
    .after_login{
		display:block;
		background:rgba(0, 0, 0, 0) url("../images/icons/user.png") no-repeat scroll 90% center / 16px auto;
		height:16px;
		width:16px;
    }
    
    .login .clearfix ul li:first-child{
		display:none;
	}
	.login .clearfix ul li:nth-child(2){
		text-align: center;
		width: 75%;
		margin-top: 1px;
    margin-right: 15px;
    margin-left: 16px;
	}
	.login .clearfix ul li:nth-child(2) a{
	padding: 0 16px;
    margin: -16px -5px;
	margin-bottom:-5px;
	}
	
    .login .login_btn,
    .logout .clearfix ul li{
		display:none;
    }
    .logout ul{background:#fff;}
    .logout .clearfix ul li:first-child{
		display:block !important;
	}
    .headerEnrollLinkIcon{
		background-position:left center;
    }
    
    
    footer{margin-top:0;}
}
@media screen and (max-width:767px){
	.site-header .logoSection {
        padding: 13px 0 0 0px !important;
    }
}
@media screen and (min-width:768px) and (max-width:1024px){
	.logoSection .right {
    display: inline-block;
    vertical-align: middle;
    width: 44%;
    margin: 0 8px 0 0px;
	}
	.login ul {

	    width: 110%;
	    text-align: right;
	    
	}
}
@media screen and (min-device-width:690px) and (max-device-width:760px) and (orientation:landscape){
	 .login .clearfix ul li:first-child {
        display: none;
    }
    .login .login_btn, .logout .clearfix ul li {
        display: none;
    }
    .login .clearfix ul li:nth-child(2) a {
        padding: 0 12px;
        margin: 0;
    }
    .before_login {
        background: rgba(0, 0, 0, 0) url(../images/icons/usericon.png) no-repeat scroll 90% top / 16px auto;
        height: 16px;
        width: 16px;
        display: inline-block;
    }
    footer {
        position: static;
        margin-top: 0;
    }
}