.site-header{
    width:100%;  top:0px;
    background: #fff url("../images/header/header_bg-shadow.png") repeat-x  center 133px;
}

.site-header  .logoSection {
     padding: 0px 0 0 20px; 
/*    margin-bottom: 10px;
*/}
.shrink .logoSection{
	margin-left: 0px;
}
.site-header.shrink  {
    position:fixed; z-index: 9; top:0;
   box-shadow: 0 4px 4px -2px #232323;
	height:80px;
	    background-image: none !important;
}

.site-header .logoSection .logo {
    background: url('../images/header/JP_logo.png') no-repeat  0 0 transparent;
    display: inline-block;
    height: 43px;
    background-size:213px 43px;
    width: 213px; position: relative;z-index: 2; 
    margin-top: 10px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    margin-left: 0px;
}

.site-header.shrink .logoSection .logo {
    display: inline-block;
    height: 29px;
    width: 149px; position: relative;z-index: 2; 
    margin-top: 10px;
    background-size:149px 29px
}
.right{
/*    float:right;
    margin-right: -4px !important;*/
}
nav.topNavigation {
   height:124px;
    width: 883px;
    position: relative; display:block; 
   margin: 0px auto 0px auto
}

.site-header.shrink nav.topNavigation{height:57px;}
nav.topNavigation>ul>li {
    display:block;
    float: left;
    width: 175px; 
}
.topNav {background: url('../images/header/sprite_header-menu-icons.png') no-repeat  0 0 transparent}

.site-header.shrink nav.topNavigation>ul>li>a, .site-header.shrink nav.topNavigation>ul>li.menuHighlight>a{height:57px}

.site-header.shrink nav.topNavigation>ul>li:hover>a, .site-header.shrink nav.topNavigation>ul>li.menuHighlight:hover>a{height:64px}
.site-header.shrink nav.topNavigation li:hover>.megaMenu, .site-header.shrink nav.topNavigation li>.megaMenu { top: 63px}
.shrink nav.topNavigation>ul>li>a:hover:before, .shrink nav.topNavigation>ul>li:hover a:before{  background-position:50% -16px; bottom:14px}


nav.topNavigation>ul>li>a {
    border-radius: 4px;color:#fff; display: block; text-align: center; position: relative;
    font-weight: 500; font-size:15px; z-index:9998;display:block;padding:8px 0px 24px 0;
	font-family:'Ubuntu', 'sans-serif';
}

nav.topNavigation>ul>li>a.About {background-color: #00aeef;}
nav.topNavigation>ul>li>a.EMiles {background-color: #0089CF}
nav.topNavigation>ul>li>a.UMiles {background-color: #0072BC}
nav.topNavigation>ul>li>a.Offer { background-color: #005BAA}
nav.topNavigation>ul>li>a.PNetwork {background-color: #004A8D}

nav.topNavigation>ul>li:hover>a, nav.topNavigation>ul>li.menuHighlight>a{   
    background: #fff;  color:#005baa; border:1px solid #555; 
}
nav.topNavigation>ul>li.menuHighlight>a{border:1px solid #555; border-radius: 4px; height:108px}
nav.topNavigation>ul>li.menuHighlight:hover>a{height:116px;border-bottom:1px solid #fff; border-radius:4px; border-bottom-right-radius:0px; border-bottom-left-radius:0px;}


nav.topNavigation>ul>li>a>span {
    background: transparent url('../images/header/sprite_header-menu-icons.png') no-repeat left top;
    display:block; width:54px; height:54px; margin: 0px auto 5px auto; visibility: visible; opacity: 1;
      transition: height 0.5s ease;
    -webkit-transition: height 0.5s ease;
    -moz-transition: height 0.5s ease
}
.shrink nav.topNavigation>ul>li>a>span { height:1px; opacity: 0; visibility: hidden}

nav.topNavigation>ul>li>a.About>span{ background-position: 0% 0%}
nav.topNavigation>ul>li>a.EMiles>span{  background-position: 25% 0%}
nav.topNavigation>ul>li>a.UMiles>span{background-position: 50% 0%}
nav.topNavigation>ul>li>a.Offer>span{ background-position: 75% 0%}
nav.topNavigation>ul>li>a.PNetwork>span{ background-position: 100% 0px}

nav.topNavigation>ul>li:hover>a.About>span, nav.topNavigation>ul>li.menuHighlight>a.About>span{ background-position: 0% 101%}
nav.topNavigation>ul>li:hover>a.EMiles>span, nav.topNavigation>ul>li.menuHighlight>a.EMiles>span{  background-position: 25% 101%}
nav.topNavigation>ul>li:hover>a.UMiles>span, nav.topNavigation>ul>li.menuHighlight>a.UMiles>span{background-position: 50% 101%}
nav.topNavigation>ul>li:hover>a.Offer>span, nav.topNavigation>ul>li.menuHighlight>a.Offer>span{ background-position: 75% 101%}
nav.topNavigation>ul>li:hover>a.PNetwork>span, nav.topNavigation>ul>li.menuHighlight>a.PNetwork>span{ background-position: 100% 101%}




nav.topNavigation>ul>li.menuHighlight>a:before{  background-position:50% -16px; bottom:7px}
nav.topNavigation>ul>li>a:hover:before, nav.topNavigation>ul>li:hover a:before{  background-position:50% -16px; bottom:15px}
.site-header nav>ul>li+li { margin-left:2px}
.megaMenu {
    background-color: #fff;
    border: 1px solid #555; color: #333;
    left: 0px;
    position: absolute;
    top: 115px;
    width: 100%;
    height: 290px;
    padding:10px 20px;
    display:none;
    opacity:0;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    overflow:hidden;
    border-radius:4px;
}

.megaMenuheadingSeparator{
    font-size: 14px;
    font-weight: bold; 
    color: #005baa; 
    padding-bottom: 10px; 
    border-bottom: 1px solid #00aeef;

}
.megaMenu .row .mmList.bulletList li {
    margin-bottom: 10px;
    padding: 0;
    color: #005baa;
}
.width50{
    width:50% !important;
}


nav.topNavigation>ul>li:hover>.megaMenu{
    display:block; opacity:1;z-index: 1119;
}

.megaMenu ul li a { font-size: 14px; font-weight: 400}
.megaMenu a{color:#005baa}
.megaMenu a:hover{color:#02AFE9}

.megaMenuColSep {
    background-color: #d5dfe2;
    height: 227px;
    width: 1px;
    position: absolute;top:10px; right:0
}


.megaTitle {margin: 10px 0 0 0;font-size: 14px; display:table; vertical-align: top/* text-transform: uppercase; */}

.megaMenu ul li a.myfamilyimg, .megaMenu ul li a.businessrewardimg, .row .myfamilyimg, .row .businessrewardimg{font-size: 13px !important;/*font-family: BodebeckLtStdBold !important*/}

ul.mmList {
    margin-top: 15px;
    margin-left: 10px;}


ul.mmList li {
    margin-bottom: 15px;
    text-align: left;
}
/*ul.mmList li:before{
    content:"\002022";
    color:#005baa;
    margin-right:5px;
    font-weight: 700;font-size: 14px;
}*/

.megaMenuImgCont {
    background:#e9ebec;
    padding: 5px 10px 0;
    line-height: 20px;
    margin:10px 0;
    height:230px;
}


.megaMenu ul li a {
    font-size: 13px;
}

ul.singlecol li a span {
    background: none repeat scroll 0 0 #02afe9;
    border-radius: 50%;
    font-size: 12px;
    margin-right: 5px;
    margin-left:0;
    padding: 5px;
    color: #FFF;
    display:inline-block;
    width:26px;
    text-align:center;
}

ul.singlecol li {
    margin-bottom: 6px;
}

.earncol2 ul.mmList {
    margin-top: 35px;
    margin-left:10px;
}


.btmDiv {
    bottom: 5px;
    position: absolute;
    width: 100%;
    text-align: center
}

.btmDiv input[type='button'] {
    height: 30px;
    margin: 0 auto;
    padding: 0 10px;
}

.btmDiv input[type='button']:hover {
    background-color: #00aeef;
}
.btmDiv .selectArrow {display: table; margin: 0 auto 10px auto; position: relative; z-index: 222}

ul.twoCol li {
    width: 50%; float: left
}
ul.twoCol li a span {border-radius: 50%; background: #005baa; padding:2px; margin-left:5px; color: #fff; font-size:10px}

.megaExtTitle {
    line-height: 32px;
    color: #fff;
    background-color: #777;
    text-align: center;
}
.megaExtContainer, .megaExtOnlyContainer {
    background-color: #e9ebec;
}
.megaExtImg {
    display: block;
    height: 60px;
    margin: 0 -6px 10px -6px;
}
.smallShare { position: absolute; right:5px; bottom:5px}

p.pTitle {
    font-weight: 700;
}

ul.externalLink li a {
    display: inline-block;
    margin-top: 10px
}
ul.externalLink li a:after {
    content:"\203A"; top:1px; position: relative;
    margin-left:6px;
    font-size: 18px; font-weight: bold;
}


.megaMenu .ext1 {
    background: url('../images/megaMenu/useMiles_img_01.jpg') no-repeat  0 0 transparent;
}

.megaMenu .ext2 {
    background: url('../images/megaMenu/earnMiles_img_01.jpg') no-repeat  0 0 transparent;
}

.megaMenu .ext3 {
    background: url('../images/megaMenu/offerPlatter_img_01.jpg') no-repeat  0 0 transparent;
}

.megaMenu .ext4 {
    background: url('../images/megaMenu/offerPlatter_img_02.jpg') no-repeat  0 0 transparent;
}

.megaMenu .ext5 {
    background: url('../images/megaMenu/partnerNetwork_img_01.jpg') no-repeat  0 0 transparent;
}

.megaMenu .ext6 {
    background: url('../images/megaMenu/partnerNetwork_img_02.jpg') no-repeat  0 0 transparent;
}


/* 3rd Dec */
.clearlink{

    color:#005baa;
    margin-left: 8px;
}

.test { display: block !important; top: 103px !important; z-index: 99999;}

.mmList ul.twoCol li {
    width: 49% !important;
    margin-bottom: 10px !important; float:left
}

.megaExtText .megaExtra {
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: 5px;
    width:100%; text-align:right
}

.megaExtra ul {
    margin: 0 10px;
}

.megaExtra ul li {
    width: auto;
    color: #005baa;display: inline-block; overflow: hidden; line-height:14px; overflow:hidden
}


a.share, a.share:hover  {
    background: url('../images/megaMenu/sprite_icon-share.png') no-repeat left top;
    padding-left:30px; display:inline-block;
}

a.share:hover {
    background-position: 0px -16px;
}

a.globalSearch {
    background: url('../images/header/icon_globe-over.png') no-repeat left top;
    margin-top:5px;
    height:22px; width:22px; display: inline-block; opacity: 1;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
a.globalSearch:hover{opacity: 0.6}
.searchContainer{
    color: #22374d;
    text-align: right;
    float: right;
/*    margin-right: 10px;
*/}
.searchContainer a { font-size: 12px}
.searchContainer a:hover{color: #00aeef}

.searchContainer ul{display: table; float:right;  margin-top:10px }
.searchContainer ul li {
    padding: 0; margin: 0;
    display: table-cell;
    font-size: 13px;
    vertical-align: top; color: #666; 
    /* vertical-align: middle
 */}
/*.searchContainer ul li.middleList:after{
    content:"\03b9";
    margin-left:10px;
    margin-right:10px
}*/

/*.searchContainer ul li.middleList:before{
    content:"\03b9";
    margin-left:10px;
    margin-right:10px
} */

/*.searchContainer ul li.middleList:before, .searchContainer ul li.firstList:before{
    content:"\03b9";
    margin-left:10px;
    margin-right:10px
}*/


.searchContainer ul li.search {background: url('../images/header/icon_globalmenu-search.png') no-repeat left 7px;
 float:left; min-width:22px;
 background-size:18px 18px;
}

input.searchBox{
    background-color: transparent;
    /*border:none ;*/
    /*visibility: hidden;*/
   /* opacity: 0;*/
    width: 0px;
    height: 30px;
    padding-left: 0px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all  0.2s linear;
    float: right; color: #999; width:0px;
}
.mobQuick input.searchBox {position:absolute;  right:90px; top:35px; border-radius: 0px}

.searchContainer .searachpanel, .mobQuick .searachpanel {
    width: 150px; padding-left:10px; visibility: visible; opacity: 1; background-color: #E8EEF0;
    padding-right: 30px;
    border-top:none;border-left:none;border-right:none;/*border-bottom:1px solid #222*/;border-radius:0;
}

.logoSection a { line-height: 0px;z-index: 1 !important;}
.logoSection .middleList.hideinmobile a { 
    border-left: 2px solid #666;
    /* border-right: 2px solid #666; */
    margin: 0 10px;
    padding: 0 10px;
}
.logoSection #guidedTourLink a{
	margin-right: 0;
    padding-right: 0;
}
.logoSection a:hover {}
.searchContainer ul li.search button{/*background: url('../images/header/icon_globalmenu-search.png') no-repeat left top;*/
    border: 0 none;cursor: pointer;height: 22px;width: 22px; float: left; margin-left:5px;border-radius:0; 
    display: none; 
    position: relative; top:5px;
}

.mobQuick {display:none; float: right;text-align:right;margin-top:5px}
.mobQuick>ul>li{
    font-size: 12px;
    cursor: pointer;
    float: left;
    margin-right:10px;
}
.mobQuick ul li.login{
    background: url('../images/iPhone/Home/header_iconLogin.png') no-repeat 0 0 transparent;
    margin:0 5px;
}
.mobQuick ul li.login button{background:transparent; width:20px; height:20px}
.mobQuick ul li a{
    color: #0089cf;
}
.mobQuick ul li a:hover{
    color:#666;
}
.mobQuick ul li .search button{
    background: url('../images/header/search.png') no-repeat  center center;width:21px;height:22px;
    cursor: pointer;
    position: relative;
    float: right;
}
footer {
    background:#e4e4e4;
    font-size: 13px;
    font-weight: 300;
    color:#000;
    border-top: 1px solid #0072bc;
  /*position: absolute;*/
    width:100%; z-index: 0; bottom:0px;
/*height:300px*/
/*padding-bottom:26px;*/
/*font-family:'ubuntu', 'Sans serif';*/ /*prod change*/
}

footer a { color: #000}
footer a:hover{color: #666; }/*buglist*/
footer h3 {font-size: 12px; margin-bottom:2px; font-weight:bold;}
.panelone {display:table; margin: 0 20px 8px; overflow:hidden}

.panelone>div { display: table-cell; width:25%; padding-right:10px; vertical-align: top}
ul.footerNavigation {}
ul.footerNavigation li {padding-top:11px;}

/*.footerColumn1 ul.footerNavigation li{height:24px; overflow:hidden}*/
.socialLinksContainer{ float:left; padding-left: 10px; }
ul.socialLinks { display: block}
ul.socialLinks li {
    display: table-cell;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 16px;
	padding-bottom:2px;
}
ul.socialLinks li a img { float: left; margin-right:10px}
footer .copy {
    color: #999;
    font-size: 11px; 
	font-weight: 300;
     margin: -11px 20px;
     text-align: right;
}
footer .copy ul.footerlogos {
display:inline-table;
margin-top:3px; 
}
footer .copy ul.footerlogos li {padding: 2px 0; display:table-cell}
.mobMenul2 {display: none}
.iphoneFooter {display: none}

@media only screen and (max-width : 767px) {
    .megaMenu {
        display: none !important;
    }
    /* Mega Menu hide/show for max-width */

    #wrapper {
        overflow: hidden;
    }

    .mobMenul2, .iphoneFooter {
        display: block;
    }

    footer {
/*        height: 180px;
        bottom: -175px;*/
    }

    .bottomPadding {
        margin-bottom: 20px !important;
    }

    .footerarrow {
        width: 26px;
        height: 20px;
        background: url('../images/iPhone/Home/Arrow_footer.png') no-repeat left top;
        position: absolute;
        left: 50%;
        margin-left: -13px;
        top: 0px;
        margin-top: -20px;
        cursor: pointer;
        border: 1px solid #0072ee;
        border-bottom: 0;
        z-index: 999;
    }

    .iphoneFooter {
        margin: 0;
    }

    .megaMenu, .panelone, .socialLinksContainer  {
        display: none;
    }

    .searchContainer {
        margin-right: 0;
        display: table;
        margin-top: 5px;
    }

        .searchContainer .hideinmobile {
            display: none;
        }

        .searchContainer .search .searchBox {
            position: absolute;
            top: 28px;
            right: 0;
            height: 32px;
        }

    .search .countryArrow, .loginexpand .countryArrow {
        top: 29px;
    }
    
    .searchContainer ul {
        float: left;
    }

    .searchContainer .loginButton, .loginButtonheader {
        width: 20px;
    }

    .searchContainer .loginWrapper {
        margin-top: 0;
        margin-left: 10px;
    }

    .searchContainer ul li.search {
        float: none;
        position: relative;
        min-width: 17px;
        background: none;
        height: 21px;
        cursor:pointer; opacity: 1;padding-right:20px;
    }

    .searchContainer ul li.middleList::after {
        margin-left: 0;
        margin-right: 0;
        content: "";
    }

    .headerPanelSearch li {
        padding-right: 5px !important;
    }


    .loginexpand .loginButtonheader {
        background: url("../images/header/mob_login.png") no-repeat scroll center center transparent !important;
    }

    .searchContainer .loginButtonheader {
        background: url("../images/header/mob_login.png") no-repeat scroll center top transparent;
        height: 16px;
        width: 16px !important;
        padding: 0;
    }

    .loginButtonPostLogin {
        background: url("../images/header/usericonPostLogin.png") no-repeat scroll center top transparent !important;
        border: none !important;
        padding: 0 !important;
        height: 20px;
        width: 23px;
    }

    .searchContainer ul li.search button {
        display: inline-block !important;
        background: url("../images/header/mobsearch.png") no-repeat scroll 94% 0 transparent !important;
        float:right
    }
   
    .headerPostLoginWrapper {
        width: 318px !important;
    }

    .searchContainer ul.infoWrapper {
        margin: 0 !important;
    }

    .custom-combobox {
        height: 20px;
    }

    ul.footerNavigation {
        display: block;
        text-align: center;
        font-size: 0px;
        
        margin-top: 5px;
    }

        ul.footerNavigation li {
            display: inline-block;
            position: relative;
            font-size: 11px;
        }

            ul.footerNavigation li.divider {
                margin-left: 7px;
                padding-left: 7px;
            }

                ul.footerNavigation li.divider:after {
                    content: "|";
                    position: absolute;
                    left: 0;
                    top: 0px;
                }

    ul.socialLinks {
        margin: 10px auto;
        width: 290px;
        text-align: center;
    }

        ul.socialLinks li {
            width: auto;
            display: inline-block;
            margin: 0;
        }

    footer .copy {
        text-align: center;
        margin: 0;
    }

        footer .copy ul.footerlogos {
            display: block;
        }

            footer .copy ul.footerlogos li {
                display: inline-block;
            }

        footer .copy li img {
            width: 100%;
            height: auto;
        }

    .site-header {
        height: 55px;
        position: relative !important;
        z-index: 9;
  /*      -webkit-box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.25);*/
/*		box-shadow: 2px 2px 2px #6f6f6f;
*/    }
#includedHeader{
box-shadow: 2px 2px 2px #6f6f6f;}
        .site-header .logoSection {
            padding: 13px 0 0 0px;
           /* visibility:hidden;*/
        }

    .mobQuick {
        display: block;
    }

    .bodyPanel {
        margin-top: 0 !important;
    }
    /*.site-header {position: static !important}*/

    .mobMenul2 {
        background-color: #fff;
        visibility: hidden;
        opacity: 0;
        z-index: -1;
        border: 1px solid #d5dfe2;
        border-bottom: 0px;
        border-left: 0px;
        left: -135px;
        position: absolute;
        top: 0;
        width: 145px;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    nav.topNavigation > ul > li:hover .mobMenul2 {
        left: 100px;
        opacity: 1;
        visibility: visible;
        z-index: 1;
    }

    .slideMenu {
        margin-left: 100px;
        left: 0px;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    .mobMenul2 ul li {
        border-bottom: 1px solid #d5dfe2;
        padding-left: 10px;
    }

        .mobMenul2 ul li a {
            color: #005baa;
            line-height: 22px;
        }

    .site-header .logoSection .logo {
        background: url('../images/iPhone/Home/logo_JP.png') no-repeat 0 0 transparent;
        height: 32px;
        width: 135px;
        margin-top: 0px;
        background-size: 135px 27px; 
        margin-left: 0px;
    }

    nav.topNavigation {
        width: 102px;
        position: fixed;
        top: 54px;
        z-index: 30001;
        left: -100px;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        height: auto;
    }

        nav.topNavigation.scrollMenu {
            left: 0px;
        }

    .site-header nav > ul > li {
        height: 103px;
        width: 100px;
        border-radius: 0px;
        position: relative;
        display: table;
    }

        .site-header nav > ul > li > a, .site-header nav > ul > li > a:hover {
            border-radius: 0;
        }

        .site-header nav > ul > li > a {
            border-right: 1px solid #333;
            font-weight: 400;
            padding: 8px 0 8px 0;
            height: 100%;
            width: 100%;
            display: table-cell;
            vertical-align: bottom;
        }

            .site-header nav > ul > li > a:hover {
                height: 100%;
            }


                .site-header nav > ul > li > a:before, .site-header nav > ul > li > a:hover:before, .site-header nav > ul > li:hover > a:before {
                    background: url('../images/iPhone/Home/arrow_open.png') no-repeat 50% 50% transparent;
                    border-style: none;
                    height: 9px;
                    top: 50px;
                    width: 12px;
                    left: 90%;
                    margin-top: 0;
                }

        .site-header nav > ul > li + li {
            margin: 0px;
            border-top: 1px solid #222;
        }

    nav.topNavigation > ul > li > a > span {
        display: block;
        width: 40px;
        height: 40px;
        margin: 0 auto 5px auto;
        background-size: 500%;
        position: absolute;
        top: 10px;
        left: 50%;
        margin-left: -20px;
    }

    nav.topNavigation>ul>li:last-child:hover>a {border-bottom:1px solid #555}

    nav ul li.mobSelected a {
        color: #005baa;
    }

        nav ul li.mobSelected a .mDrop {
            background: url('../images/iPhone/Home/arrow_close.png') no-repeat 50% 50% transparent;
        }

    /* gurnaam pre - post login start */

    .mobQuick ul li.mobCountry {
        background: url("../images/header/country.png") no-repeat center center;
        width: 22px;
        height: 22px;
    }

    .mobQuick ul li.search {
        background: url("../images/header/search.png") no-repeat center center;
        width: 21px;
        height: 22px;
    }

    .mobQuick ul li.userIcon {
        background: url("../images/header/usericon.png") no-repeat center center;
        width: 16px;
        height: 17px;
    }

    .mobQuick ul li.mobNotifications {
        background: url("../images/header/notification_icon.png") no-repeat center center;
        width: 26px;
        height: 22px;
    }

    .mobNotifications span {
        margin-right: 4px;
        font-size: 11px;
        color: #fff;
    }

    .mobNotificationsWrapper ul li a {
        line-height: 25px;
    }

    .mobNotificationsWrapper ul li:first-child {
        background: #ededed;
    }

    .mobNotificationsWrapper {
        position: absolute;
        background-color: #fff;
        border: 1px solid #cecece;
        top: 45px;
        right: 8px;
        width: 92%;
        display: none;
        margin: 0 10px;
    }

        .mobNotificationsWrapper:after, .mobNotificationsWrapper:before, .mobPostLoginWrapper:after, .mobPostLoginWrapper:before, .mobLoginWrapper:after, .mobLoginWrapper:before {
            bottom: 100%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        .mobNotificationsWrapper:after, .mobPostLoginWrapper:after, .mobLoginWrapper:after {
            border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #ededed;
            border-width: 7px;
            right: 12px;
        }

        .mobNotificationsWrapper:before, .mobPostLoginWrapper:before, .mobLoginWrapper:before {
            border-color: rgba(113, 158, 206, 0) rgba(113, 158, 206, 0) #bbb;
            border-width: 8px;
            right: 11px;
        }

    .mobPostLoginWrapper {
        position: absolute;
        width: 92%;
        z-index: 30000;
        background-color: #fff;
        right: 18px;
        border: 1px solid #cecece;
        top: 40px;
        display: none;
    }

        .mobPostLoginWrapper ul.mmList li {
            list-style-type: disc;
            color: #005baa;
        }

            .mobPostLoginWrapper ul.mmList li a {
                padding-left: 5px;
            }

        .mobPostLoginWrapper .userInfo {
            border-bottom: none;
        }

        .mobPostLoginWrapper:after {
            right: 37px;
        }

        .mobPostLoginWrapper:before {
            right: 36px;
        }

        .mobPostLoginWrapper .log_out {
            margin-right: 10px;
        }

    .mobQuick .prelog input.searchBox {
        right: 50px;
    }

    .mobQuick .reset {
        right: 55px;
        top: 35px;
    }

    .mobQuick ul li.loginIcon {
        background: url("../images/header/mob_login.png") no-repeat center center;
        width: 19px;
        height: 20px;
    }

    .mobLoginWrapper {
        display: none;
        position: absolute;
        width: 210px;
        z-index: 30000;
        background-color: #fff;
        right: 15px;
        border: 1px solid #cecece;
        top: 45px;
    }

        .mobLoginWrapper:after {
            right: 4px;
            border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #fff;
        }

        .mobLoginWrapper:before {
            right: 3px;
        }

    .logoSection .mobLoginWrapper .rightSectionForm {
        padding: 10px;
    }

    .mobQuick ul li.search button {
        background: url('../images/header/search.png') no-repeat left top;
        border: 0 none;
        cursor: pointer;
        height: 22px;
        width: 22px;
        float: left;
        border-radius: 0;
        display: none;
    }
    /*.mobQuick .prelog input.searchBox {right:50px; top:40px}*/


    /* gurnaam pre - post login start */

    .notifications {
        background: url("../images/header/bell.png") no-repeat center top !important;
        width: 16px !important;
        height: 16px !important;
    }

    .postloginnotifications span {
        display: none;
    }

    .postloginnotifications {
        background: url("../images/header/red.png") no-repeat right 8px top !important;
        display: inline-block;
        position: relative !important;
        padding: 2px 10px !important;
        left: 0 !important;
        top: -1px !important;
        width: auto !important;
    }

    .loginButtonPostLogin {
        display: inline-block;
        float: right;
    }

    .headerPostLogin-notificationsWrapper {
        width: 318px !important;
        top: 25px !important;
        right: -38px !important;
    }
    
    .headerLoginWrapper {
        top: 28px !important;
        right: -19px !important;
    }

    .MegamenuOpenlogo {
        background: url('../images/iPhone/Home/menu-ham-icon.png') no-repeat 0 top ;
        display: inline-block;
        height: 20px;
/*        background-size: 14px 10px;
*/        width: 20px;
        margin: 5px 15px;
        vertical-align: top;
    }

    .MegamenuCloselogo {
        background: url('../images/iPhone/Home/back-arrow.png') no-repeat 0 0 transparent;
        display: inline-block;
        height: 14px;
        background-size: 14px 14px;
        width: 14px;
        margin: 5px 15px 5px 10px;
        vertical-align: top;
    }

    .visibilityVisible {visibility: visible;}

    nav.topNavigation {top: 56px;}

    .OptionOpen {
        background: url('../images/iPhone/Home/more.png') no-repeat 0 0 transparent;
        display: inline-block;
        height: 16px;
        background-size: 4px 16px;
        width: 4px;
        margin: 0px 5px 0 10px;
        vertical-align: top;
    }

    #optionOverlay {
        display: none;
        position: absolute;
        left: 0px;
        top: 50px;
        width: 100%;
        height: 120px;
        text-align: center;
        z-index: 9999;
        background-color: #fff;
        -webkit-box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.25);
    }

    #optionOverlay select.combobox {
        visibility: visible !important;
        display: block !important;
        overflow: hidden;
        height: 34px;
        border-right: 1px solid #cecece;
        border-radius: 5px;
        width: 100%;
    }

    #optionOverlay .selectArrow {
        width: 90%;
        margin-top: 20px;
    }

    .custom-combobox {
        display: none !important;
    }

    .headerEnrollLinkIcon {
        background: url('../images/iPhone/Home/enroll.png') no-repeat 0 0 transparent;
        display: inline-block;
        height: 20px;
        background-size: 20px 20px;
        width: 17px;
/*        vertical-align: top;
*/        margin-right: -5px;
    }
 
    .site-header {
        z-index: 9;
    }

    .mobMenul2 {
        width: 219px;
    }

    nav.topNavigation > ul > li:hover > a {
        border: #fff;
    }

    nav.topNavigation {
        top: 55px;
    }

    .mobMenul2 {
        border: none;
    }

    nav.topNavigation > ul > li:hover .mobMenul2 {
        left: 99px;
    }

    .megaTitle {
        font-weight: bold;
    }

    .mobMenul2 ul li {
        padding: 5px 0 5px 10px;
    }

    .site-header nav > ul > li:hover > a:before {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
        height: 12px;
    }

    .thirdLevelMenuList   {
        background: url('../images/header/sprite_header-menu-arrows.png') no-repeat 84% -4px;
        
    }
    .mobMenul3{border-top: 1px solid #d5dfe2;margin: 5px 0 -5px -10px;display:none}
    .mobMenul3 li:last-child{border-bottom:none}

    
    .thirdLevelMenuListFlip{background: url('../images/header/arrow-post.png') no-repeat 84% 12px;    }
        
    .mobMenul3.showMobMenul3{display:block;}

    .headerPostLoginWrapper{right:-15px !important}
    
    nav.topNavigation>ul>li.AboutList{background-color: #00aeef;}
    nav.topNavigation>ul>li.EMilesList {background-color: #0089CF}
    nav.topNavigation>ul>li.UMilesList {background-color: #0072BC}
    nav.topNavigation>ul>li.OfferList { background-color: #005BAA}
    nav.topNavigation>ul>li.PNetworkList {background-color: #004A8D}

    .site-header nav > ul > li {border-right: 1px solid #333;}
    .site-header nav > ul > li > a {border-right: none;}
    nav.topNavigation>ul>li:hover>a, nav.topNavigation>ul>li.menuHighlight>a{height:98px}
    nav.topNavigation > ul > li:hover {border: #fff}
    #optionOverlay .searchContainer,#optionOverlayList{width:100%}
    #optionOverlayList{margin-top:20px}
    #optionOverlay .searchContainer .searchBox{visibility: visible !important;
        display: block !important;
        width: 80%;
        left: 20px;
        margin-top: -37px;
        border-bottom: 1px solid #cecece !important;
        background-color: #fff;padding-left: 10px; 
        border-radius: 0;}

    .reset{margin-left: -15px !important;top: -9px !important;}

    nav.topNavigation>ul>li:hover, nav.topNavigation>ul>li.menuHighlight{   
        background: #fff;  color:#005baa;height:116px;
        border-bottom-right-radius:0px;
        border-bottom-left-radius:0px;
    }
    nav.topNavigation>ul>li.menuHighlight>a{border:none}
    nav.topNavigation>ul>li:hover, nav.topNavigation>ul>li.menuHighlight{height:103px}
        nav.topNavigation > ul > li:hover > a, nav.topNavigation > ul > li.menuHighlight > a {height: 103px;}
    .site-header .container {padding: 0!important;}
    .postLoginWrapper{margin-right:-5px}
    #OuterOverlay {top: 1px;}
    .mobMenul3 li a {margin-left: 15px;}

    
nav.topNavigation>ul>li:hover>a.About>span, nav.topNavigation>ul>li.menuHighlight>a.About>span{ background-position: 1% 98%}
nav.topNavigation>ul>li:hover>a.EMiles>span, nav.topNavigation>ul>li.menuHighlight>a.EMiles>span{  background-position: 25.5% 96%}
nav.topNavigation>ul>li:hover>a.UMiles>span, nav.topNavigation>ul>li.menuHighlight>a.UMiles>span{background-position: 50.5% 96%}
nav.topNavigation>ul>li:hover>a.Offer>span, nav.topNavigation>ul>li.menuHighlight>a.Offer>span{ background-position: 75% 96%}
nav.topNavigation>ul>li:hover>a.PNetwork>span, nav.topNavigation>ul>li.menuHighlight>a.PNetwork>span{ background-position: 100.6% 96%}

    nav.topNavigation > ul > li.menuHighlight:hover > a {height: 103px;}
    
    


    }
    
    
@media screen and (min-width: 320px) and (max-width : 767px) and (orientation : landscape){
    .searchContainer .searachpanel {
        width: 557px;
    }
}
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {

    .site-header{
        width:100%;  top:0px; position:relative;
        background: #fff url("../images/header/header_bg-shadow.png") repeat-x  center 110px;
    }

    .site-header nav.topNavigation{
        width: 738px;
    }
    .site-header nav>ul>li, .site-header.shrink nav>ul>li {
        width: 146px;
    }

}

.topSapcing {margin-top:0}

.reset {
    display: none;
    background: url("../images/header/icon-clear-search.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    height: 30px;
    margin-left: 130px;
    position: absolute;
}
.loginWrapper{
    display: inline-block; position:relative;
    margin-top: 8px;
}

.loginButton, .loginButtonheader {
    line-height: 26px !important;
    text-align: left;
    display:block; position:relative;
    width:90px;
    color:#fff !important;
    /*transition:all 0.2s ease;
    -webkit-transition:all 0.2s ease;
    -moz-transition:all 0.2s ease;*/
}
.loginButton span, .loginButtonheader span{background: url("../images/header/login_panel_down.png") no-repeat left top; left: 0px;
                   top: 26px; width:15px; height:10px; position:absolute; opacity: 0; visibility: hidden}

.loginexpand .loginButtonheader{width:225px;background: #0089cf url("../images/header/arrow.png") no-repeat 97% center}
.loginexpand .loginButtonheader span {opacity:1; visibility:visible}
.headerLoginWrapper {
   display:none;
   opacity: 0;
    position: absolute;
    width: 210px;
    z-index: 30000;
    background-color: #fff; 
    right:0;
    border: 1px solid #cecece;
   top: 26px;
}
.loginexpand .headerLoginWrapper{
   opacity: 1;
}

.megaMenu .brickswrapper {margin: 0 auto}

.earncol2{
    margin-top: 20px;
}

.knowmore{
  float: right;
  margin-top: 10px;  
}

ul.singlecol li {
    width: 100%;
}
.partnertitle{
    color: #005BAA;   
    margin-bottom: 10px;
    padding-top: 15px;
    font-weight: 500;
}
ul.partnerlogo{
    margin-right: 10px;
    display: table;
}
ul.partnerlogo li {display: table-cell;padding-right:10px}

.loginWrapper .rightSectionForm {margin:10px 10px} /*buglist*/
.loginWrapper .rightSectionForm [type="password"]{margin-top:20px}
.arrow-brdr{border-right:1px solid #fff;position:absolute;right:25px;top:2px;height:22px;opacity:0.3}
.loginButtonheader{padding: 0 14px;background: #0089cf url("../images/header/arrow-down.png") no-repeat 90% center}
/* updated Header Login Gurnam end */

/* Post login start */
/*new rules added by poonam*/

.postLoginWrapper { float: right;font-size: 12px;position: relative;}
.loginButtonPostLogin {
    background: url("../images/header/arrow-down.png") no-repeat 97% center #0072bc;
    padding:0 30px 0 10px;color:#fff;border:1px solid #0072bc
}

.logoSection .postLoginWrapper a {line-height:24px; display:inline-block; margin-right:10px;color:#005baa}

.headerPostLoginWrapper {
    /*opacity: 0;*/
    position: absolute;
    width: 320px;
    z-index: 30000;
    background-color: #fff; 
    right:0;
    border: 1px solid #cecece;
    /*padding-top: 20px;*/
    top: 24px;display:none
}

.postLoginexpand .headerPostLoginWrapper, .postLoginexpand .headerPostLogin-notificationsWrapper{
    visibility: visible;
    background-color: #f9f9f9; 
}

.postLoginexpand .loginButtonPostLogin {
     background: url("../images/header/login-ribbon_action-dots_over.png") no-repeat scroll right top #f9f9f9;
     color: #222 !important; 
     border:1px solid #bbb;
}

.postLoginexpand .loginButtonPostLogin .userLink{
    color: #222222 !important; 
}


.searchContainer .mmList li:before {
    color: #005baa ;
    content: "\002022" !important;
    font-size: 14px;
}

.searchContainer .mmList li{
    border:none;
    color:#005baa;
}

.logoSection .mmList li a{
    color:#005baa;
    line-height: 15px;
    padding-left: 10px;
    margin-bottom: 10px;
}


.logoSection .userLink{
    color:#222 !important;
    font-weight: bold;
}

.cardHolder{
    /*background: url("../images/header/card.png") no-repeat scroll right top #f2f2f2;*/
    display: inline-block;
    height: 50px;
    transition: height 0.5s ease 0s;
    /*visibility: visible;*/
    width: 80px;
    margin-right: 5px;
}

.cardHolderPrint{
    background: url("../images/header/icon_print.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    display: inline-block;
    height: 19px;
    margin-bottom: 8px;
    transition: height 0.5s ease 0s;
    width: 15px;
    margin-right: 10px;
}

.searchContainer ul.infoWrapper{
    margin:0 0 0 10px; width:100%
}

.searchContainer ul.infoWrapper, .searchContainer ul.infoWrapper li {
    display:block;
    text-align:left;
    color:#222;
    font-size:12px;
    /*overflow:hidden;*/

}
.searchContainer ul.removeDivider li:nth-child(2):after{
    content:"";
    margin-left:0px;
    margin-right:0px
}

.cardContainer {padding: 10px 5px 10px 10px; background:#f2f2f2; overflow:hidden;border-bottom:1px solid #bbb;}

.headerPostLoginWrapper .businessRewards, .mobPostLoginWrapper .businessRewards{
    /*font-family: BodebeckLtStdBold;*/
    display: inline-block;
    height: 15px;
    transition: height 0.5s ease 0s;
    /* visibility: visible; */
    margin-right: 5px;
    /* position: relative; */
    /* top: 1px; */
    width: 120px;
    /* border: 1px solid red; */
    vertical-align: middle;
    font-size:13px;
}

.headerPostLoginWrapper .MyFamily, .mobPostLoginWrapper .MyFamily{
    /* background: url("../images/header/logo_myfamily.png") no-repeat scroll left center #f9f9f9; */
    display: inline-block;
    /* height: 19px; */
    transition: height 0.5s ease 0s;
    /* visibility: visible; */
    width: 120px;
    margin-right: 5px;
    /* position: relative; */
    vertical-align: middle;
    /* top: 1px; */
    /*font-family: BodebeckLtStdBold;*/
    /* border: 1px solid red; */
    font-size:13px;
}

.headerPostLoginWrapper .userInfo, .headerPostLogin-notificationsWrapper .userInfo, .mobNotificationsWrapper .userInfo, .mobPostLoginWrapper .userInfo{
    background-color:#f9f9f9;
    padding:5px 10px ;
    border-bottom: 1px solid #bbb;text-align:left
}

    .headerPostLoginWrapper .userInfo:last-child, .headerPostLogin-notificationsWrapper  .userInfo:last-child, .mobNotificationsWrapper .userInfo:last-child, .mobPostLoginWrapper .userInfo:last-child{
        border-bottom: none;
    }

    .userInfoHolder li:not(:first-child){ 
        padding:10px 0 0 0 !important;
    }

.currentTireLogo {
    background: url("../images/header/icon_gold.png") no-repeat scroll center center #f2f2f2;
    display: inline-block;
    height: 19px;
    margin-bottom: 8px;
    transition: height 0.5s ease 0s;
    width: 18px;
    position: absolute;
    right: 0;
   top: 6px;
}


.searchContainer ul.mmList li:before {
    margin-right: 0;
}

.textCanvasWrapper{
    display: block !important;
   /* margin-top:20px;*/
}

.cardContainerLft{display:table;margin-right:20px}
.cardContainerLft a{display:table-row !important}
.log_out{position:absolute;right:0;top:0}
.loginButtonPostLogin .arrow-brdr{border-color:#bbb}
.postloginnotifications{width:40px;position:absolute;left:-45px;top:-4px;padding:7px 5px;background: url("../images/header/red.png") no-repeat 23px 5px;}
.headerPostLogin-notificationsWrapper{}
.logoSection .postLoginWrapper .headerPostLogin-notificationsWrapper a{margin-right:0}
.notifications-selected{border:1px solid #bbb;border-bottom:none;background:#ededed}
.logoSection .loginButtonPostLogin a,.logoSection .loginButtonPostLogin a:hover{text-decoration:underline;font-weight:bold;color:#fff}
.logoSection .loginButtonPostLogin a.link-selected, .logoSection .loginButtonPostLogin .link-selected a{color:#222 !important}
.user-selected {
    background: url("../images/header/arrow-post.png") no-repeat right 8px center #f9f9f9;
    border:1px solid #bbb;border-bottom:none;color:#222
}
.logoSection .postLoginWrapper .postloginnotifications a{margin-right:0}
.postloginnotifications span{position:absolute;right:9px;top:2px;font-size:11px;color:#fff;display:none}
.headerPostLogin-notificationsWrapper ul li:first-child{background:#ededed}
.headerPostLogin-notificationsWrapper {position: absolute;z-index: 30000;background-color: #fff;border: 1px solid #cecece;top:30px;right:-1px;width:365px;display:none}
.notifications{background: url("../images/header/notificationsicon.png") no-repeat center center;width:26px;height:22px;background-size:18px 18px;}


.user{position:absolute;top:0;right:0;width:24px;height:24px; cursor: pointer}

/* start for enroll text */
.searchContainer .preLoginTxt a:hover{text-decoration:underline}
/* end for enroll text */
/*end for the header stuf*/

/* Post loging */
.logoSection .loginButtonPostLogin .headerPostLoginWrapper a, .logoSection .loginButtonPostLogin .headerPostLoginWrapper  a:hover{
    color: #005baa !important;
    font-weight: normal;
    text-decoration: none;
}

.search button{
    background-color:transparent;
    min-width: 0;
}
.headerEnrollLink{border-right: none !important;margin-right: -7px !important;padding-right: 0 !important;}

.searchBox{border:none !important} 
.searchBox.searachpanel{border: 1px solid #ccc}

@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
    .site-header .logoSection {display:block}
    .site-header.shrink .logoSection {display:none}
}

ul.socialLinks li a{
    background:url('../images/footer/logo.png') no-repeat left top; 
    padding-left:26px;
    line-height:16px;
    font-size: 24px;
    display: inline
}

ul.socialLinks li a.social1{background-position:0 0}

ul.socialLinks li a.social2{background-position:-46px 0}

ul.socialLinks li a.social3{background-position:-92px 0}

ul.socialLinks li a.social4{background-position:-138px 0}

ul.socialLinks li a.social5{background-position:-184px 0}

ul.socialLinks li a.social6{background-position:-226px 0}

ul.socialLinks li a.social7{background-position: 0px -142px} 

.copy ul.footerlogos li a , .jetfooterLogoDivider{ background:url(../images/footer/footer-logo.png) no-repeat left top; height:30px;}
.jetfooterLogo, .etihadFooterLogo, .jetfooterLogoDivider { display:inline-block; text-indent:-99999em;}

a.jetfooterLogo {
    background-position:-71px 0 !important ;
    width:155px;
}
a.jetfooterLogoDivider {
    background-position:-61px 0 !important;
    width:10px;
    pointer-events:none; 
}
a.etihadFooterLogo {
    background-position:0 0 !important;
    width:62px; height:24px
}

.megaMBricks{width:215px}
.megaMBricks a.partner_bricks{height:210px}

.tooltipmessages{
    background-color: #e8fbfe;
    border: 1px solid #09bdbe;
    box-shadow: 1px 1px 5px #888;
    color: #555;
    font-size: 12px;
    padding: 10px;
    position: absolute;
    z-index: 10000 !important;
    width: 280px;
	border-radius: 5px;
}

.tooltipmessages span{

    content:'';
    position:absolute;
    top:-10px;

    width: 0; 
    height: 0;    

    border-left: 10px solid transparent;
	border-right: 10px solid transparent;	
	border-bottom: 10px solid #00aeef;
}
.extLink {
    padding: 9px 20px 11px 20px;
}
.extLink span{
    margin: 5px;
}
.extLink img{
    margin: 0px 0 -2px 0;
}
@media screen and (max-width: 767px) and (min-width: 320px) {
	ul.socialLinks li a {
	  width: 16px;
	  height: 16px;
	  overflow: hidden;
	  text-indent: -99999em;
	}
	
	ul.footerNavigation li { padding-top:0;}
}

.copy ul.footerlogos li a, .jetfooterLogoDivider {
    background: url(../images/footer/footer-logo.png) no-repeat left top;
    height: 30px;
}