/*Mobile Start*/

@media screen and (min-device-width: 320px) and (max-device-width: 480px){ 

}

@media screen and (min-device-width: 320px) and (max-device-width : 767px) {
    .topmain{
        padding: 32px 0px 0px 0px;
    }
    .compare_card_holder{
        margin-bottom: 50px; /*prod change */
    }
    
    .creditfooter{
        margin-right: 0% !important;
    }
    .terms_conditions a{
        margin-bottom: 3% !important;

    }
    input, textarea,select {font-size: initial;}
    .goright{
        margin-right: -15px;
    }
    .powerbySuccess {
        margin-top: -22px;
        width: 100%;
        font-weight: 6;
        text-align: right;
        margin-bottom: -9% !important;
    }
    /*.powerby {
        font-weight: 6;
        float: right;
        margin-right: -22px !important;
        margin-left: 115px !important;
    }*/
    #canvas-preview {
        width: 100% !important;
        height: auto !important;
        float: left;

    }
    #preview {
        width: 100% !important;
        display: block !important;
        padding-top: 12% ;

    }
    .imageCredit {
        width: 100% !important;
    }
    .rightalign {
        float: none !important;
    }
    .canvasCredit {
        width: 100% !important;
        /* text-align: center; */
    }
    .otpsuccess_credit {
        width: 91% !important;
        margin: 25px 0px 0 15px !important;
    }
    .genebutton {
        width: 40% !important;
        margin-top: 10px !important;
    }
    .botspacing{
        margin-left: 0px !important;
    }
    .leftspacing{
        margin-left: 0px !important;
    }
    .leftside{
        width:100% !important;
    }
    .enterdetails {
        width: 100% !important;
    }
    .verifydetails {
        width: 100% !important;
    }
    .swipemerchant {
        width: 100% !important;
    }
    .buttoncenter{
        width: 100%;
        text-align: center;
    }
    .otpError {
        position: inherit !important; 
        right: 0px !important; 
        width: 340px !important;
        margin-top: 10px !important;
    }


    .buttonheight {
        width: 25% !important;
        margin-top: 0px !important;
    }
    .boxinput {
        /*margin-left: 8px;*/
    }

    .errorMsgContainer div span {

        color:#fff; 

        font-size: 24px; 

        color: #fff2da;

        display: inline-block;

        margin-left: 0;

        text-shadow:none; margin-top:60px

    }



    .headerLink {width: 135px;}



    footer {z-index:1}



    .mobileMarginL0 {margin-left:0 !important;}



    .mobileMarginL10 {margin-left:10px !important;}



    .mobileMarginL20{margin-left:20px;}



    .handHeldHide{display:none;}



    .dvmobilescrollmenu, .desktopHide{display:block !important;}



    .innerContainer, .container {
        width: 100% !important;
        padding: 0 10px !important;
    }

    .mainHeading, .fullWidth, .mainHeadingLogin {margin: 0 -10px;}


    .offerSectionBox {width:100%;}



    .offer-overview .offerSummary {

        position: static;

        float:none;

    }



    .offerDetailLogoSection {

        float:none;

        width:100%

    }



    .offer-overview .cont-car-rent{ width:100%; height:auto}



    .homeThumb .image:before {display: none;}



    .leftSection {

        float: none;

        width: 100%;

    }



    .mainHeading, .rightSection {display: none;}



    .mainHeadingLogin {

        background-color: #888;

        color: #fff;

        display: block;

        font-size: 18px;

        line-height: 40px;

        padding-left: 10px;

    }



    .awards2013 { margin-top:0 !important}



    #dialog-1 {

        width: 290px;

        height:455px;

        margin-left: -145px; 

        margin-top: -230px;

    }



    .shadowimg {

        margin: 0px;

        position: relative;

        height: 15px;

    }



    .buttonContainer {margin: 0;}



    .buttonContainer button,.buttonContainer .buttonDiv {

        background: #00aeef;

        border-radius: 25px;

        line-height: 0;

        padding: 0;

        width: 210px;

        margin:0 auto

    }

    .buttonContainer  div.memberText{position:relative;top: 10px;left:5px}



    .buttonContainer  span.textCenter{padding: 30px 0 0 0;} 



    .buttonContainer button + button,.buttonContainer .buttonDiv + .buttonDiv {margin: 10px 0}



    .buttonContainer button span,.buttonContainer .buttonDiv span {

        height: 43px;

        width: 34px;

        float: left;

    }



    .buttonContainer div + div {margin-left: 0;}



    .guestusertxt {padding: 10px 0;}



    .image-wrapper p, .image-wrapper .imgblock2, .imgblock3, .imgblock4 {

        left: 11px;

        top: 13px;

        width: 70px;

        font-size: 12px;

        font-weight: 400;

    }



    .image-wrapper .imgblock2 {left: 107px;}



    .image-wrapper .imgblock3 {

        left: 11px;

        top: 103px;

    }



    .image-wrapper .imgblock4 {

        top: 103px;

        left: 107px; 

    }



    .popupheader {

        padding: 10px;

        margin-bottom: 0;

    }



    .image-wrapper {

        background: url("/iwov-resources/images/login/logo_small.png") no-repeat left top;

        height: 180px;

        width: 180px;

        margin: 10px auto 0; 

    }



    .dvsubheadingband {margin-bottom: 10px !important;}



    .careernarmaltxt {padding: 0 !important;}



    .block1, .block2 {padding: 0;}



    .mainHeading {

        margin-bottom: 10px;

        line-height: 35px;

    }



    .share {

        background: url('/iwov-resources/images/megaMenu/sprite_icon-share.png') no-repeat 0 0 transparent;

        height: 15px;

        width: 14px;

        display: block;

    }



    .megaMenu .megaExtBody {

        padding: 0px;

        color: #005baa;

    }



    .bigBanner {

        width: 100%;

        position: relative;

        margin-top: 10px;

    }



    .mobsmallBanner {

        display: block;

        border-bottom: 1px solid #cfcfcf; margin-left:-10px;margin-top:20px

    }



    .mobsmallBanner ul li { border-top: 1px solid #cfcfcf}



    .homeThumb .image {height: auto;}



    .homeThumb .image a {

        color: #333;

        font-size: 16px;

        display: block;

        padding: 5px;

        line-height: 32px;

        background: url('/iwov-resources/images/iPhone/Home/arrow_open.png') no-repeat right center transparent;

    }



    .homeThumb .image a img {

        float: left;

        margin-right: 10px;

    }



    .bx-wrapper .bx-viewport {left: 0 !important;}



    .bigBanner .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {bottom: 20px !important;}



    .lh2 {line-height: 2em;}



    .wFull {width: 66%;}



    .wHalf {width: 50%;}



    .wSmall {width: 12%;}



    .wAuto {width: auto;}



    .enroll {

        position: relative;

        width: 100%;

        height: 100%;

        margin: 0 auto;

        font-size: 10px;

        font-weight: bold;

        padding: 0;

    }



    .enroll .info {

        color: #00aeef;

        height: 100%;

        margin: 0;

        padding: 10px;

        width: auto;

        float: left;

    }



    .titleBanner {width: 100%;}



    .loginform {

        float: none;

        width: 100%;

        margin: 10px 0 4px 10px;

    }



    input, label {
        /*display: inline-block;*/
        /*ams*/
        display:initial;
    }
    /*ams*/
    .life_benefits_list li label span{
        margin-left: -6px !important;
        display: initial;
    }
    .life_benefits_list input[type="checkbox"]{

        margin: 6% 0% !important;
    }
    .life_benefits_holder ul li{
        display: flex;
    }
    /*ams finish*/



    .loginformbtn {margin-bottom: 0px;}



    .createjetfont {

        font-weight: normal;

        font-size: 14px;

    }



    .bordersep {display: none !important;}



    .awards2013, .awards2008, .awards2006, .awards2007, .awards2012, .awards2005, .awards2004 {

        height: auto;

        width: 100%;

        margin: 10px 0 0 0;

        float: none;

    }



    .awards2013txt {

        background: #09bdde;

        border-bottom: none;

    }



    .awards2013list, .awards2008list, .awards2006list, .awards2012list, .awards2007list, .awards2005list, .awards2004list {

        width: auto;

        border-right: none;

        border-bottom: none;

    }



    .awardslisttitle2013, .awardslisttitle2008, .awardslisttitle2006, .awardslisttitle2012, .awardslisttitle2007, .awardslisttitle2004, .awardslisttitle2005 {

        margin: 12px 10px;

        font-size: 14px;

        border-bottom: none;

        padding: 0px;

    }



    .awards2005txtmob{background: #ED4136;display: block;font-weight: bold}



    .awards2004txt {background:#94d400;border-bottom: none;display: block}



    .awards2008txt, .awards2006txt, .awards2012txtmob, .awards2007txtmob, .awards2013txt, .awards2005txtmob, .awards2004txt {

        line-height: 35px;

        color: #fff;

        font-size: 20px;

        padding: 5px;

    }



    .awards2008list1, .awards2008list2, .awards2008list3, .awards2006list1, .awards2006list2, .awards2007list1, .awards2007list2 {

        width: auto;

        border-right: none;

    }



    .awards2006txt {

        background: #9c2731;

        border-bottom: none;

    }



    .awards2008txt {

        background: #f88d29;

        border-bottom: none;

    }



    .awards2012txtmob {

        background: #94d400;

        display: block;

    }



    .awards2007txtmob {

        background: #ED4136;

        display: block;

        font-weight: bold;

    }



    .awards2013 ul, .awards2012 ul, .awards2008 ul, .awards2007 ul, .awards2006 ul, .awards2005 ul, .awards2004 ul {

        margin-top: 12px;

        padding-left: 20px;

        font-size: 14px;

    }



    .tableCell, .table {display: block;}



    .awards2013list:after, .awards2008list:after, .awards2006list:after, .awards2004list:after {content: '';}



    .awardslisttitle2012:before, .awards2007:before, .awards2005:before {content: "";}



    .awards2005txtmob{background: #09bdde;display: block;font-weight: bold}



    .awrds2004bordertop {

        border-top: 1px solid #94d400 !important;

        display: block;

        padding-top: 15px

    }



    .awrds2005bordertop{

        border-top: 1px solid #09bdde !important;

        display: block;

        padding-top: 15px

    }



    .awrds2008bordertop {

        border-top: 1px solid #f88d29 !important;

        display: block;

        padding-top: 15px

    }



    .awrds2006bordertop {

        border-top: 1px solid #9c2731 !important;

        display: block;

        padding-top: 15px

    }



    .awrds2007bordertop {

        border-top: 1px solid #ed4136 !important;

        display: block;

        padding-top: 15px

    }



    .dvmainbanner {margin: 20px 0 4px 0;}



    .dvmainbanner img {

        width: 100%;

        display: block;

    }



    .mobblock1, .mobblock2, .mobblock3, .mobblock4 {

        color: #fff;

        font-size: 14px;

        background: #00aeef;

        margin-bottom: 1px;

        padding: 10px 20px;

    }



    .mobblock2 {background: #0089cf;}



    .mobblock3 {background: #0072bc;}



    .mobblock4 {background: #0072bc;}



    div.scroll {

        overflow-x: scroll;

        -webkit-overflow-scrolling: touch;

        padding-left: 10px;

        color: #4d652e;

    }



    div.scroll ul {white-space: nowrap;}



    div.scroll ul li {

        display: inline-block;

        position: relative;

        padding: 0 10px;

        border-right: 1px solid #ccc;

        height:35px;

    }



    div.scroll ul li a {display: block;}



    .offerplattercontainer {width: auto;}



    .mob-view {display: none;}



    .button-div {

        width: 59%;

        float: right;

    }



    select.offer, .offersearch {

        width: 125px;

        height: 32px;

        border-radius: 3px;

        border: 1px solid #cecece;

        float: left;

    }



    .offersearch {

        width: 130px;

        line-height: 32px;

        padding: 0px 25px 0 10px;

        float: right;

    }



    .offersearchButton {

        background: url('/iwov-resources/images/offer/searchoffer.png') no-repeat left top;

        width: 20px;

        height: 20px;

        border: 0;

        position: absolute;

        right: 5px;

        top: 5px;

    }



    .offerdropdownalign {

        display: block;

        overflow: hidden;

        position: relative;

    }



    .tabscontainer {width: auto;}



    .mobhorizontaltabs {

        display: block;

        margin-top: 0px;

        width: 100%;

    }



    .mobrefinedropdown {

        display: block;

        margin-top: 10px;

    }



    .tab1mobimg {display: block;}



    .tab_container {margin-top: 15px;}



    .offerplattercontainer hr {

        border: 1px solid #F5F5F5;

        display: block;

        margin-left: -10px;

    }



    .mobView {display: block;}



    .mobsearch {

        display: block;

        margin-top: 14px;

    }



    ul.mobtabs {

        width: 100%;

        display: table;

        border: 1px solid #ccc;

        border-radius: 3px;

        margin-bottom: 10px;

    }



    ul.mobtabs li {

        height: 30px;

        display: table-cell;

        background: #fff;

        vertical-align: middle;

    }



    ul.mobtabs li img {

        float: left;

        margin: 0 5px 0px 0;

    }



    ul.mobtabs li + li {

        border-left: 1px solid #ccc;

    }



    ul.mobtabs li a {

        font-size: 15px;

        display: block;

        padding: 5px 0 5px 5px;

    }



    ul.mobtabs li.active a {

        border-bottom: 2px solid #f88d29;

        font-weight: 700;

    }



    .block1 {

        background: none;

        width: auto;

        height: auto;

        display: block;

        margin-right: 0px;

    }



    .divtitle {font-size: 22px;}



    .contactboldtxt {

        font-size: 14px;

        line-height: 20px;

    }



    .contactnormaltxt {font-size: 14px;}



    .contactboldtxt a {display: block;}



    .expandcollapsetitle {

        font-size: 18px;

        padding-left: 56px;

    }



    #col1, #col2, #col3 {

        width: 100%;

        background: none repeat 0% 0% #F4F4F4;

        padding: 0 10px;

        position: relative;

    }



    .bxslider {margin-top: 0px !important;}



    .formheader {

        padding: 0px;

        font-size: 18px;

        color: #000;

        border-bottom: none;

        margin-left: 0px;

        font-weight: bold;

    }



    .sendbutton {

        width: 140px;

        font-size: 16px;

        margin-top: 5px;

        margin-left: 50px;

    }



    #slider-prev {

        background: url("/iwov-resources/images/component/home_nav-arrow-left.png") no-repeat 0 0 transparent;

        left: 5px;

    }



    #slider-next {

        background: url("/iwov-resources/images/component/home_nav-arrow-right.png") no-repeat 0 0 transparent;

        right: 5px;

    }



    #slider-prev, #slider-next {z-index: 999;}



    .iconsContactUs {

        width: 34px;

        padding-right: 20px;

        padding-left: 5px;

    }



    .iconsContactUs img {

        width: 38px;

        height: auto;

    }



    .block2 {width: 100%;}



    .accoContainer {display: table;}



    .accoContainer > div {

        display: table-cell;

        vertical-align: top;

    }



    ul.accordionList li {

        display: block;

        padding: 5px 0;

        margin-bottom: 6px;

        width: 100%;

        vertical-align: top;

        text-align: left;

    }



    ul.accordionList li + li {

        border-left: 0px solid #ccc;

        border-top: 1px solid #ccc;

    }



    ul.accordionList li h4 {

        display: inline-block;

        margin-right: 10px;

        width: 125px;

    }



    .flagHolder {padding-right: 10px;}



    .dvpincontent {

        padding: 3px 5px;

        width: 100%;

    }



    .accordion dt {

        border-bottom: 1px solid #ccc;

        padding: 5px;

        background: url("/iwov-resources/images/iPhone/Home/arrow_open.png") no-repeat right center transparent;

    }



    .accordion dd {

        border-bottom: 1px solid #ccc;

        display: block;

        margin: 0;

        padding: 5px 10px 5px 5px;

    }



    .accordion dt a {

        display: block;

        color: #444;

    }



    dl {

        padding: 0;

        margin: 0;

    }



    .sendbutton {

        margin-left: 0px;

        height: 30px;

        width: 140px;

        font-size: 14px;

        margin-top: 5px;

    }



    .clearlink {

        font-weight: bold;

        color: #005BAA;

        margin-top: 20px;

    }



    .pressroomblock2 {display: none;}



    .pressroomdivtitle {

        margin: 0px 5px 10px 0px;

        font-size: 20px;

        color: #0089CF;

    }



    .opentab {

        height: 140px;

        overflow: auto;

    }



    .mobcorporatecomm {

        display: block;

        margin: 20px 0px 20px 0px;

    }



    .mobcorporatecomm span {font-size: 16px;}



    .pressroomwrappertop {

        margin: 20px auto 0 auto;

        position: relative;

        width: auto;

        display: block;

        background: #DCF0FF;

    }



    .pressroomblock1 .bx-viewport {

        height: 210px !important;

        background: none !important;

        border: medium none !important;

    }



    .mobimagegallery {

        display: block;

        margin: 10px 0px 20px;

    }



    .pressroomblock1 .bx-wrapper .bx-next {display: none;}



    .mobimagegallery .bx-wrapper .bx-controls-direction .bx-next {margin-right: 27px;}



    .mobimagegallery .bx-wrapper .bx-controls-direction .bx-prev {margin-left: 27px;}



    .mobimagegallery .bx-viewport, .mobimagegallery li {height: auto !important;}



    .mobimagegallery .bx-wrapper .bx-controls-direction a {top: 34% !important;}



    .pressroomblock4 { 

        display: block;

        margin-left: 0px;

        width: 100%;

    }



    .mediacontact {width: 100%;}



    .mediacontact .iconEmail, .mediacontact .iconcontact {margin-left: 10px;}



    .pressmailcall img {padding-left: 10px;}



    .pressmailcall {

        margin-top: 20px;

        margin-bottom: 20px;

    }



    .formheaderpress {

        padding: 0px;

        border-bottom: medium none;

        font-size: 16px;

    }



    .pressroomblock4 .formheader {

        padding: 0px;

        font-size: 16px;

        border-bottom: none;

        font-weight: 400;

    }



    .mobcorporatecomm img {

        float: right;

        margin-right: 10px;

    }



    .mobcorpcommacco {

        display: block;

        border: 1px solid #cecece;

        margin-top: 20px;

    }



    .mobcorpcommacco dl {background: none repeat scroll #F4F4F4;}



    .mobcorpcommacco .accordion dt {

        border-bottom: 1px solid #CCC;

        padding: 0px;

        background: url("/iwov-resources/images/iPhone/Home/arrow_open.png") no-repeat scroll right center transparent;

        padding: 8px 0px 8px 10px;

    }



    .mobcorpcommacco .accordion dt a {color: #105BAA;}



    .pressroomwrapperbottom {width: auto;}



    .gallerycaption {

        padding: 10px;

        display: block;

        height: 100px;

        border: 1px solid #999;

        line-height: 20px;

    }



    .inner {

        width: 46%;

        border-right: 2px solid #fff;

        padding-bottom: 20px;

        min-height: 130px;

    }



    .inner + .inner {margin: 0 0 10px 0;}



    .inner:nth-child(even) {margin-left: 10px;}



    .termncondn {margin-top: 15px;}



    .pressroomblock1 { 

        background: #DCF0FF;

        width: auto;

        height: auto;

        display: inline-block;

        padding: 10px;

        border: none;

    }



    .pressroomblock3 .formheader { 

        font-size: 13px;

        font-weight: normal;

    }



    .claim-form-mobile-view input {width: 100% !important;}



    .form-desktop-view .flt-date, .claim-form-mobile-view .flt-date {width: 89% !important;}



    .withoutmenu header a {

        display: inline-block;

        background-size: 149px 29px;

        margin: 10px 0;

        background: url('/iwov-resources/images/header/logo.png') no-repeat left top;

        text-indent: -99999em;

    }



    .withoutmenu footer {

        text-align: center;

        font-size: 12px;

        bottom: 0px;

        border: 0;

        position:relative !important;

    }



    .withoutmenu ul.formSection {margin: 0 20px;}



    .withoutmenu .formSection li label {display: none;}



    .use-miles-row .inner {margin-right: 0;}



    .JetMembership div, .JetMembership > div.width45pc, .JetMembership > div.width55pc{width: 100%;}



    .JetMembership div{float:none;}



    .enrolMobileHide{ display: none;}



    .JetMembership .block3 {width: 90%;}



    ul.enrolstepscount li + li {margin-left: 70px;}



    ul.enrolstepsText li + li {margin-left: 30px !important;}



    .dvprogressband {width: 293px;}



    .showElementLabel {width: auto !important;}



    .infoSpan {

        width: auto;

        padding-left: 0px;

        margin-top: 10px;

    }



    .helpText {right: 5px;}



    .enrolcurrent, .enrolnext, .enroldone {margin-left: 15px;}



    .dvenrolstep3 .dvcurrentprogressband {width: 293px;}



    .dvbdrforaddresstab {

        width: 300px;

        margin-left: 2px;

    }



    .mobileMarginT10 {margin-top: 10px;}



    .bottomMarginNegative {margin-bottom: 20px;}



    .widthEnrollUrChild {width: 290px;}



    .HOFSubBlock div {

        padding-left: 0;

        text-align: center;

    }



    .familymembers {width: 100%;}



    .myfamilymemb .childLinks li {float: left;}



    .membrshipno {width: 80%;}    



    .relationshipfld {

        width: 50%;

        margin-top: 8px !important;

    }



    .addfamilymembform {

        border-bottom: 1px solid #ccc;

        padding-bottom: 10px;

        margin: 0px 0px 10px 0px !important;

    }



    .addfamilymembform div {width: 100%;}



    .addfamilymembform input[type=text]{width:87%}



    .addfamilymembform input[type=submit]{

        margin-top:10px;

        margin-left:0   

    }



    .myfamily .tabplanels select {width: 100% !important;}



    .addfamilymembform .selectArrow {width: 93%;}



    .myfamily .tabplanels .expandcollapsetitle {

        font-size: 13px;

        padding-left: 10px;

    }



    .myfamilylists li div {padding-left: 0;}



    .HOFHolder {width: 100%;}



    .myfamilyHOF {padding: 5px;}



    .ticketcoll {width: 70%;}



    .ticketcoll .row input[type="text"] {width: 50px !important;}



    .otherredemption .mealpreftab .wd70px {width: 50px !important;}



    .otherredemption #partnersawards-tab-content select {margin: 3px 0;}



    .otherredemption .mealpreftab .wd90px {width: 60px !important;}



    .mealpreftab .addseg {

        width: 61px;

        left: 10px;

    }



    .addpassginfo .row select {width: 50px !important;}



    .addpassginfo .addseg {

        left: -35px;

        width: 61px;

    }



    .otherredemption .remdformfields label {display: none;}



    .otheredemtaboverflow {width: 100%;}



    .otherredemption .remdformfields .row > div {display: inline-block;}



    .remdformfields .row select {width: 100%;}



    .remdformfields .row input {width: 170px !important;}



    .bookingref {

        width: 180px;

        margin-top: -5px;

    }



    .spentmiles .row > div {padding-left: 0;}



    .mileagecalc ul.tabs li a {

        padding: 0 5px;

        font-size: 14px;

    }



    .basemiles {margin-top: 0;}



    .spentmiles .row .rowContainer .iconsContactUs {

        padding-right: 0px;

        padding-left: 5px;

        width: 20px;

    }



    .earnjpmilesjet .iconsContactUs img {width: auto;}



    .earnjpmilesjet .iconsContactUs {padding-right: 0;}



    .spentmiles .headerrow > div {padding-left: 0;}



    .wheregowithmilesselect .row select {width: 100% !important;}



    .earnjpmilesjet .row > div.subrowcontainer {border-bottom: none;}



    .otheredemtaboverflow .addsegtab .mealconfirmbtn .addseg {left: 2px !important;}



    .otherredemption .leftSection ul.desktabs {

        width: 315px;

        margin-right: 15px;

    }



    .tablist1 li {padding: 10px 5px !important;}



    .otheredemtaboverflow .abouttabs ul {width: 390px !important;}



    .lastrow figure.middleSection {padding: 0 20px;}



    .helpmessages {right: 30px;}



    .helpmessages div {

        height: 60px;

        overflow-y: auto;

    }



    .helpmessages div::-webkit-scrollbar {display: none;}



    .twoLineHelpmessages .helpmessages {

        right: 38px;

        top: 49px;

    }



    .helpmessages::before {

        border-color: transparent transparent transparent #00aeef;

        border-style: solid;

        border-width: 10px 0 10px 10px;

        content: "";

        left: 149px;

    }



    .horizontaltabs {

        overflow-x: scroll;

        height: auto;

        white-space: nowrap;

    }



    .BPcont .mostvieweddesk, .BPcont .horizontaltabs {float: none;}



    .BPcont .mostvieweddesk {margin-bottom: 10px;}



    .horizontaltabsOuter {

        width: 298px;

        overflow: scroll;

    }



    .earnjpmilesjet .headerrow {white-space: nowrap;}



    .tabplanels2 .rowContainer .tomargin {padding-left: 0;}



    .tabwidth {width: 740px;}



    .horizontalScroll {

        overflow-x: scroll;

        overflow-y: hidden !important;

    }



    .childLinks li:not(:first-child):before {

        margin-left: 5px;

        margin-right: 5px;

    }



    .childLinks li:first-child {padding-left: 2px;}



    .childLinks li:last-child {

        margin: 0 auto;

        text-align: center;

        width: 100%;

    }



    .cardPrivilegesWrapper .cardPrivileges {

        width: 100%;

        margin-left: 0;

    }



    .bonusOfferSection .bxsliderrow1 .bxsliderrowListItem,

    .youMayAlsoLikeSection .bxsliderrow1 .bxsliderrowListItem,

    .recommendSection .bxsliderrow1 .bxsliderrowListItem {

        margin: 0 auto;

    }



    .partnerInformation {padding-left: 25px;}



    .offerApplicabilitySection .trackerWrapper {

        white-space: nowrap;

        overflow-x: scroll;

    }



    .offerApplicabilitySection .trackerWrapper .tracker .trackerListItem {width: 150px;}



    .accordionWrapper .accordion dt,

    .accordionWrapper .accordion dd,

    .accordionWrapper .accordion .offerSection .offer {

        border-bottom: none;

    }



    .accordionWrapper .accordion dt p {

        width: 85%;

        padding-left: 10px;

    }



    .accordionWrapper .accordion .offerSection .offer + .offer {border-left: none;}



    .offerInformationWrapper {padding: 10px 5px;}



    .offerInformationWrapper .leftDiv {width: 100px;}



    .offerInformationWrapper .rightDiv {

        overflow-x: scroll;

        width: 150px;

        white-space: nowrap;

    }



    .offerInformationWrapper .rightDiv .rightDivList .rightDivListItem {white-space: normal;}



    .offerInformationWrapper .rightDiv .offerValue li,

    .offerInformationWrapper .leftDiv .offerLabel li {

        min-height: 40px;

    }



    .mobileBannerContainer {

        display: block;

        background-color:#ffffff;

        padding-bottom:1px;

    }



    .bannerContainer {display: none;}



    .tabsWrapper .tabsList .rightDiv {

        width: 45%;

        white-space: nowrap;

        overflow-x: scroll;

    }



    .giftsTransferPage .tabsWrapper .tabsList .rightDiv {width: 33%;}



    .dvbullettitle {margin-top: 20px;}



    .partnersContainerInner {

        width: 100%;

        display: table;

        border: 0px;

        height: auto;

        border-top: 1px solid #CCC;

        box-shadow: 0px 0px 0px 0 #888;

        -webkit-box-shadow: 0px 0px 0px 0 #888;

        padding: 4px;

        vertical-align: top;

        margin-top: 10px;

    }



    .earnpartnertitle {display: table-cell;}



    .partnerIconHolder {

        text-align: left;

        display: table-cell;

        width: 65px;

        vertical-align: middle;

    }



    .partnersContainerInner + .partnersContainerInner {margin-left: 0;}



    .jpmilesInner {

        width: 100%;

        margin-bottom: 10px;

    }



    .jpmilesInner {

        border-top: 1px solid #ccc;

        padding-top: 10px;

    }



    .jpmilesInner ul li {padding-right: 0;}



    .jpmilesInner ul li + li {margin-top: 10px;}



    .tierCardHolder, .tierCardHolder1, .tierCardHolder2 {

        display: table;

        width: 100%;

    }



    .tierCardHolder + .tierCardHolder, .tierCardHolder1 + .tierCardHolder1, .tierCardHolder2{

        margin-top: 10px;

        border-top: 1px solid #ccc;

        padding-top: 10px;

    }



    .tiersColumn {

        width: 100%;

        display: block;

        vertical-align: top;

        padding-left: 20px;

        margin-bottom: 10px;

    }



    .tiersColumnBg {width: 100%}



    .receipientContainer {

        display: block;

        margin: 0;

        top: 0;

    }



    .vscrollbar {width: 723px;}



    .filterpartner .leftpanel {display: none !important;}



    ul.categoriesSearchPanel {margin-bottom: 20px;}



    ul.categoriesSearchPanel li input[type="text"] {width: 150px;}



    ul.categoriesSearchPanel li span select {width: 110px;}



    ul.categoriesSearchPanel li + li {margin: 0;}



    .filterpartner .rightpanel .bxSliderWrapper {right: 5px;}



    .dd-mostviewed {padding-right: 10px;}



    .cardOverviewWrapper {width: 100%;}



    .cardOverviewWrapper .cardOverviews {

        margin: 0 auto 20px auto;

        display: block;

        width: 241px;

    }



    .HeadingListWrapper {

        width: 100%;

        margin: 0;

        padding: 0;

    }



    .jetInfoTopWrapper .separator {display: none;}



    .Horizontalseparator img {

        left: 0;

        top: -5px;

    }



    .ImageInfoText .ImageInformationText {

        width: 93%;

        margin-left: 0;

    }



    .ImageInfoText .ImageInfoWrapper {width: 100%;}



    .BookNow {margin: 10px auto 0 auto;}



    .ImageInfoText p {text-align: left;}



    #redeemnow select.desk-ddList {width: 100%;}



    .filterpartner .leftpanel {display: none !important;}



    .filterpartner .rightpanel .innerSection {margin-left: 0;}



    .offerSection .offer .details .offerLogo + div{width:138px}



    ul.categoriesSearchPanel li input[type="text"] {width: 150px;}



    ul.categoriesSearchPanel li span select {width: 110px;}



    ul.categoriesSearchPanel li + li {margin: 0;}



    .filterpartner .rightpanel .bxSliderWrapper {right: 5px;}



    .tabplanels .bxSliderWrapper .bx-viewport, .tabplanels2 .bxSliderWrapper .bx-viewport, .tabplanels3 .bxSliderWrapper .bx-viewport {

        height: 200px !important;

        margin-bottom: 20px;

    }



    .tabplanels .bxSliderWrapper .bx-viewport ul li.offer, .tabplanels2 .bxSliderWrapper .bx-viewport ul li.offer, .tabplanels3 .bxSliderWrapper .bx-viewport ul li.offer {

        width: 24% !important;

    }



    .filterpartner .rightpanel .tabplanels {padding-top: 0;}



    .filterpartner .tabplanels .scrollBar {padding-bottom: 5px;}



    .filterpartner .tablist2, .filterpartner .tablist3 {display: table;}



    .filterpartner .tablist2 li, .filterpartner .tablist3 li {display: table-cell;}



    .filterpartner .tablist2 > li, .filterpartner .tablist3 > li {

        border-right: 1px solid #222;

        padding-right: 5px;

    }



    .filterpartner .tablist2 li + li, .filterpartner .tablist3 li + li {

        border: 0 none;

        padding-left: 5px;

    }



    .filterpartner .tablist2 li.active a, .filterpartner .tablist3 li.active a {color: #222;}



    .filterpartner .horizontaltabsOuter {display: inline-block;}



    .filterpartner .horizontaltabs {

        width: 100%;

        white-space: nowrap;

    }



    .accountinfoncorpaddr {

        margin-bottom: 0 !important;

        margin-top:0 !important

    }



    .otherredemption .leftSection ul.desktabs {width: 50%;}



    .OtherCountries {margin-top: 20px;}



    .sectionList:not(:last-child) {margin-right: 0;}



    .sectionList, .shopSectionListWrapper .sectionList {

        height: auto;

        width: 100%;

    }



    h3.mobileHeader {

        color: #fff;

        background: #888888;

        line-height: 30px;

        padding: 5px 10px;

    }



    .offerdetails .mobilebannerTitle {

        background: #7b7979;

        padding-left: 10px;

        border: 0 none;

    }



    .offerdetails .mobilebannerTitle p {color: #fff;}



    .offerdetails .mobileBannerDetails {

        background: url("/iwov-resources/images/offerdetails/mob-bg-hertz.png") repeat 0 0;

        border-bottom: 2px solid #6f6d6d;

        border-top: 2px solid #6f6d6d;

    }



    .mob-block {

        background: #7b7979;

        padding: 10px 20px 10px 10px;

        color: #fff;

    }



    .mob-block button {

        background: #f88d29;

        line-height: 50px;

        width: 230px;

        border-radius: 25px;

        margin-top: 10px;

        text-align: left;

        padding: 0 15px;

        margin-left: 23px;

    }



    .offerdetails .mobileBannerDetails a h3 {

        color: #222;

        font-weight: 700;

    }



    .offer-overview .img-car-rent {

        float: right;

        margin: 0;

        display:none;

    }



    .offer-overview .offerTitle h2 {

        top: 0;

        left: 0;

        font-size: 16px;

        margin: 0;

        width: 100%;

        text-align: left;

        color:#222

    }



    .offerDetailLogoSection, .offerDetailOffer {

        display:block;

        width:100%

    }



    .Offer-desc-header {margin:20px 0;}



    .offer-overview .cont-car-rent {

        padding: 0;

        display: block;

    }



    .offer-overview .offerTitle {

        display: block;

        width: auto;

        background: none;

        background-color: #e5e7e8;

        padding: 5px 10px;

        font-size: 14px;

        margin: 5px 0 20px 0;

        font-weight: 500;

        height: auto;

    }



    .cdp-details-box {

        margin: 20px 0;

        padding: 10px;

        width: 100%;

    }



    .cdp-details-box-row1 > div {

        display: inline-block;

        width: 49%;

    }



    .cdp-details-box-col a div {width: auto;}



    .cdp-details-box-row2 {display: table;}



    .cdp-details-box-row2, .cdp-details-box-row3 {width: 100%;}



    .cdp-details-box-row2-col1, .cdp-details-box-row3-col1, .cdp-details-box-row2-col2, .cdp-details-box-row3-col2 {

        display: block;

        float: none;

    }



    .cdp-details-box-row2-col1, .cdp-details-box-row3-col1 {

        width: 100%;

        border-radius: 4px;

        box-shadow: none;

    }



    .cdp-details-box-row2-col2, .cdp-details-box-row3-col2 {

        width: 100%;

        border-radius: 4px;

        box-shadow: none;

        margin: 10px 0;

    }



    .cdp-details-box-grnBox, .cdp-details-box-orgBox {

        padding: 10px;

        text-align: center;

        color: #fff;

        font-weight: bold;

        margin: 5px 0;

    }



    .cdp-details-box-grnBox {background: #94D400;}



    .cdp-details-box-orgBox {background: #f88d29;}



    .contactInformation .table {display: table;}



    .contactInformation .tableCell {

        display: table-cell;

        vertical-align: top;

    }



    .contactInformation .tableCell .contactToJppl {top: 0;}



    .bricksbottomcontainer { height:78px}



    .sectionListWrapper .TalkList{height:auto;}



    .TalkOffereWrapper .marginL250 {

        margin-top: 185px;

        margin-left: 0;

    }



    .TalkOffereWrapper {background-position: 33px 40px, 156px 17px;}



    .contactInformation .table {display: table;}



    .contactInformation .tableCell {

        display: table-cell;

        vertical-align: top;

    }



    .contactInformation .tableCell .contactToJppl {top: 0;}



    .gridTextWrapper {width: 100%;}



    .gridTextWrapper .grid {

        margin: 0 auto 20px;

        display: block;

        width: 100%;

    }



    .addsegtab .row > div {white-space: nowrap;}



    .bxsliderrow3 .bricksbottomcontainer {height: 98px;}



    .mobviewbricks .bricksbottomcontainer {height: 98px;}



    .mobviewbricks .brickscontainer {margin: 0 auto 20px;}



    .mobsearch input[type="text"] {width: 90px;}



    .mobsearch select {height: 26px;}



    .mobsearch .gobutton {

        height: 30px;

        width: 40px;

    }



    .mobsearch label {font-weight: 600;}



    .partnerlogos {

        float: left;

        margin-right: 10px;

    }



    .partnerlogos img {width: 120px;}



    .mobsearch {margin-bottom: 10px;}



    .iPadView {width: 162px;}



    .offerplattercontainer .bx-wrapper .bx-viewport {margin-left: 5px;}



    .offerplattercontainer .bx-wrapper .bx-next {right: -15px;}



    .offerplattercontainer .horizontaltabs {width: 360px;}



    .smallTable {width: 100% !important;}



    .activatemyfamily {width: auto;}



    .cardPrivilegesWrapper .cardRentalCar {height: auto;}



    .sectionList + .sectionList {margin-left: 0;}



    .member-card-left {

        display: block;

        width: auto;

        margin-top: 10px;

    }



    .member-card-right {

        display: block;

        padding-left: 0;

        margin-top: 10px;

    }



    .home-details-cont {

        display: block;

        padding-right: 0;

        width: 100%;

    }



    .card-request-cont {width: 100%;}



    .submit-request-cont {

        display: block;

        padding-left: 0;

        margin-top: 10px;

        width: 100%;

    }



    .home-details div {padding-left: 10px;}



    .home-details div > label {

        display: block;

        width: 100%;

        text-align: left;

    }



    .home-details div > input {

        display: block;

        width: 100%;

        padding-left: 0;

    }



    .submit-request {

        padding-left: 10px;

        height:auto;

    }



    .accountSummaryContent .mainHeading {

        display: block;

        margin-top: 0;

    }



    .quickLinks {display: none;}



    .quickLinks-mobile {

        display: block;

        float: right;

    }



    .quickLinks-mobile select {width: 175px;}



    .dashboardWrapper .leftDiv ul li {

        width: 146px;

        margin-bottom: 3px;

        margin-left: 0 !important;

    }



    .dashboardWrapper .leftDiv ul li.total {background-size: 40px 35px;}



    .dashboardWrapper .leftDiv ul li.redeemed {background-size: 40px 37px;}



    .dashboardWrapper .leftDiv ul li.currentTier {background-size: 35px 43px;}



    .dashboardWrapper .leftDiv ul li.tierValidity {background-size: 32px 40px;}



    .dashboardWrapper .leftDiv div p {

        width: 32%;

        vertical-align: top;

        text-align: left;

        min-height: 60px;

        padding: 5px;

    }



    .dashboardWrapper .leftDiv div p:before {

        float: left;

        margin-top: 2px;

        width: 8px;

        height: 8px;

        background-size: 8px 8px !important;

    }



    .dashboardWrapper .leftDiv div p span {

        float: left;

        width: 69px;

    }



    .dashboardWrapper .rightDiv {

        margin-top: 10px;

        width: 100%;

    }



    .dashboardWrapper .rightDiv p {

        background: #efefef;

        height: auto;

        text-align: left;

    }



    .dashboardWrapper .rightDiv .link1 {

        background: none;

        padding: 5px;

        margin-left: 0;

        margin-bottom: 0;

        width: 100%;

    }



    .dashboardWrapper .rightDiv .link2 {

        display: block;

        margin-top: 0;

        padding: 5px;

        border-bottom: 1px solid #fff;

    }



    .dashboardWrapper .rightDiv .link3 {

        display: block;

        margin: 0;

        padding: 5px;

    }



    .dashboardWrapper .rightDiv .link1:after,

    .dashboardWrapper .rightDiv .link2:after,

    .dashboardWrapper .rightDiv .link3:after {

        content: " ";

        float: right;

        display: inline-block;

        width: 9px;

        height: 16px;

        background: url(/iwov-resources/images/side-arrow.png) no-repeat center center;

        background-size: 5px 10px;

    }



    .importantInfo a.callAction {right: 10px;}



    .activityTracker .title,

    .recommendSection .title,

    .mileageExpiryWrapper .title,

    .tierQualificationStatus .title,

    .flightBooking .title,

    .futureBooking .title {

        font-size: 16px;

    }



    .hexagon-desktop {display: none;}



    .hexagon-mobile {display: block;}



    .hexagon-mobile .hexagonWrapper {

        display: inline-block;

        width: 144px;

        padding: 10px;

        background: #dadada;

        height: 130px;

        margin-bottom: 8px;

        position: relative;

    }



    .hexagon-mobile .hexagonWrapper.active {background: #89c302;}



    .hexagon-mobile .hexagonWrapper:nth-child(even) {margin-left: 6px;}



    .hexagon-mobile .hexagonWrapper .hexagonTitle {

        font-size: 16px;

        font-weight: 500;

        color: #333;

    }



    .hexagon-mobile .hexagonWrapper img {

        position: absolute;

        right: 10px;

        top: 15px;

    }



    .hexagon-mobile .hexagonWrapper ul {

        color: #666;

        text-align: center;

        width: 50%;

        margin-top: 15px;

    }



    .hexagon-mobile .hexagonWrapper.active ul {

        color: #fff;

    }



    .hexagon-mobile .hexagonWrapper ul li:nth-child(even) {

        font-weight: bold;

        font-size: 14px;

    }



    .mileageExpiryWrapper .leftDiv,

    .mileageExpiryWrapper .rightDiv {

        width: 100%;

        float: none;

        height: auto;

    }



    .mileageExpiryWrapper .rightDiv {margin-top: 10px;}



    .mileageExpiryWrapper .barChartWrapper .barChartLegend p {

        width: 49%;

        margin-left: 0 !important;

    }



    .mileageExpiryWrapper .barChartWrapper .barChartLegend p:nth-child(odd) {margin-top: 3px;}



    .flightBooking {display: none;}



    .futureBooking {

        margin-left: 0;

        width: 100%;

        margin-top: 20px;

    }



    .futureBooking .tableWrapper {

        overflow-x: scroll;

    }



    .dottedline {display: none;}



    .sitemap .marginL20,

    .colmglft,

    .sitemap .marginL30{margin-left: 0;}



    .custom-combobox-input {

        width: 20px;

        display: block;

        text-align: left;

        font-weight: 600;

        padding: 0 !important;

        margin-right: 30px;

    }







    .ui-autocomplete li {

        float: none !important;

        display: block !important;

        width: 100% !important;

    }



    a.custom-combobox-toggle {

        margin-top: 0;

        background: url('/iwov-resources/images/header/language.png') no-repeat right top !important;

        width: 16px;

    }



    .partnerbrickswrapper {width: 100% !important;}



    .accordionWrapper .accordion .offerSection {width: 100%;}



    .accordionWrapper .accordion .offerSection .offer {

        float: left;

        width: 50%;

        padding-left: 0;

        vertical-align: top;

        position: relative;

    }



    .accordionWrapper .accordion .offerSection .offer + .offer {padding-left: 0 !important;}



    .partnerBricks:hover .partnerBrickOffer {display: none;}



    .pn-offer-details {display: block;}



    .accordionWrapper .accordion .offerSection li.offer .partnerBrickOffer-flyout {margin-left: 0;}



    .accordionWrapper .accordion dt.fly a, .accordionWrapper .accordion dt.swipe a {

        color: #005baa;

        position: relative;

        top: 10px;

    }



    .accordionWrapper .accordion dt {

        padding: 20px 0;

        background: #fff;

    }



    .addfamilymembform .selectArrow {width: 87%;}



    .addfamilymembform select.desk-ddList {width: 100%;}



    .bluediv {margin-top: 10px;}



    .dvenrolstep2, .dvenrolstep3 {margin-top: 10px;}



    .dvenrolstep2 .dvcurrentprogressband {width: 140px;}



    .custom-combobox-input {

        width: 25px;

        border: none !important;

        margin-right: 15px;

        color: blue;

        font-size: 12px !important;

        font-weight: normal;

    }



    .withoutmenu .changePasswordformSection ul.formSection {margin: 0;}



    .withoutmenu .changePasswordformSection input[type="text"], 

    .withoutmenu .changePasswordformSection input[type="password"] {width: 87%;}



    .enrolConfirmation p {width: 50%;}



    .custom-combobox {vertical-align: top;}



    .adultWrapper .selectArrow, .childWrapper .selectArrow{width: 75%;}



    .erroricon {margin: 10px 0;}



    .activitydetails input[type=text],

    .quoteboxOrange input[type=text] {width: 87%;}



    .activitydetails p.inlineBlock {width: 100%;}



    .activitydetails p.marginL10 {margin-left: 0;}



    #btnViewMSRMPeriodicDetail {

        margin-top: 10px;

        margin-left: 0;

    }



    .quoteboxOrange input[type=button] {

        margin-left: 0;

        margin-top: 10px;

    }



    #redeemnow .marginB20 {margin-bottom: 10px;}



    #redeemnow .invitebtn {

        margin-top: 0;

        margin-left: 7px !important;

    }



    .BP-panel .vscrollbar {width: 740px;}



    .site-header nav > ul > li > a.Offer::before, .site-header nav > ul > li > a.Offer:hover::before, .site-header nav > ul > li:hover > a.Offer::before {

        background: none repeat scroll 0 0 rgba(0, 0, 0, 0);

    } 



    .tierpointstable .rightDiv {width: 100%;}



    .tierpointstable .rightDiv .rightDivList .rightDivListItem + .rightDivListItem {margin: 20px 0 0 0;}



    .tierpointstable .rightDiv .rightDivList .rightDivListItem {width: 100%;}



    .tierstab .headerrow > div, .tierstab .row > div {width: 200px;}



    .overflowscroll {overflow: scroll;}



    .goldtoplatinum, .bluetogold, .bluetosilver, .bluetoblueplus {

        width: 100%;

        margin: 5px 0;

        height: auto !important;

    }



    .goldtoplatinum {padding: 20px 30px 20px 20px;}



    .circleicon, .circleiconfc {

        position: relative;

        z-index: 999999;

        margin-bottom: 20px;

    }



    .primierblk, .frstclsblk, .economyblk1 {display: none;}



    .rightsecjpmiles {padding-right: 30px;}



    .primierblk, .frstclsblk {

        position: absolute;

        top: 0;

        left: 0;

        z-index: 99999;

    }



    .mgbtm30 {margin-bottom: 30px;}



    .ecomomybk {

        position: absolute;

        right: 50px;

    }



    .tierdetails li + li {margin-left: 1px;}



    .premier {height: 160px;}



    .economy :after, .ecomomybk :before {content: "";}



    .premier :after {content: "" !important;}



    .economyblk1 {

        position: absolute;

        width: 220px;

        right: 0;

        height: 192px;

        bottom: -40px;

    }



    .closeicon {

        position: absolute;

        right: 5px;

        top: 5px;

        cursor: pointer;

        display: block !important;

    }



    .economyblk .closeicon {

        right: 5px;

        position: absolute;

    }



    .tiericons {margin-left: -3px;}



    .premier:after {

        visibility: visible;

        position: absolute;

        top: 50px;

        right: -30px;

        border-top: 20px solid transparent;

        border-bottom: 20px solid transparent;

        border-left: 20px solid #2579B5;

    }



    .economy:after {

        visibility: visible;

        position: absolute;

        top: 50px;

        right: -30px;

        border-top: 20px solid transparent;

        border-bottom: 20px solid transparent;

        border-left: 20px solid #9F9E9E;

    }



    .economyblk:after {

        visibility: visible;

        position: absolute;

        border-top: 20px solid transparent;

        border-bottom: 20px solid transparent;

        border-right: 20px solid #BEBDBD;

        bottom: 35px;

        left: -15px;

    }



    .economyblk {

        float: right;

        margin-top: 120px;

    }



    .economyblk img {position: relative;}



    .backtomyBRlink {cursor: pointer;}



    .existingmembers {

        font-weight: 500;

        font-size: 14px;

    }



    .exitgmemb li.existingmembers:before {

        content: url('/iwov-resources/Images/iPhone/icon_circle-green.png');

        position: absolute;

        margin-top: 15px;

        margin-left: 10px;

    }



    .exitgmemb li.existingmembers.mobreddot:before {

        content: url('/iwov-resources/Images/iPhone/icon_circle-red.png');

        position: absolute;

        margin-top: 15px;

        margin-left: 10px;

    }



    .exitgmemb li.existingmembers:after {

        content: url('/iwov-resources/Images/iPhone/img_arrow.png');

        float: right;

        margin-right: 10px;

        margin-top: -30px;

    }



    ul.statuscategory li.active a {

        background: #00AEEF;

        color: #fff;

        border-top: 5px solid #00AEEF;

    }



    ul.statuscategory li {border-left: 1px solid #00AEEF;}



    ul.statuscategory {border: 1px solid #00AEEF;}



    #inviteContainer {display: none;}



    .filterpartner .leftpanel {display: none !important;}



    .filterpartner .rightpanel .innerSection {margin-left: 0;}



    ul.categoriesSearchPanel li input[type="text"] {width: 150px;}



    ul.categoriesSearchPanel li span select {width: 110px;}



    ul.categoriesSearchPanel li + li {margin: 0;}



    .filterpartner .rightpanel .bxSliderWrapper {right: 5px;}



    .tabplanels .bxSliderWrapper .bx-viewport, .tabplanels2 .bxSliderWrapper .bx-viewport, .tabplanels3 .bxSliderWrapper .bx-viewport {

        height: 200px !important;

        margin-bottom: 20px;

    }



    .tabplanels .bxSliderWrapper .bx-viewport ul li.offer, 

    .tabplanels2 .bxSliderWrapper .bx-viewport ul li.offer, 

    .tabplanels3 .bxSliderWrapper .bx-viewport ul li.offer {

        width: 24% !important;

    }



    .filterpartner .rightpanel .tabplanels {padding-top: 0;}



    .filterpartner .tabplanels .scrollBar {padding-bottom: 5px;}



    .filterpartner .tablist2, .filterpartner .tablist3 {display: table;}



    .filterpartner .tablist2 li, .filterpartner .tablist3 li {display: table-cell;}



    .filterpartner .tablist2 > li, .filterpartner .tablist3 > li {

        border-right: 1px solid #222;

        padding-right: 5px;

    }



    .filterpartner .tablist2 li + li, .filterpartner .tablist3 li + li {

        border: 0 none;

        padding-left: 5px;

    }



    .filterpartner .tablist2 li.active a, .filterpartner .tablist3 li.active a {color: #222;}



    .filterpartner .horizontaltabsOuter {display: inline-block;}



    .accinfotabheader, .accountinfo .rowContainer,

    .corpaddr .rowContainer,

    .accountinfo, .corpaddr {

        width: 100%;

    }



    .corpaddr {margin-left: 0;}



    .accountinfo, .corpaddr {margin-bottom: 20px;}



    .otherredemption .leftSection ul.desktabs {width: 50%;}



    .statuscategory {

        margin: 10px 0;

        width: 100%;

    }



    .statuscategory li a {

        border-top: none;

        padding-bottom: 0;

    }



    .grayBorder, .delinkfamilymemb, .exitgmemb {

        border: 1px solid #BEC3C7;

        overflow: hidden;

    }



    .delinkfamilymemb li + li, .exitgmemb li + li {

        border-top: 1px solid #BEC3C7;

    }



    .existingmembersHOF {

        background: #8DDFFE;

        font-weight: 500;

        font-size: 14px;

        color: #222;

        border-bottom: 1px solid #BEC3C7;

    }



    .shownxt {

        padding: 8px 20px;

        margin: 20px 0px;

        color: #fff !important;

    }



    .existingmembers a, .existingmembersHOF a {

        font-size: 14px;

        font-weight: 500;

        color: #222;

        display: block;

        margin-left: 20px;

        padding: 15px 0 15px 10px;

    }



    .subheaderMF {

        line-height: 39px;

        border-bottom: 1px solid #dedede;

        font-size: 14px;

        color: #005baa;

    }



    .usericon {margin-right: 20px;}



    .mgtop12 {margin-top: 12px;}



    .fnt14 {

        font-size: 14px;

        font-weight: 500;

    }



    .canceltxt {

        padding-right: 20px;

        font-size: 14px;

        color: #005bba;

    }



    .activateBRPiphone {

        width: 90%;

        height: 42px;

        margin: 20px;

        font-size: 18px !important;

        background: #09bdde;

        border-radius: 20px;

    }



    .iphonedialogbxwrap {

        width: 310px;

        left: 1%;

        margin-left: 0;

    }



    .iphonedialogbx {padding: 5px 20px 5px 80px;}



    .myfamilymob {color: #999;}



    .addBRPmembform {padding-left: 0;}



    .invitebtn {display: inline-block;}



    #invitefrm {

        padding: 10px;

        display: none;

    }



    .invitelink {

        border-bottom: 1px solid #8DDFFE;

        padding-bottom: 5px;

    }



    .invitelink .existmemdet, .existmemdets {

        padding-right: 40px;

        font-size: 14px;

        font-weight: 700;

    }



    .invitelink a {

        float: right;

    }



    .exitgmemb li.existingmembers::before {padding-top: 0;}



    .ministat .rowContainer {width: 800px;}



    .smallBanner .bx-wrapper .bx-viewport {height: auto !important;}



    .dvsmallbannercontainer {

        margin: 0 auto;

        position: relative;

    }



    textarea {

        border: 1px solid #ccc;

        padding-left: 5px;

        border-radius: 5px;

        cursor: default;

        width: 100%;

        resize: none;

        overflow-y: scroll;

    }



    .mobjpmile {

        margin-top: 20px;

        font-weight: 500;

        color: #999;

        margin-bottom: 10px;

    }



    .iPhonetableWrapper .iphonecustomTable {

        display: table;

        width: 758px;

        border: 1px solid #ccc;

    }



    .accountinfoncorpaddr  .whiteSpaceNowrap label {white-space: nowrap;}



    .brTable {width:650px;}



    .brTable .tHead div,

    .brTable .tRow div{width:124px;}



    .brTable .tHead div:first-child,

    .brTable .tRow div:first-child{width:150px;}



    .brTable .tRow div.width68pc{width:496px;}





    .partnerBricks .paybacklogo{width:100%}



    .benefitPrivilege .mostviewselect{width:100%}  



    .helpText.giftTransferHelpText .helpmessages::before{left: 98px;}



    .helpText.giftTransferHelpText .helpmessages {right: 30px!important;width: 99px}



    .headerLink {width: 140px;}



    nav.topNavigation {position: absolute;}



    .innerContainer { min-height: 520px}  



    .tncHolder .tabTarget {

        width: 100% !important;

        margin-left: 0px;

    }



    .jpAcTrackGoal ul.jpAcBig{ width: 660px !important}



    .jpAcTrackSet{  margin-top: 10px !important}



    #table1 .faqcommonsection, #table2 .faqcommonsection {

        width:100%;

        overflow-x: scroll;

    }



    .faqcommonsection li {padding-right: 10px}



    .termncondntabs ul.addresstb {

        width: 680px;

        padding-bottom: 2px;

    }



    .termncondntabs .prefermail {overflow-x: scroll}



    .alphabeticalist {width:100%}



    .alphabeticalist .tablist1 li {padding: 10px 0 !important;}



    .bigBanner .bx-viewport {height: 120px !important} 



    .partnerTextHolder {padding-left:12px}



    .earnpartnertitle {

        color: #005AAB;

        font-size: 18px;

        margin-bottom: 8px;

        position: static;

        width: 100%;

        height: 100%;

        top: 0px;

        left: 0px;

        padding-top: 0px;

        padding-left: 0px;

    }



    .bannerHolder img {width: 100%;}



    a.nextBtn, a.prevBtn {display: none;}



    ::-webkit-scrollbar {display: none;}



    ul.footerNavigation li{padding-top:0px; margin-top:8px}



    ul.socialLinks li a{display: inline-block; width:16px; height:26px; overflow:hidden; text-indent:-99999em;}

    .copyright-block {

        float: none;

        margin-top: 10px;

    }



    .updateProfileBodySection{overflow: scroll}



    .updateProfileBodySection .updateProfile{width:924px}



    .mobsmallBanner + .ui-widget-overlay {z-index: 100000}



    .secondFactorAuthentication section {

        width: 100%;

        float: none;

        min-height: 100%;

    }



    .secondFactorAuthentication section.expand {min-height: 100%;}



    .secondFactorAuthentication section + section {

        margin-top: 15px;

        margin-left: 0;

    }



    .secondFactorAuthentication .emailIDWrapper + div,

    .secondFactorAuthentication .mobileNumberWrapper + div,

    .secondFactorAuthentication .formLabel + .formControls {

        margin-left: 10px !important;

    }



    .secondFactorAuthentication .floating-container .floating-label {left: 23px;}



    .secondFactorAuthentication .emailIDWrapper .floating-label,

    .secondFactorAuthentication .mobileNumberWrapper .floating-label {

        top: 28px;

    }



    .verification .verificationIcon {

        float: none;

        margin: 0 auto 10px;

    }



    .verification .verificationContent {margin-left: 0;}    



    .modal {

        height: auto;

        width: auto;

        top: 10px;

        left: 10px;

        right: 10px;

        bottom: 10px;

        transform: translate(0);

        -webkit-transform: translate(0);

        -ms-transform: translate(0);

        -o-transform: translate(0);

        -moz-transform: translate(0);

    }



    .modal .modalFooter{padding-left: 0;}



    .modal .modalFooter input[type="button"] {

        width: 100%;

        margin-bottom: 10px;

    }



    .tooltipmessages{

        width: auto;

        left:10px;

        right:10px;

    }



    .dvCardImg, .dvCardImg > img {width:100%}



    #member-card-image .dvCardImg img{width:95%}



    .secondaryText~span.helpText{float:right;margin-right:3px;}



    .secondaryText~span.helpText>span.helpmessages{top:-8px}



    .JetMembership input[type="text"]{  width: 250px;}



    .minWidth630{min-height: 630px !important}



    .postloginnotificationsHover{border:1px solid #fff}



    #abtDTR ul.accordlinList li div.panel {padding:10px}



    #redeemnow input[type="text"].hasDatepicker {height: 46px !important;}



    .customPopUp {

        width: auto;

        max-height:100% !important;

        overflow: scroll;

        top: 10px;

        left: 10px;

        right: 10px;

        bottom: 10px;

        transform: translate(0);

        -webkit-transform: translate(0);

        -ms-transform: translate(0);

        -o-transform: translate(0);

        -moz-transform: translate(0);

    }



    .customPopUp .customPopUpHeader, 

    .customPopUp .customPopUpContent, 

    .customPopUp .successBox, 

    .customPopUp .validationErrors{

        width: 750px;

    }



    .customPopUp .formTemplate .formLabel .requiredfield:before{display:inline-block;}



    .customPopUp .formTemplate .formLabel{

        float:left;

        width: 140px;

    }



    .customPopUp .formTemplate .formControls .formControl{

        float: left;

        width: auto;

        margin-right:10px;

    }  



    .customPopUp .formTemplate .formFooter {

        padding: 10px 0 0 0 ;

        margin-left:140px;

    }



    .customPopUp .formTemplate .formControlExtraSmall{width:80px !important;}



    .customPopUp .formTemplate .formControlSmall{width:150px !important;}



    .customPopUp .formTemplate .formControlMedium{width:200px !important;}



    .customPopUp .formTemplate .formControlLarge{width:300px !important;}



    .customPopUp .formTemplate .formControlExtraLarge{width:400px !important;}



    .customPopUp .formTemplate .formControls select{width: auto;}



    .customPopUp .formTemplate .formControls .formControl:before{display:none;}



    .customPopUp .marginL155px {margin-left: 140px;}



    .customPopUp .marginL205px {margin-left: 195px;}



    .customPopUp .customPopUpFooter{width:620px;}



    .customPopUp .formTemplate .formControls input[type="text"],

    .customPopUp .formTemplate .formControls input[type="password"], 

    .customPopUp .formTemplate .formControls input[type="email"],

    .customPopUp .formTemplate .formControls select,

    .customPopUp .formTemplate .formControls textarea{

        padding: 9px 8px 9px 10px;

    }



    .customPopUp .formTemplate .formControls select{padding: 8px 15px 8px 10px;}



    .customPopUp .remdformfields .row input {width: auto !important;}



    .customPopUp .formTemplate .formControls .helpmessages{

        top: 4px;

        right: -158px;

    }



    .customPopUp .helpmessages::before {

        left: -10px;

        border-color: transparent #00aeef transparent transparent;

        border-style: solid;

        border-width: 10px 10px 10px 0;

    }



    .box-33 {width: 100%;}



    .boxDisplayInlineBlock {display: block;}



    .bknBox2, .bknBox3 {

        margin-left: 0;

        margin-top: 10px;

    }



    .width70percent,.width49percent{width:100%}



    .JetMembership label {line-height: 20px}



    .ejp .marginL10 {margin-left:0 !important} 



    .ejp .inlineBlock img{ margin-bottom:10px !important} 



    .ejp .ejpimgwraper .fl {float:none}



    .enrolChildInfo li{

        width: 146px;

        display: inline-block;

    }



    #enrolbutton {text-align:left !important}



    #enrolbutton span.textCenter {margin-left:30px !important}



    .buttonContainer .memberText {

        font-size:13px; 

        margin-top:6px

    }



    .Infantlabel{width:89%;}
    /*sprint 54*/
    .modal-content.sizer {
        width: 100% !important;
        margin-left: 0% !important;
        margin-top: 150px !important;
    }
}

/*Mobile End*/



/* Mobile Devices Landscape mode Start */

@media screen and (min-device-width: 320px) and (max-device-width : 767px) and (orientation : landscape) {



    .sitemap .marginL30 {margin-left: 5px;}



    .offerInformationWrapper .rightDiv {width: 400px;}



    .tabsWrapper .tabsList .rightDiv {

        width: auto;

        overflow-x: auto;

    }



    .giftsTransferPage .tabsWrapper .tabsList .rightDiv {width: 50%;}



    .horizontaltabs {

        overflow-x: scroll;

        width: auto;

        height: auto;

    }



    .horizontaltabsOuter {

        width: 100%;

        overflow: scroll;

    }



    .cdp-details-box-row1 > div{width:32.5%}



    #desk-myfamilytab3 .jettable .totcaption {

        position: absolute;

        left: 20%;

    }



    #desk-myfamilytab3 .jettable .totval {

        position: absolute;

        left: 44%;

    }



    .tierdetails li + li {margin-left: 39px;}



    .rightsecjpmiles {width: 40%;}



    .economyblk img {

        right: -5px;

        position: absolute;

        z-index: 999999;

    }



    .tiericons {margin: 20px auto 20px 50px;}



    .economyblk1 {width: 280px;}



    .frstclsblk, .primierblk {width: 250px;}



    .premier::after, .economy::after {right: 60px;}



    .economyblk img {top: 5px;}



    .economyblk::after {

        bottom: -81px;

        left: -125px;

    }



    .economyblk1 {top: -90px;}



    #table1 .faqcommonsection ,#table2 .faqcommonsection {width:70%;}



    .atozglossary{

        margin:0px auto;

        width:50%;

    }



    .bigBanner .bx-wrapper .bx-pager{position:relative;top:-40px}



    .bigBanner .bx-viewport {height: 205px !important;} 



    .tab_content-new .tab-img {width: 50%;}



    .mob-View {display: block; clear: both;}



    .mobrefinedropdown {float: right;}



    .mobView {display: block;}    



    #optionOverlay .selectArrow {width: 94%;}    



    .enrolChildInfo li{width: 179px;}

}

/* Mobile Devices Landscape mode End */



@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {



    .addfamilymembform .selectArrow {width: 87%}



    #iPhoneAccordian{display:none !important}



    .dvsmallbannercontainer {

        margin: 0 auto;

        position: relative;

    }



    .partnerBricks:hover .partnerBrickOffer {display: none;}



    .pn-offer-details {display: block;}



    .activatemyfamily {width: 200px;}



    .activatemyfamily {width: 200px !important;}



    .fr.delinkfaml {float:left !important}  



    .ejp .marginL10 {margin-left:0 !important} 



    .ejp .inlineBlock img{ margin-bottom:10px !important} 



    .ejp .ejpimgwraper .fl {float:none}

}



@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

    .recaptchaarea>div div {
        width: 61%;
    }
    .boxinput input {
        margin: 1%!important;
    }

    .bknBox2, .bknBox3 {margin-left: 10px;}



    .addfamilymembform > div {width: 47%}



    .addfamilymembform .selectArrow {width: 87%}



    #iPhoneAccordian{display:none !important}



    .innerContainer, .container {

        width: 100% !important;

        padding: 0 10px !important;

    }



    .tabRightSection {width: 415px;}



    .rightLinkArrow {

        background: url('/iwov-resources/images/megaMenu/sprite_link-arrows.png') no-repeat 0 0 transparent;

        height: 12px;

        width: 8px;

        margin: 3px 5px;

    }



    .bx-wrapper .bx-viewport {box-shadow: none;}



    .bigBanner .bx-wrapper .bx-viewport {width: auto !important;}



    .bigBanner .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {bottom: 6px !important;}



    .loginform {

        float: left !important;

        width: 310px;

        border-right: 1px solid #09BDDE;

        clear: right;

        margin-right: 20px; 

    }



    .loginform ul {

        border: 0px;

        margin: 0;

        padding: 0;

    }



    input, label {display: inline-block;}



    .multiplewayscollectmile {

        display: inline-block;

        margin-left: 0px;

        margin-top: 10px !important; 

        margin-bottom: 0px;

        float: none; 

        width: 100%;

    }



    .loginform hr {display: none;}



    .inputContainer .fieldname {width: 45%;}



    .loginformsec {margin-bottom: 0;}



    .loginform {margin-bottom: 0 !important; }



    #bxsliderSmallBanner > li {min-height: 265px !important;}



    .pressroomwrappertop {

        margin: 0px auto 15px;

        position: relative;

        width: 722px;

        display: block;

    }



    .pressroomblock1 .bx-viewport {

        height: 163px !important;

        border: medium none !important;

    }



    .pressroomblock1 .bx-wrapper .bx-controls-direction a {top: 100%;}



    .pressroomblock1 .bx-wrapper .bx-next {right: 50%;}



    .pressroomblock2 {

        width: 100%;

        margin-left: 0px;

        margin-top: 5px;

    }



    .listslider li {

        width: 260px !important;

        color: #105baa; 

    }



    .callout, .callout2, .callout3 {width: 410px;}



    .pressroomblock2 .callout .bx-wrapper .bx-controls-direction .bx-next {

        width: 30px;

        height: 15px;

        margin-top: 115px;

        margin-left: 15%;

    }



    #mainImage img {width: 425px;}



    .galleryslider img {width: 175px;}



    .pressroomblock3 {

        width: 425px;

        float: left;

    }



    .imggallery .bx-wrapper {

        max-width: 360px !important;

        margin-bottom: 25px !important; 

    }



    .mediacontact {

        width: 287px;

        float: right;

    }



    .pressroomblock1 .bx-wrapper .bx-next:hover {

        right: 50%;

        background: url("/iwov-resources/images/pressroom/downarrow.png") no-repeat 0px 0px transparent;

    }



    .pressroomblock2 .bx-wrapper .bx-next {left: 15%;}



    .pressroomblock2 .bx-wrapper .bx-prev {left: 15%;}



    .pressroomblock2 {font-size: 13px;}



    .imggallerytextbold {

        font-size: 12px;

        margin-left: 10px;

    }



    .imggallerytextnormal {

        font-size: 13px;

        margin-left: 10px;

    }



    .presscontactname { 

        font-weight: 600;

        height: 50px 

    }



    .downloadlogo {

        font-size: 14px;

        font-weight: 500;

        padding: 0 10px;

        line-height: 40px;

    }



    .downloadlogo img {display: none;}



    .logoimageContainer {color: #105baa;}



    .pressroomblock2 .pressroomdivtitle {

        padding: 10px 0px 15px 10px;

        margin: 0px;

    }



    .listslider ul {margin-top: 5px;}



    .listslider ul > li:not(:last-child) {

        padding-bottom: 10px;

        padding-top: 10px;

    }



    .pressroomblock2 .bx-wrapper .bx-controls-direction .bx-next {margin-top: 15px;}



    .listslider .bx-viewport {height: 245px !important;}



    .pressroomblock3 .formheader {margin-bottom: 15px;}



    .pressroomwrappertop, .pressroomwrapperbottom {margin-bottom: 20px !important;}



    .imggallery .slide {width: 185px !important;}



    .refrences1, .refrences2, .refrences3 {padding: 20px 20px 10px 20px;}



    .mediacontact .iconJpg {

        background: url("/iwov-resources/images/pressroom/doc_icon.png") no-repeat;

        height: 30px;

    }



    .mediacontact .iconTiff {

        background: url("/iwov-resources/images/pressroom/tiff_icon.png") no-repeat;

        height: 30px;

    }



    .mediacontact .iconEpsicon {

        background: url("/iwov-resources/images/pressroom/Eps_icon.png") no-repeat;

        height: 30px;

    }



    .opentab .bx-wrapper .bx-controls-direction a, 

    .tabplanels .bx-wrapper .bx-controls-direction a {

        top: 40% !important;

    }



    .pressroomblock1 .bx-wrapper .bx-controls-direction a {margin-top: 77px;}



    .awards2006txt {background: none;}



    .cmm-banner-box1 {

        padding: 8px 4px !important;

        left: 55%;

    }



    .cmm-banner-box2 {

        padding: 6px 2px !important;

        left: 37%;

    }



    .cmm-banner-box2 .enrollbutton {

        height: 22px;

        font-size: 10px;

        width: auto;

        border-radius: 12px;

        padding: 0 10px;

        margin-top: 5px;

    }



    .cmm-banner-box3 {

        padding: 8px 4px !important;

        right: 1%;

        width: 164px;

    }



    .cmm-banner-box3 .enrollbutton {

        font-size: 10px;

        width: 110px;

        border-radius: 15px;

        margin-top: 5px;

        float: right;

        margin-right: 30px;

        line-height: 10px;

    }



    .arrow-left {

        left: 52%;

        top: 22%;

    }



    .liteAccordion .slide > h2 span.hdrIcon, 

    .liteAccordion .slide > h2.selected span.hdrIcon, 

    .liteAccordion .slide > h2.selected span.hdrIcon {

        position: absolute;

    }



    .logo {margin-top: 20px;}



    .partnersContainerInner {width: 130px;}



    .leftSection {width: 580px;}



    .rightSection {width: 154px;}



    .mobQuick {display: none;}



    .orderbutton {

        padding: 4px !important;

        width: 78px;

        border-radius: 15px;

        right: 0px; 

    }



    .claim-dd-class {background: url("/iwov-resources/images/component/sprite_dpdn-arrow.png") no-repeat 195px 15px rgb(255, 255, 255) !important;}



    .dvleftjobtitle {width: 170px;}



    .dvjobdescription {margin: 0 175px 0 200px;}



    .servicecentercontent, .servicecentercontent1, .servicecentercontent2 {width: 113px;}



    .block1 {width: 336px;}



    .form-desktop-view .button-div {width: 46%;}



    .offerplattercontainer {width: auto;}



    .offerplattercontainer .largetxtborder .bx-wrapper .bx-next, 

    .offerplattercontainer .largetxtborderbtm .bx-wrapper .bx-next {

        right: -10px;

    }



    .offerplattercontainer .largetxtborder .bxsliderrow1 li, 

    .offerplattercontainer .largetxtborderbtm .bxsliderrow2 li {

        left: 0;

    }



    .offerplattercontainer .largetxtborder .largetxt, 

    .offerplattercontainer .largetxtborderbtm .largetxt {

        width: 140px;

        font-size: 25px;

    }



    .tabscontainer {width: 557px;}



    .tab_container {width: auto;}



    .horizontaltabs {

        width: auto;

        margin-left: 0px; 

    }



    .verticaltabs {height: 520px;}



    .margin121 {margin: 0 121px;}



    .marginLeft121{margin-left:80px}



    .marginLeft242{

        margin-left:121px;

        margin-right:60px

    }



    .BPcont .mostviewselect {width: 120px;}



    .tbl-wdth-lrg, 

    .benefitPrivilege .row .tbl-wdth-lrg,

    .platinum .row .tbl-wdth-lrg {

        width: 297px;

    }



    .cdp-details-box-row1 > div {background-size: 112%;}



    .cdp-details-box-row2-col2, .cdp-details-box-row3-col2 {width: 512px;}



    .row2-col2-cont1, .row3-col2-cont1 {margin-right: 10px;}



    .bg-hertz div.block-3, .bg-hertz div.block-2 {top: 20px;}



    .bg-hertz div.block-2 {left: 265px;}



    .bg-hertz div.block-3 {width: 220px;}



    .cdp-details-box-col {width: 20%;}



    .cdp-details-box-row2, .cdp-details-box-row3 {width: 690px;}



    .offer-overview .cont-car-rent {width: 510px;}



    .offerInformationSection .offerInformationContent > li:first-child,

    .benefitsInformationSection .benefitsInformationContent > li:first-child {

        width: 14%;

    }



    .offerInformationSection .offerInformationContent li:first-child .offerSummaryList,

    .benefitsInformationSection .benefitsInformationContent li:first-child .benefitsSummaryList {

        font-size: 9px;

    }



    .offer .details .offerLogo img {max-width: 72px;}



    .offerInformationWrapper {padding: 10px 5px;}



    .offerInformationWrapper .leftDiv {width: 150px;}



    .offerInformationWrapper .rightDiv {

        width: 550px;

        overflow-x: scroll;

        white-space: nowrap;

    }



    .offerInformationWrapper .rightDiv .rightDivList .rightDivListItem {white-space: normal;}



    .offerInformationWrapper .rightDiv .offerValue li,

    .offerInformationWrapper .leftDiv .offerLabel li {

        min-height: 40px;

    }



    .myfamily .leftSection ul.desktabs {width: 416px;}



    .myfamily .leftSection ul.desktabs {width: 100%;}



    .membnamedetails {

        height: auto;

        width: auto;

    }



    .myfamilystatus {width: 180px;}



    .familymembers {margin-bottom: 20px;}



    .otherredemption .leftSection ul.desktabs {width: 100%;}



    .otherredemption .leftSection ul.tablist1 {margin-right: 0;}



    .otherredemption .leftSection ul.tablist1 li {padding: 10px 5px !important;}



    .otherredemption .myfamilytab2 a,

    .otherredemption .myfamilytab3 a {padding: 10px !important;}



    .otherredemption #partnersawards-tab-content .remdformfields #datepicker {width: 160px !important;}



    .otherredemption #partnersawards-tab-content select {

        width: 200px !important;

        margin: 2px 0;

    }



    .otherredemption .addpassginfo .wd50 {

        width: 50px;

        text-align: center;

    }



    .otherredemption .addpassginfo .wd70 {

        width: 70px;

        text-align: center;

    }



    .otherredemption .addpassginfo .wd80 {

        width: 80px;

        text-align: center;

    }



    .otherredemption .addpassginfo .wd85 {

        width: 85px;

        text-align: center;

    }



    .mileagecalc .leftSection ul.desktabs {width: 100%;}



    .mileagecalc ul.desktabs li a {width: 100% !important;}



    .BPcont .mostviewselect {

        width: 235px;

        padding-right: 25px;

    }



    .benefitPrivilege .row .tbl-wdth-lrg {width: 297px;}



    .headerrow .tbl-wdth-lrg, .platinum .row .tbl-wdth-lrg {width: 296px;}



    .tbl-wdth-sml, 

    .benefitPrivilege .row .tbl-wdth-sml,

    .platinum .row .tbl-wdth-sml {

        width: 93px;

    }



    .tri-img1, .tri-img2, .tri-img3, .tri-img4 {

        background-size: 100%;

        height: 100px;

    }



    .tri-img1, .tri-img3 {margin-right: 30px;}



    .box1 {width: 273px;}



    .box1 p {

        width: 190px;

        line-height: 15px;

        font-size: 12px;

    }



    .tri-img1 p, .tri-img3 p {margin-left: 85px;}



    .tri-img2 p, .tri-img4 p {margin-left: 0;}



    .pd_tpbt {padding: 8px 0 7px;}



    .row div.tbl-wdth-sml:last-child, 

    .inner-row div.tbl-wdth-sml:last-child {

        width: 15.6% !important;

    }



    .tabwidth {width: 580px;}



    .myfamily .leftSection ul.desktabs {width: 430px;}



    .myfamilytab2 a, 

    .myfamilytab3 a, 

    .myfamilytab4 a {

        width: auto !important;

    }



    .deskhorizontaltabs button.aboutfamily {width: 134px;}



    .myfamilymemb {width: 180px;}



    .myfamilymemb .childLinks li {float: left;}



    .myfamilymemb .row input {width: 40px !important;}



    .poolbtn {margin-left: 87px;}



    .poolsucessmsg {width: 155px !important;}



    .myfamilytab2 a {padding: 10px 10px !important;}



    .otherredemption .leftSection ul.desktabs {width: 100%;}



    .otherredemption .leftSection ul.tablist1 {margin-right: 0px;}



    .otherredemption .leftSection ul.tablist1 li {padding: 10px 5px !important;}



    .otherredemption .myfamilytab2 a {padding: 10px 10px !important;}



    .otherredemption .myfamilytab3 a {padding: 10px 10px !important;}



    .otherredemption #partnersawards-tab-content .remdformfields #datepicker {width: 160px !important;}



    .otherredemption #partnersawards-tab-content select {

        width: 200px !important;

        margin: 2px 0px;

    }



    .bookingref {

        float: right;

        width: 150px;

        margin-top: -15px;

    }



    .ticketcoll {

        width: 75%;

        margin: 0 auto;

    }



    .otherredemption .addpassginfo .wd50 {

        width: 50px;

        text-align: center;

    }



    .otherredemption .addpassginfo .wd70 {

        width: 70px;

        text-align: center;

    }



    .otherredemption .addpassginfo .wd80 {

        width: 80px;

        text-align: center;

    }



    .otherredemption .addpassginfo .wd85 {

        width: 85px;

        text-align: center;

    }



    .mileagecalc .leftSection ul.desktabs {width: 100%;}



    .mileagecalc ul.desktabs li a {width: 100% !important;}



    .otheredemtaboverflow .addsegtab .addseg {left: -55px;}



    .otheredemtaboverflow .addsegtab .mealconfirmbtn .addseg {left: 0 !important;}



    .abouttabs {margin-right: 5px;}



    .aboutsubtabs{width: 273px}



    .otherredemption .addsegtab .wd70px {width: 70px !important;}



    .updateProfile {background: url("/iwov-resources/images/updateProfile/bigSign.png") no-repeat left top;}



    .updateProfileWpapper {margin-left: 95px;}



    .updateProfileName {margin-left: -15px;}



    .inner {min-height:130px}



    .filterpartner .offerSection .offer{width:284px}



    .rightpanel h3{width:auto}



    .cardOverviewWrapper { width:100%  }



    .cardOverviewWrapper .cardOverviews {

        width:225px;

        overflow: hidden;

        vertical-align: top

    }



    .jetInfoTopWrapper .setAtTop,

    .jetInfoTopWrapper .separator{top:0;}



    .jetInfoTopWrapper .iPadsetAtTop{top:-40px;}



    .Horizontalseparator img {

        left: 30%;

        top: -40px;

    }



    #redeemnow select.desk-ddList {width: 150px;}



    offerplattercontainer .brickscontainer {width: 120px;}



    .tabscontainers {width: 500px;}



    .verticaltabs {

        margin-right: 20px;

        width: 140px;

    }



    .mostvieweddesk {margin-right: 0;}



    #redeemnow select.desk-ddList {width: 150px;}



    .accinfotabheader, .accountinfo .rowContainer, .corpaddr .rowContainer, .accountinfo, .corpaddr {

        width: 280px;

    }



    .otherredemption .myfamilytab2 a, .otherredemption .myfamilytab3 a {padding: 0 10px !important;}



    .otherredemption .leftSection ul.desktabs {width: 50%;}



    .trackerWrapper .tracker .trackerListItem { width:145px}



    .ImageInfoText .ImageInfoWrapper {width: 30%;}



    .ImageInfoText .ImageInformationText {width: 65%;}



    .shadowSep { background-size: 90%}



    .gridTextWrapper{width:100%;}



    .offerplattercontainer .tab_content-new .tab-img, .imgBlock ul li {width: auto !important;}



    #desk-myfamilytab3 .jettable .totcaption{

        position: absolute;

        left: 10%;

    }



    #desk-myfamilytab3 .jettable .totval{

        position: absolute; 

        left: 41%;

    }



    .cardPrivilegesWrapper .cardRentalCar {height: 560px;}



    .imggallerytextnormal {width: 95%;}



    .card-request-cont{width:748px}



    .home-details label{width:38%}



    .home-details input{width:60%}



    .dashboardWrapper .rightDiv {

        width: auto;

        float: right;

        margin-right: 30px;

    }



    .dashboardWrapper .rightDiv .link1 {

        float: left;

        margin-top: 15px;

        margin-right: 8px;

    }



    .dashboardWrapper .rightDiv p {

        float: left;

        width: 190px;

    }



    .dashboardWrapper .rightDiv .link2{display:block;}  



    .flightBooking, .futureBooking {

        margin-left: 30px;

        width: 410px;

    }



    .futureBooking {

        display: block;

        clear: both;

        width: 100%;

        margin-left: 0;

        margin-top: 30px;

    }



    .accordionWrapper .accordion .offerSection .offer {

        vertical-align: top;

        position: relative;

    }



    .accordionWrapper .accordion .offerSection .offer + .offer {padding-left: 22px !important;}



    .accordionWrapper .accordion .offerSection li.offer + li.offer .partnerBrickOffer-flyout {margin-left: 22px;}



    .partnerBricks:hover .partnerBrickOffer {display: none;}



    .pn-offer-details {display: block;}



    .widthEnrollUrChild {width: 180px;}



    .plataccord ul.accordlinList li {border: none;}



    .plataccord ul.accordlinList li .expandcollapsetitle span {

        left: 5px;

        top: 5px;

    }



    .plataccord ul.accordlinList li .expandcollapsetitle {background-color: #E5E7E8;}



    .plataccord ul.accordlinList li div.panel {padding: 0;}



    .width175 {width: 160px;}



    .benefitsPrivelege .headerrow .tbl-wdth-lrg, 

    .benefitsPrivelege .row .tbl-wdth-lrg {

        width: 285px;

    }



    .tierpointstable .rightDiv .offerValue {padding: 0 10px 0;}



    .tierpointstable .rightDiv .rightDivList .rightDivListItem + .rightDivListItem {margin-left: 5px;}



    .tierstab .headerrow > div, 

    .tierstab .row > div {

        width: 80px;

    }



    .tierpointstable .rightDiv .rightDivList .rightDivListItem span {margin-left: 10px;}



    .bluetoblueplus {

        width: 140px;

        height: 255px;

    }



    .bluetosilver {

        width: 170px;

        height: 255px;

    }



    .bluetogold {

        width: 164px;

        height: 255px;

    }



    .goldtoplatinum {

        width: 148px;

        padding: 45px 20px 20px;

        height: auto;

    }



    .economyicon img {width: 99px;}



    .closeicon {display: none;}



    .rightsecjpmiles {margin-left: -5px;}



    .economyblk1 {

        width: 155px;

        padding: 2px 50px 20px 10px;

    }



    .primierblk, .frstclsblk {width: 150px;}



    .secblock {background: url("/iwov-resources/images/dtr/circelbg.png") no-repeat scroll 47% transparent;}



    .economyblk img {right: -2px;}



    .tiericons {margin-left: 80px;}



    .smallBanner #slider-prev, .mobcontent #slider-prev{left:-9px}



    .leftpanel label {

        width: 124px;

        text-overflow: ellipsis;

        overflow: hidden

    }



    ul.categoriesIconHolder li {margin-left:16px;}



    .ipadPortraitWidth66px{width: 66px !important}



    .ipadPortraitWidth75pc{width: 75% !important}



    .activatemyfamily {width: 200px;}



    .activatemyfamily {width: 200px !important;}



    .fr.delinkfaml {float:left !important}



    #form1{min-height:600px} 



    .custom-combobox-input{width:150px}



    .megaMBricks .offerLogo{height:75px}



    .secondFactorAuthentication section {

        width: 100%;

        float: none;

        min-height: 100%;

    }



    .secondFactorAuthentication section.expand {min-height: 100%;}



    .secondFactorAuthentication section + section {

        margin-top: 15px;

        margin-left: 0;

    }



    .bannerHolder img {width: 100%;}



    .ejp .marginL10 {margin-left:0 !important} 



    .ejp .inlineBlock img{ margin-bottom:10px !important} 



    .ejp .ejpimgwraper .fl {float:none}



    .orderbutton span {

        padding: 0 10px;

        font-size:14px;

    }

    .awards2008, .awards2006, .awards2007, .awards2012, .awards2013, .awards2004, .awards2005{width: 113px}



    .awards2006.margin121{margin:0}



    .rightSection .pn-offer-details { 

        position:relative;

        top:25px;

        left:10px

    }



    .rightSection .partnerBrickOffer-flyout {top:25px}

}



@media print {

    .printBtn {display: none;}

}



@media screen and (min-device-width : 600px) and (max-device-width : 1024px) and (orientation : portrait){

    .ui-datepicker{left:47% !important}



    #DivAddmemberTitle{display:block}



    .addfamilymembform .myfamilymob p{display:none}



    .hexagon-mobile{text-align: center;}



    .hexagon-mobile .hexagonWrapper{width: 189px}



    .container, .innerContainer {width: 924px}

}



@media screen and (min-device-width : 600px) and (max-device-width : 1024px) and (orientation : landscape){

    .withoutmenu .innerContainer {height: 400px;overflow:auto}



    .tableWrapper .customTable .tRow div{width:auto}



    .container, .innerContainer {width: 924px}

}


@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {

    .donebut {
        width: 50px;
        padding: 8px;
        height:36px ;
        font-size: 13px;
        border-radius: 3px;
        margin-left: 160px;
    }
    .rightdata {
        float: left;
        padding: 40px 0 0 9px;
    }
    .amtvalue {
        position:absolute;
        margin-top: 30px;
    }
    .amtvalue1 {
        margin-top: 30px !important;
        margin-left: 30px !important;
    }
    .imagebar1 img {
        width: 244px !important;
    }
    .aheadiv {
        padding: 8px 9px;
    }
    .imagebar {
        width: 338px !important;
    }
    .spends_calc {
        padding-top: 50px;
    }
    .asRange {
        width: 240px !important;
        margin-left: 0px !important;
    }
    .imagebar img {
        width: 245px;
        padding-left: 0px;
    }
    input#unranged-value1 {
        margin: 0px;
        width: 80px !important;

    }
    input#unranged-value2 {
        margin:0px;
    }
    .infodown {
        margin-left: 40px !important;
    }
    .imagebar9 img {
        width: 244px !important;
    }
    .rightdata9 {
        padding: 43px 0 0 8px !important;
    }
    .slider_error_div_compare {
        padding-left: 2px !important;
    }
    .slider_error_div {
        margin-left: 0px !important;
    }
    .slider_modal_div_error {

        display: inline-block;
        margin-left: 0px !important;
        padding-left: 31px !important;
        padding-bottom: 22px;

        .recaptchaarea >div div {
            width: 80%;
            /* background-color: #f00; */
        }


    }

    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) { 

        .asRange {
            width: 260px !important;
            margin-left: 0px !important;
        }
        .imagebar img {
            width: 262px;
            padding-left: 0px;
        }
        .donebut {
            width: 50px;
            padding: 8px;
            font-size: 13px;
            border-radius: 3px;
            margin-left: 160px;
        }

        .amtvalue {

            margin-top: 25px;
        }
        .aheadiv {
            margin-right: 0px;

        }
        .imagebar {
            width: 330px;
            margin-top: 10px;
        }

    }

    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) { 
        .aheadiv {
            margin-right: 0px;
            padding: 0px;
        }
        /*.recaptchaarea>div iframe {
            width: 127% !important;
        }*/
        .imagebar {
            width: 363px;
        }
        .asRange {
            width: 300px !important;
            margin-left: 0px !important;
        }
        .imagebar img {
            width: 305px;
            padding-left: 0px;
        }
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 1) {

    .boxinput input {
        margin: 1%!important;
    }
    .recaptchaarea >div iframe {
        width: 110% !important;
    }


    .imagebar {
        width: 449px;
        margin-left: 0px;
    }
    .rightdata9 {
        padding-left: 222px !important;
        padding-top: 30px !important;
    }
    .aheadiv {
        right: 332px;
    }
    .grid-Container.grid-Container960 {
        width: 100% !important;
        margin: 0 auto;
    }
    .infodown {
        margin-left: 130px;
    }
    .amtvalue {
        width: 100%;
        margin-bottom: 20px;
    }
    .donebut {
        margin-top: 0px;
        margin-right: 0px;
        margin-left: 27px !important;
    }
    .rightdata {
        padding-top: 0px;
    }
    .slider_error_div_compare {
        float: left;
        margin-left: -14px;
        width: 100%;
        text-align: center;
        padding-left: 0px !important;
    }
    .slider_error_div {
        float: left;
        margin-left: 0px !important;
        width: 100%;
    }
}
@media only screen and (width: 360px) {
    .aheadiv {
        margin-top: 0px;
        margin-right: 0px;
        padding: 8px 9px;
    }

}
@media only screen and (width: 412px) {
    .aheadiv {

        margin-right: 0px;
        padding: 8px 9px;
    }
}
@media only screen and (width: 411px) {
    .aheadiv {

        margin-right: 0px;
        padding: 8px 9px;
    }
    .amtvalue1 {
        margin-left: 30px !important;
    }
}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) and (orientation : portrait) {

    .boxinput input {
        margin: 1%!important;
    }
    .recaptchaarea >div iframe {
        width: 100% !important;
    }
}

@media only screen and (min-device-width : 731px) and (max-device-width : 733px){
    .left_nav {
        width: 25%;
        text-align: center;
        display: inline-block;
        cursor: pointer;
        vertical-align: top;
    }

    .continue_button {
        width: 50%;
        text-align: center;
        display: inline;
    }
}
@media only screen and (min-device-width : 667px) and (max-device-width : 668px){
    .left_nav {
        width: 25%;
        text-align: center;
        display: inline-block;
        cursor: pointer;
        vertical-align: top;
    }

    .continue_button {
        width: 50%;
        text-align: center;
        display: inline;
    }
}

@media only screen and (min-device-width : 736px) and (max-device-width : 737px){
    .left_nav {
        width: 25%;
        text-align: center;
        display: inline-block;
        cursor: pointer;
        vertical-align: top;
    }

    .continue_button {
        width: 50%;
        text-align: center;
        display: inline;
    }
}